.baner__wrapper
    .baner__content
        .baner__title Быстрый trade-in
        .baner__subtitle Для жителей Юнтолово и Северной долины
        .baner__form
            .baner__form__title Скидка 100 000 ₽
            .button__wrapper.popup__show(data-anchor="#feedback-popup") Получить скидку
            .img__wrapper
                img(src="img/trade-in/icons/percent.svg")
        .baner__bg
            img(src="img/trade-in/baner-bg.png")
            .img__wrapper
                img(src="img/trade-in/baner-bg-2.svg")

