.layout__wrapper.layout__wrapper-4
    .bg__layout
        .arrow__wrapper.arrow__wrapper-1
            img(src="img/trade-in/icons/arrow.svg")
        .arrow__wrapper.arrow__wrapper-2
            img(src="img/trade-in/icons/arrow.svg")
        .arrow__wrapper.arrow__wrapper-3
            img(src="img/trade-in/icons/arrow.svg")
        .arrow__wrapper.arrow__wrapper-4
            img(src="img/trade-in/icons/arrow.svg")
        .img__wrapper.img__wrapper-1
            img(src="img/trade-in/apartment.png")
        .img__wrapper.img__wrapper-2
            img(src="img/trade-in/apartment-2.png")
    .example__ul
        .example__li
            .layout__subtitle Обменяйте однушку на квартиру побольше
            .layout__text «Главстрой Санкт-Петербург» быстро и без посредников выкупит вашу квартиру, и зачтет деньги в счет новой.
        .example__li
            .layout__subtitle Обменять квартиру просто
            .layout__text Мы принимаем в зачет как готовые, так и строящиеся квартиры, расположенные в ЖК “Северная долина” и “Юнтолово”.
        .example__li
            .layout__subtitle Наше важное преимущество
            .layout__text Мы не выступаем посредниками, а сразу выкупаем Вашу квартиру. Не нужно тратить время на демонстрацию жилья потенциальным покупателям.

