.trade-form__section
    .trade-form__wrapper
        .trade-form__title Оцените свою квартиру в один клик
        .card-form__section
            form(action="#").card-form__wrapper
                .card-form__title Укажите параметры вашей квартиры
                .radio__label-section Ваш ЖК
                .radio__section
                    input(type="radio" name="jk-name" id="yuntolovo")
                    label(for="yuntolovo").radio__wrapper Юнтолово
                    input(type="radio" name="jk-name" id="sevdol")
                    label(for="sevdol").radio__wrapper Северная долина
                .card-form__row
                    .input-text__section
                        .input-text__label Улица
                        .input-text__wrapper
                            input(type="text" name="street")
                    .input-text__section
                        .input-text__label Дом
                        .input-text__wrapper
                            input(type="text" name="house")
                    .input-text__section
                        .input-text__label Корпус
                        .input-text__wrapper
                            input(type="text" name="building")
                    .input-text__section
                        .input-text__label Квартира
                        .input-text__wrapper
                            input(type="text" name="apartment")
                .input-edit Или
                    input(type="radio" name="edit" id="edit")
                    label(for="edit").input-edit__label введите номер договора
                    .input-text__section
                        .input-text__label Номер договора
                        .input-text__wrapper
                            input(type="text" name="contract-number")
                input(type="submit" value="Оценить квартиру" class="button__wrapper")
                .card-form__footer
                     div Предварительный результат оценки
                     .price от 4 100 000 ₽
            .feedback__wrapper
                .feedback__title Не нашли свою квартиру?
                .manager__section
                    .manager__icon
                        img(src="./img/trade-in/manager-icon.png")
                    .manager__info
                        .manager__name Имя Фамилия
                            .manager__position Менеджер
                        .message__section Здравствуйте! С радостью проведу для Вас бесплатную консультацию
                form
                    .input-text__section
                        .input-text__label Телефон
                        .input-text__wrapper
                            input(type="text" name="feedback-phone")
                    input(type="submit" class="button__wrapper button__wrapper-white" value="Получить консультацию")
