.popup__wrapper#feedback-popup
    .popup__bg
    .popup__body
        .popup__close(data-anchor="#feedback-popup")
            img(src="./img/trade-in/icons/close.svg")
        .popup__title Спасибо
        .popup__text за Вашу заявку по программе trade-in
        .popup__text Вступайте в нашу группу Вконтакте и узнайте первым о наших специальных предложениях и жизни в Юнтолово!
        a(href="#").button__wrapper вступить
.popup__wrapper#error__popup
    .popup__bg
    .popup__body
        .popup__close(data-anchor="#error__popup")
            img(src="./img/trade-in/icons/close.svg")
        .popup__title Некорректно введен номер
        .button__wrapper.button__wrapper-white.popup__close(data-anchor="#error__popup") попробовать снова
