.layout__wrapper.layout__wrapper-2
    .layout__subtitle Обменять квартиру на новое и более просторное жилье от застройщика теперь можно всего за три шага!
    .step__items
        .step__item
            .step__number 1
            .step__title Подбор и бронирование
            .layout__text новой квартиры в ЖК «Северная долина» или "Юнтолово"
        .step__item
            .step__number 2
            .step__title Осмотр и оценка
            .layout__text Вашей квартиры сотрудником «Главстрой Санкт-Петербург»
        .step__item
            .step__number 3
            .step__title Согласование и цены
            .layout__text Вашей квартиры и заключение сделки с "Главстрой Санкт-Петербург"
