@import "../mixin/flex.styl"
.filter
    &__items
        flex()
        font-family: Museo-300, Arial, sans-serif
        margin-bottom: 61px
        @media(max-width: 1366px)
            flex-wrap: wrap
            justify-content: space-between
        @media(max-width: 1023px)
            margin-bottom: 32px
    &__item
        margin-right: 153px
        &-floor
            flex-grow: 1
        select
            visibility: hidden
            width: 384px
            @media(max-width: 1023px)
                .filter__item select
                    width: 300px;
                    height: 35px;
        

        @media(max-width: 1366px)
            &:first-child
                margin-right: 10%
                margin-bottom: 20px
            &-floor
                margin-right: 0
        @media(max-width: 767px)
            margin-right: 0
            width: 100%
            &:first-child
                margin-right: 0
            &:last-child
                display: none
    &__label
        font-size: 12px
        line-height: 14px
        color: rgba(51, 51, 51, 0.78)
        opacity: 0.4
        margin-bottom: 9px

.floor
    &__items
        display: inline-flex
        justify-content flex-start
        align-items: center

        label
            position: relative
            cursor: pointer
            input
                width: 0.01px
                height: 0.01px
                position: absolute
                z-index: -10
                left: 0
                top: 0
                opacity: 0
            input:checked+.floor__item
                background-color: #309B42
                border-color: #309B42
                color: #fff
    &__item
        width: 48px
        height: 48px
        flex(center, center, row)
        color: rgba(51, 51, 51, 0.6)
        font-family: Museo-300, Arial, sans-serif
        font-size: 16px
        line-height: 140%
        border: 1px solid rgba(0, 0, 0, 0.1)
        border-radius: 4px
        margin-right: 2px
        @media(max-width: 1023px)
            width: 32px
            height: 32px


.show-type
    &__wrapper
        flex()
        position: relative
        input
            width: 0.01px
            height: 0.01px
            position: absolute
            z-index: -10
            left: 0
            top: 0
            opacity: 0
        input:checked+.show-type__radio
            background-color: #309B42
            border-color: #309B42
            color: #fff
        @media(max-width: 767px)
            display: none
    &__radio
        font-family: Roboto, Arial, sans-serif
        font-size: 16px
        line-height: 140%
        color: rgba(51, 51, 51, 0.4)
        border: 1px solid rgba(0, 0, 0, 0.1)
        padding: 5px 17px 5px 16px
        cursor: pointer
        white-space: nowrap
        border-radius: 4px




