.layout
  &__wrapper
    max-width: 1366px
    margin: 0 auto
    @media(max-width: 1366px)
      margin: 0 42px
    @media(max-width: 767px)
      margin: 0 10px
  &__title
    font-size: 36px
    line-height: 42px
    font-weight: bold
    font-family: Museo-500, Arial, sans-serif
    color: #333
    margin-bottom: 35px


