.popup__wrapper
  position: fixed
  left: 0
  right: 0
  top: 0
  bottom: 0
  z-index: 100
  display: none
  justify-content: center
  align-items: center
  flex-direction: row


.popup__wrapper.active
  display: flex


.popup__bg
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-color: rgba(58, 57, 60, 0.1)


.popup__body
  position: relative
  width: 363px
  background-color: #fff
  padding: 30px 28px 40px 23px
  box-sizing: border-box
  .popup__title
    font-size: 24px
    line-height: 36px
    font-family: "Museo-500", Arial, sans-serif
    color: #333
    margin-bottom: 8px
  .popup__text
    color: rgba(51, 51, 51, 0.78)
    font-family: Museo-300, Arial, sans-serif
    font-size: 16px
    line-height: 140%
    margin-bottom: 24px
    max-width: 246px
  .parking__number
    font-size: 16px
    line-height: 140%
    color: rgba(51, 51, 51, 0.78)
    font-family: Museo-500, Arial, sans-serif
    font-weight: bold
    margin-bottom: 22px
    span
      color: #309B42
  .input__wrapper
    padding: 12px 13px 15px 13px
    border: 1px solid rgba(58, 57, 60, 0.2)
    margin-bottom: 8px
    input
      border: none
      outline: none
      width: 100%
  .button__wrapper
    margin: 8px auto 0 auto
    width: 100%
    padding: 17px 0 17px 0
    color: #fff
    background-color: #309B42
    cursor: pointer
    text-align: center
    font-family: Museo-300, Arial, sans-serif
    border: none
    font-size: 14px
    line-height: 16px
    border-radius: 4px
    text-transform: uppercase
  .input-text__section
    width: 100%
    box-sizing: border-box
    padding: 15px 20px
    margin-bottom: 10px
    border: 1px solid rgba(58, 57, 60, 0.2)
    border-radius: 4px
    cursor: pointer
    background-color: #fff
    font-family: Museo-300, Arial, sans-serif
    font-size: 14px
    line-height: 140%
    &:last-child
      margin-bottom: 20px
    input
      width: 100%
      border: none !important
      box-sizing: border-box
      margin: 0 !important
      height: auto!important
      &:focus
        border: none !important
        outline: none !important
        box-shadow: none!important

.popup__close
  position: absolute
  top: 8px
  right: 12px
  cursor: pointer
  width: 24px
  height: 24px
  border-radius: 50%
  background-color: rgba(0, 0, 0, 0.2)
  flex(center, center, row)
  img
    width: 12px
    height: auto

.popup__wrapper-parking-info
  .popup__body
    padding: 0
    width: 300px
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
  .popup__close
    top: 0
    right: -28px
    background-color: #333
  .popup__table
    &__wrapper
      flex()
      flex-wrap: wrap
      .table__number
        font-size: 18px
        line-height: 138%
        color: rgba(51, 51, 51, 0.78)
        font-family: Roboto-Bold, Arial, sans-serif
        margin-right: 9px
        font-weight: bold
      .parking-type
        display: inline-flex
        justify-content: flex-start
        align-items: center
        font-size: 18px
        line-height: 25px
        font-family: Roboto, Arial, sans-serif
        &:before
          content: ''
          display: block
          width: 6px
          height: 6px
          margin-right: 8px
          border-radius: 50%
        &-standart
          color: #789D67
          &:before
            background-color: #789D67
        &-family
          color: #134E0B
          .tooltip__wrapper
            .tooltip__icon
              svg
                path
                  fill: #134E0B
          &:before
            background-color: #134E0B
        &-increased
          color: #C9A37D
          &:before
            background-color: #C9A37D
        &-boxing
          color: #851C58
          &:before
            background-color: #851C58
        &-small-class
          color: #E59700
          &:before
            background-color: #E59700
        &-other
          color: #FF5C00
          &:before
            background-color: #FF5C00
        &-family-small
          color: #025B59
          .tooltip__wrapper
            .tooltip__icon
              svg
                path
                  fill: #134E0B
          &:before
            background-color: #025B59
        &-standard-small
          color: #5A4F9B
          &:before
            background-color: #5A4F9B
        &-limited
          color: #65431C
          &:before
            background-color: #65431C

      .popup__cell
        &:nth-child(1)
          width: 100%
          padding: 3px 16px
          flex(flex-start, center, row)
          font-weight: normal
          border-bottom: 1px solid rgba(58, 57, 60, 0.1)
          margin-right: 0
        &:nth-child(2n+2)
          width: 157px
          margin-right: 33px
          padding-left: 12px
        &:nth-child(2n+3)
          padding-right: 12px
        &:nth-child(2),&:nth-child(3)
          margin-bottom: 15px
          margin-top: 19px
        &:nth-child(4),&:nth-child(5)
          margin-bottom: 19px
        &-price
          .popup__cell__text
            font-weight: bold
        &__label
          font-size: 12px
          line-height: 14px
          color: rgba(51, 51, 51, 0.6)
          font-family: Museo-300, Arial, sans-serif
          marign-bottom: 5px
        &__text
          white-space: nowrap
          font-size: 16px
          line-height: 132%
          color: rgba(51, 51, 51, 0.78)
          font-family: Museo-300, Arial, sans-serif
      .button__wrapper
        padding: 9px 0 8px 0
        font-size: 12px
        line-height: 14px
        color: #fff
        font-family: Museo-300, Arial, sans-serif
        text-transform: uppercase
        border-radius: 0 0 4px 4px

































