@import "../mixin/flex.styl"

.table
  &__wrapper-parking
    display: none
    margin-bottom: 116px
    &.active
      display: block
    @media(max-width: 1023px)
      margin-bottom: 75px
    @media(max-width: 767px)
      display: block
  &__body
    margin-bottom: 40px
    @media(max-width: 1024px)
      flex()
      flex-wrap: wrap
    @media(max-width: 767px)
      justify-content: center
  &__row
    max-width: 1169px
    margin: 0 auto
    flex(flex-start, center, row)
    font-family: Museo-300, Arial, sans-serif
    font-size: 16px
    line-height: 140%
    color: rgba(53, 53, 53, 0.78)
    padding: 0 0 0 40px
    position: relative
    @media(min-width:1025px)
      &:nth-child(2n+2)
        background-color: #F2F7EF
    @media(max-width: 1024px)
      flex-wrap: wrap
      width: 300px
      min-width: 300px
      margin-right: 20px
      margin-bottom: 20px
      margin-left: 0
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
      padding: 0
      border-radius: 4px
    &.table__header
      background-color: #9EB599
      color: #fff
      padding: 0 0 0 42px
      border-radius: 10px 10px 0 0
      @media(max-width: 1024px)
        display: none
      .table__cell:nth-child(1)
        font-weight: normal
        font-family: Roboto, Arial, sans-serif
    .button__wrapper
      width: 100%
      padding: 5px 0 6px 0
      color: #309B42
      border: 1px solid black
      background-color: transparent
      cursor: pointer
      text-align: center
      font-family: Roboto, Arial, sans-serif
      text-transform: uppercase
      font-size: 12px
      line-height: 14px
      letter-spacing: 0.1em
    .duble__text
      display: none
    .tooltip__wrapper
      display: none
    @media(min-width: 1025px)
      &.double__seat
        padding: 0 0 0 40px
        .table__cell:nth-child(1)
          padding: 3px 0 1px 0
          min-height: 48px
        &-family
          .duble__text
            background-color: #134E0B
        &-family-small
          .duble__text
            background-color: #025B59
      .button__wrapper
        display: none
        position: absolute
        right: 17px
        bottom: 4px
        width: 164px
        border: none
        padding: 0
      .duble__text
        position: absolute
        left: 80px
        bottom: 4px
        padding: 2px 0 3px 0
        width: 840px
        color: #fff
        font-size: 12px
        line-height: 14px
        font-family: Roboto, Arial, sans-serif
        border-radius: 4px
        .img__wrapper
          width: 16px
          min-width: 16px
          height: 16px
          margin-right: 6px
      &:hover
        .table__cell-price
          position: relative
          top: -9px
          padding: 0
        &.double__seat
          .table__cell:not(:first-child)
            padding: 4px 0 23px 0
          .table__cell-price
            top: 0
        .duble__text
          flex(center, center, row)
        .button__wrapper
          display: block
    @media(max-width: 1024px)
      flex-wrap: wrap
      .button__wrapper
        order: 1
        margin-top: 19px
        background-color: #309b42
        color: #fff
        border-color: #309b42
      .tooltip__wrapper
        display: flex

    @media(max-width: 767px)
      margin-right: 0
  &__cell
    &__label
      font-size: 12px
      line-height: 14px
      color: rgba(51, 51, 51, 0.6)
      font-family: Roboto, Arial, sans-serif
      marign-bottom: 5px
      @media(min-width: 1025px)
        display: none
    &__text
      white-space: nowrap
    &:nth-child(2)
      flex(flex-start, center, row)
      &:before
        content: ''
        display: inline-block
        width: 6px
        min-width: 6px
        height: 6px
        border-radius: 50%
        margin-right: 10px
      &.parking-type-standart
        color: #789D67
      &.parking-type-standart:before
        background-color: #789D67
      &.parking-type-family
        color: #134E0B
        .tooltip__wrapper
          .tooltip__icon
            svg
              path
                fill: #134E0B
      &.parking-type-family:before
        background-color: #134E0B
      &.parking-type-increased
        color: #C9A37D
      &.parking-type-increased:before
        background-color: #C9A37D
      &.parking-type-boxing
        color: #851C58
      &.parking-type-boxing:before
        background-color: #851C58
      &.parking-type-small-class
        color: #E59700
      &.parking-type-small-class:before
        background-color: #E59700
      &.parking-type-other
        color: #FF5C00
      &.parking-type-other:before
        background-color: #FF5C00
      &.parking-type-family-small
        color: #025B59
        .tooltip__wrapper
          .tooltip__icon
            svg
              path
                fill: #134E0B
      &.parking-type-family-small:before
        background-color: #025B59
      &.parking-type-standard-small
        color: #5A4F9B
      &.parking-type-standard-small:before
        background-color: #5A4F9B
      &.parking-type-limited
        color: #65431C
      &.parking-type-limited:before
        background-color: #65431C
    @media(min-width: 1025px)
      border-right: 1px solid #fff
      padding: 12px 0 15px 0
      &:nth-child(1)
        font-family: Roboto-Bold, Arial, sans-serif
        font-weight: bold
        width: 30px
        min-width: 30px
        margin-right: 15px
        border-right: none
      &:nth-child(2)
        width: 229px
        min-width: 229px
      &:nth-child(3)
        width: 130px
        min-width: 130px
        text-align: center
        flex-grow: 1
      &:nth-child(4)
        width: 170px
        min-width: 170px
        text-align: center
        flex-grow: 1
      &:nth-child(5)
        width: 40px
        min-width: 40px
        text-align: center
        flex-grow: 1
      &:nth-child(6)
        text-align: center
        min-width: 198px
        border-right: none

    @media(max-width: 1024px)
      &:nth-child(1)
        font-size: 16px
        line-height: 138%
        border-bottom: 1px solid rgba(58, 57, 60, 0.1);
        padding: 3px 9px 4px 16px
        margin-bottom: 4px
      &:nth-child(2)
        font-size: 16px
        line-height: 138%
        flex-grow: 1
        min-width: 200px
        border-bottom: 1px solid rgba(58, 57, 60, 0.1);
        padding: 3px 0 4px 0
        margin-bottom: 4px
        &:before
          margin-right: 7px
      &:nth-child(3)
       padding: 15px 0 0 16px
       width: 200px
      &:nth-child(4)
        order: 1
        width: 200px
        padding: 15px 0 0 16px
      &:nth-child(5)
        padding: 15px 0 0 0
      &:nth-child(6)
        order: 1
        padding: 15px 0 0 0


  &__body+.button__wrapper-white
      padding: 13px 32px 14px 32px
      background-color: transparent
      position: relative
      font-family: Roboto, Arial, sans-serif
      color: #319B42
      font-size: 16px
      line-height: 132%
      text-align: center
      display: block
      width: 100%
      max-width: 260px
      margin: 0 auto
      border: 1px solid #319B42
      border-radius: 4px
      box-sizing: border-box
      cursor: pointer
      @media(max-width: 1023px)
        padding:5px 24px 6px 24px
        max-width: 234px











