@import "../mixin/flex.styl"

.tooltip__wrapper
  flex(flex-start, center, row)
  position: absolute
  right: 16px
  top: 8px
  .tooltip__title
    font-size: 12px
    line-height: 14px
    color: rgba(51, 51, 51, 0.78)
    text-transform: uppercase
  .tooltip__icon
    width: 12px
    height: 12px
    position: relative
    top: -8px
    cursor: pointer
    svg
      width: 100%
      height: auto
  .tooltip__text
    display: none
    position: absolute
    top: -40px
    right: -16px
    padding: 9px 12px 7px 12px
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
    font-size: 13px
    line-height: 15px
    background-color: #fff
    white-space: nowrap
    border-radius: 4px
    &:after
      content: ''
      width: 10px
      height: 10px
      background: linear-gradient(45deg, #fff 50%, transparent 50%)
      position: absolute
      transform: rotate(-45deg)
      bottom: -5px
      right: 18px
  &-active
    .tooltip__text
      display: block