@import "../mixin/flex.styl"

.form
  &__wrapper
    margin: 0 auto 99px auto
    width: 100%
    max-width: 1260px
    font-family: Museo-300, Arial, sans-serif
    color: rgba(51, 51, 51, 0.78)
    position: relative
    padding: 0 0 0 700px
    overflow: hidden
    border-radius: 12px
    border: 1px solid rgba(0, 0, 0, 0.1)
    @media(max-width: 1260px)
      margin: 0 74px 99px 74px
      max-width: auto
      width: auto
      padding: 0 0 0 220px
    @media(max-width: 767px)
      margin: 0 10px 99px 10px
      padding: 0
    .agreement__text
      font-size: 12px
      line-height: 14px
      a
        color: #309B42
    .form__text-bold
      font-size: 16px
      line-height: 140%
      color: rgba(51, 51, 51, 0.78)
      font-family: Museo-500, Arial, sans-serif
      font-weight: bold
    .timer__section
      .resend-link
        display: none
      &.not-active
        .form__text.form__text-bold
          display: none
        .resend-link
          display: block
    .timer__wrapper
      display: inline-block
      color: #641B51
      margin-left: 16px

  &__bg
    position: absolute
    left: 0
    top: 0
    z-index: -1
    width: 700px
    @media(max-width: 767px)
      display: none
  &__content
    padding: 40px 0 42px 0
    background-color: #fff
  &__title
    font-family: Museo-500, Arial, sans-serif
    font-size: 24px
    line-height: 111.9%
    color: #333
    margin-bottom: 6px
  &__title__wrapper
    padding: 0 0 33px 61px
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
    margin-bottom: 48px
    position: relative
    @media(max-width: 767px)
      padding: 0 16px 26px 16px
    &:before
      content: ''
      display: block
      width: 50%
      height: 2px
      background-color: #309B42
      position: absolute
      bottom: -1px
      left: 0
    .form__text
      font-size: 18px
      line-height: 25px
      max-width: 329px
  &__text
    font-size: 16px
    line-height: 140%
  &__body
    padding:  0 0 0 61px
    @media(max-width: 767px)
      padding: 0 16px
  &-step
    display: none
    .input__wrapper
      max-width: 300px
      width: 100%
      padding: 12px 16px 11px 16px
      border: 1px solid rgba(0, 0, 0, 0.1)
      background-color: #fff
      position: relative
      border-radius: 4px
      input
        width: 100%
        height: auto
        border: none
        outline: none
        background-color: transparent
        padding: 0
        margin: 0
        font-size: 16px
        line-height: 140%
        &::placeholder
          color: rgba(51, 51, 51, 0.6)
          opacity: 0.5
      &.error
        border: 1px solid #B7202E
      &.required
        &:after
          content: '*'
          display: block
          position: absolute
          top: -7px
          right: -12px
          font-size: 18px
          line-height: 25px
          color: #309B42
    .button__wrapper
      font-size: 12px
      line-height: 14px
      letter-spacing: 0.1em
      text-transform: uppercase
      text-align: center
      color: #fff
      padding: 17px 32px 17px 32px
      display: inline-block
      background-color: #309B42
      box-shadow: none
      border: 1px solid #309B42
      cursor: pointer
      border-radius: 4px
      &:disabled
        background-color: #F5F5F5
        border-color: #F5F5F5
        color: rgba(51, 51, 51, 0.6)
        cursor: default
    .change-phone
      font-weight: normal
      font-size: 12px
      line-height: 14px
      font-family: Museo-300, Arial, sans-serif
      letter-spacing: 0.1em
      text-transform: uppercase
      color: #309B42
      display: inline-block
      margin-left: 24px
      cursor: pointer
      padding: 9px 24px
      border: 1px solid transparent
      border-radius: 4px
      &:hover
        border-color: #309B42
    .resend-link
      color: #309B42
      font-size: 12px
      line-height: 14px
      letter-spacing: 0.1em
      text-transform: uppercase
      &:hover
        text-decoration: underline
        cursor: pointer
      &.active
        display: block
  &__content.step-1-1
    .form-step-1-1
      display: block
  &__content.step-1-2
    .form-step-1-2
      display: block
  &__content.step-2
    padding: 40px 0 37px 0
    .form-step-2
      display: block
    .form__title__wrapper:before
      left: inherit
      right: 0
  &-step-1-1
    .input__wrapper
      margin-bottom: 17px
    .form__text
      margin-bottom: 70px
      max-width: 283px
    .button__wrapper
      margin-bottom: 19px
  &-step-1-2
    .form__text
      margin-bottom: 3px
    .form__text-bold
      margin-bottom: 15px
    .input__wrapper
      margin-bottom: 15px
    .input__wrapper+.form__text-bold
      margin-bottom: 31px
    .button__wrapper
      margin-bottom: 18px
    .timer__section
      margin-bottom: 22px
      &.not-active
        .resend-link
          margin-bottom: 31px
  &-step-2
    .input__wrapper
      margin-bottom: 12px
      padding: 13px 16px 12px 16px
      &:nth-child(3)
        margin-bottom: 20px
    .button__wrapper
      margin-bottom: 11px
  &-sms-authorization
    padding: 0 0 0 700px
    @media(max-width: 1024px)
      padding: 0 0 0 220px
    @media(max-width: 767px)
      padding: 0 16px
    .form__title__wrapper
      padding-bottom: 0
      margin-bottom: 34px
      border: 0
      &:before
        display: none
      .form__text
        font-size: 16px
        line-height: 140%
        color: #641B51
    .form__title
      margin-bottom: 9px
      display: block
    .form__content
      min-height: 505px
      padding: 49px 0 57px 0
    .form-step
      .input__wrapper
        max-width: 300px
        margin-bottom: 24px
        height: 48px
        @media(max-width: 1024px)
          max-width: 320px
      .button__wrapper
        max-width: 279px
        margin-bottom: 173px
        height: 48px
    .step-1-2
      .form__title__wrapper
        margin-bottom: 18px
      .form-step-1-2
        .button__wrapper
          margin-bottom: 27px
    .step-2
      .form__title__wrapper
        margin-bottom: 30px
      .form-step-2
        .input__wrapper
          margin-bottom: 12px
          &:nth-child(3)
            margin-bottom: 20px
        .button__wrapper
          margin-bottom: 61px


  &__wrapper.authorization-with-captcha
    padding: 0 0 0 700px
    @media(max-width: 1024px)
      padding: 0 0 0 220px
    .form__title__wrapper
      border-bottom: none
      padding-bottom: 0
      &:before
        display: none
    @media(max-width: 1023px)
      .input__wrapper
        max-width: 320px
    .capcha__wrapper
      flex()
      margin-bottom: 8px
      .img__wrapper
        width: 206px
        height: 60px
        padding: 4px 14px
        margin-right: 26px
        border: 1px solid rgba(0, 0, 0, 0.1)
        @media(max-width: 1023px)
          width: 152px
          height: 48px
      .input__wrapper
        max-width: 206px
        padding: 17px 24px 18px 24px
        margin-bottom: 0
        @media(max-width: 1023px)
          padding: 11px
          max-width: 152px
    .reload__btn
      width: 24px
      height: 24px
      margin-bottom: 20px
      cursor: pointer








