body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  color: #000;
  text-transform: none;
  text-decoration: none;
}
a:hover {
  color: #000;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1,
h2 {
  margin: 0;
  padding: 0;
}
div {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
img,
video {
  width: 100%;
  height: auto;
}
button,
input[type="submit"] {
  -webkit-appearance: none;
}
form {
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: "Museo-300";
  src: url("../fonts/MuseoSansCyrl-300.ttf") format("ttf"), url("../fonts/MuseoSansCyrl-300.eot") format("eot"), url("../fonts/MuseoSansCyrl-300.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Museo-500";
  src: url("../fonts/MuseoSansCyrl-500.ttf") format("ttf"), url("../fonts/MuseoSansCyrl-500.eot") format("eot"), url("../fonts/MuseoSansCyrl-500.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
.header__wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}
.header__wrapper .baner__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  max-height: 915px;
  overflow: hidden;
}
.header__wrapper .baner__wrapper video {
  height: auto;
  width: 100%;
}
.header__text__wrapper {
  position: absolute;
  top: 438px;
  left: calc(50% - 1260px / 2);
  max-width: 1260px;
  width: 100%;
}
@media (max-width: 1365px) {
  .header__text__wrapper {
    left: 57px;
    top: 360px;
    width: auto;
  }
}
@media (max-width: 1023px) {
  .header__text__wrapper {
    top: 180px;
  }
}
.header__title {
  font-size: 65px;
  line-height: 65px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  font-family: Museo-500, Arial, sans-serif;
  color: #fff;
  font-weight: bold;
}
.header__subtitle {
  font-size: 46px;
  line-height: 55px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  font-family: Museo-300, Arial, sans-serif;
  color: #fff;
}
@media (max-width: 767px) {
  .header__text__wrapper {
    top: 75px;
    left: 10px;
  }
  .header__title {
    font-size: 35px;
    line-height: 43px;
  }
  .header__subtitle {
    font-size: 25px;
    line-height: 30px;
  }
}
.layout__wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  font-family: Museo-300, Arial, sans-serif;
}
.layout__content {
  max-width: 1263px;
  width: 100%;
  margin: 0 auto;
}
.layout__content .logo__wrapper {
  width: 288px;
  margin-bottom: 59px;
}
.layout__title {
  font-size: 36px;
  line-height: 43px;
  font-family: Museo-500, Arial, sans-serif;
}
@media (max-width: 767px) {
  .layout__title {
    font-size: 28px;
    line-height: 37px;
  }
}
.layout__subtitle {
  font-family: Museo-500, Arial, sans-serif;
  font-size: 24px;
  line-height: 146%;
}
.layout__text {
  font-size: 16px;
  line-height: 140%;
}
.layout__li {
  font-size: 16px;
  line-height: 140%;
  color: rgba(51,51,51,0.78);
  margin-bottom: 10px;
}
.layout__li:last-child {
  margin-bottom: 0;
}
.layout__li:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 12px;
  background-color: #dad4ce;
}
.slider__wrapper,
.slider__wrapper-dots {
  position: relative;
}
.slider__wrapper .slick-arrow,
.finishing-slider .slick-arrow,
.slider__wrapper-dots .slick-arrow {
  width: 40px;
  height: 40px;
  -webkit-box-shadow: 2px 4px 8px rgba(102,102,102,0.25);
  box-shadow: 2px 4px 8px rgba(102,102,102,0.25);
  border-radius: 50%;
  top: calc(50% - 20px);
}
.finishing-slider .slick-arrow {
  top: inherit;
  bottom: 10px;
}
.slider__wrapper .slick-arrow.slick-next,
.finishing-slider .slick-arrow.slick-next,
.slider__wrapper-dots .slick-arrow.slick-next {
  right: 4px;
  background: #fff url("../img/comfort/slider-arrow-2.svg") no-repeat 30% 25%;
}
.slider__wrapper-dots .slick-arrow.slick-next {
  right: calc(50% + 4px);
}
.slider__wrapper .slick-arrow.slick-prev,
.finishing-slider .slick-arrow.slick-prev,
.slider__wrapper-dots .slick-arrow.slick-prev {
  left: 4px;
  background: #fff url("../img/comfort/slider-arrow.svg") no-repeat 50% 25%;
}
@media (max-width: 1365px) {
  .slider__wrapper .slick-arrow.slick-next,
  .slider__wrapper .slick-arrow.slick-prev,
  .slider__wrapper-dots .slick-arrow.slick-next,
  .slider__wrapper-dots .slick-arrow.slick-prev {
    display: none !important;
  }
}
.finishing-slider .slick-prev.slick-arrow {
  left: calc(50% - 45px);
}
.finishing-slider .slick-next.slick-arrow {
  right: calc(50% - 45px);
}
.layout__wrapper-1 {
  background-color: #00534c;
  padding: 95px 0 50px 0;
}
@media (max-width: 1365px) {
  .layout__wrapper-1 {
    padding: 100px 67px 114px 72px;
  }
}
@media (max-width: 767px) {
  .layout__wrapper-1 {
    padding: 51px 10px 60px 10px;
  }
}
.layout__wrapper-1 .layout__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
}
.layout__wrapper-1 .layout__content .logo__wrapper {
  width: 288px;
  margin-bottom: 59px;
}
@media (max-width: 767px) {
  .layout__wrapper-1 .layout__content .logo__wrapper {
    margin-bottom: 280px;
  }
}
.layout__wrapper-1 .layout__bg {
  width: 557px;
  margin-right: 79px;
}
@media (max-width: 1365px) {
  .layout__wrapper-1 .layout__bg {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    width: 293px;
  }
}
@media (max-width: 767px) {
  .layout__wrapper-1 .layout__bg {
    top: 79px;
    left: 10px;
    right: auto;
    width: calc(100% - 20px);
  }
}
.layout__wrapper-1 .layout__title {
  color: #fff;
  margin-bottom: 27px;
}
@media (max-width: 1365px) {
  .layout__wrapper-1 .layout__title {
    max-width: 302px;
  }
}
.layout__wrapper-1 .layout__text {
  color: #fff;
  max-width: 629px;
  margin-bottom: 16px;
}
.layout__wrapper-2 {
  background-color: #00534c;
  color: #fff;
}
.layout__wrapper-2 .layout__content {
  position: relative;
  padding: 107px 0 112px 0;
}
@media (max-width: 1365px) {
  .layout__wrapper-2 .layout__content {
    padding: 107px 73px 112px 75px;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .layout__wrapper-2 .layout__content {
    padding: 0 10px 49px 10px;
  }
}
.layout__wrapper-2 .items__wrapper {
  margin-bottom: 288px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 544px;
}
@media (max-width: 1365px) {
  .layout__wrapper-2 .items__wrapper {
    margin-bottom: 300px;
  }
}
@media (max-width: 767px) {
  .layout__wrapper-2 .items__wrapper {
    width: 100%;
  }
}
.layout__wrapper-2 .items__wrapper .item__wrapper {
  margin-bottom: 30px;
  margin-right: 70px;
}
.layout__wrapper-2 .items__wrapper .item__wrapper:nth-child(2),
.layout__wrapper-2 .items__wrapper .item__wrapper:last-child {
  margin-right: 0;
}
@media (max-width: 1365px) {
  .layout__wrapper-2 .items__wrapper .item__wrapper:last-child {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .layout__wrapper-2 .items__wrapper .item__wrapper {
    margin-right: 37px;
  }
}
.layout__wrapper-2 .items__wrapper .item__title {
  font-size: 64px;
  line-height: 77px;
}
.layout__wrapper-2 .items__wrapper .item__title span {
  margin-left: 10px;
  font-size: 22px;
  line-height: 45px;
}
.layout__wrapper-2 .items__wrapper .item__title span sup {
  font-size: 14px;
}
.layout__wrapper-2 .items__wrapper .item__text {
  color: #e7b78a;
  font-size: 16px;
  line-height: 19px;
}
@media (max-width: 767px) {
  .layout__wrapper-2 .items__wrapper .item__title {
    font-size: 35px;
    line-height: 43px;
  }
  .layout__wrapper-2 .items__wrapper .item__title span {
    margin-left: 10px;
    font-size: 12px;
    line-height: 25px;
  }
  .layout__wrapper-2 .items__wrapper .item__title span sup {
    font-size: 12px;
  }
  .layout__wrapper-2 .items__wrapper .item__text {
    font-size: 8px;
    line-height: 11px;
  }
}
.layout__wrapper-2 .plane__img {
  width: 837px;
  position: absolute;
  top: 189px;
  right: 0;
}
@media (max-width: 1365px) {
  .layout__wrapper-2 .plane__img {
    width: 636px;
    right: 73px;
    top: 340px;
  }
}
@media (max-width: 767px) {
  .layout__wrapper-2 .plane__img {
    width: 95%;
    right: 10px;
    top: 220px;
  }
}
.layout__wrapper-2 .layout__bg {
  width: 274px;
  position: absolute;
  top: 57px;
  right: 0;
}
@media (max-width: 1365px) {
  .layout__wrapper-2 .layout__bg {
    width: 199px;
    right: 73px;
    top: 280px;
  }
}
@media (max-width: 767px) {
  .layout__wrapper-2 .layout__bg {
    width: 94px;
    right: 10px;
    top: 180px;
  }
}
.layout__wrapper-2 .birds__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 491px;
}
@media (max-width: 1365px) {
  .layout__wrapper-2 .birds__items {
    margin-left: auto;
  }
}
@media (max-width: 767px) {
  .layout__wrapper-2 .birds__items {
    width: 100%;
  }
}
.layout__wrapper-2 .birds__img {
  width: 37px;
  margin: 0 auto 20px auto;
}
.layout__wrapper-2 .birds__text {
  text-align: center;
  color: #e7b78a;
  font-size: 13px;
  line-height: 16px;
}
.layout__wrapper-2 .birds__item:first-child {
  max-width: 44px;
}
.layout__wrapper-2 .birds__item:last-child {
  max-width: 126px;
}
.layout__wrapper-3 {
  padding: 100px 0 85px 0;
}
@media (max-width: 1365px) {
  .layout__wrapper-3 {
    padding: 100px 73px 85px 75px;
  }
}
@media (max-width: 767px) {
  .layout__wrapper-3 {
    padding: 50px 10px 0 10px;
  }
}
.layout__wrapper-3 .layout__title {
  margin-bottom: 50px;
}
.layout__wrapper-3 .items__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
@media (max-width: 1365px) {
  .layout__wrapper-3 .items__wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.layout__wrapper-3 .item__wrapper {
  max-width: 235px;
  margin-right: 85px;
}
@media (max-width: 1365px) {
  .layout__wrapper-3 .item__wrapper:nth-child(2) {
    margin-right: 335px;
    margin-bottom: 73px;
  }
}
@media (max-width: 1024px) {
  .layout__wrapper-3 .item__wrapper {
    margin-bottom: 73px;
  }
  .layout__wrapper-3 .item__wrapper:nth-child(2),
  .layout__wrapper-3 .item__wrapper:nth-child(4) {
    margin-right: 0;
  }
}
.layout__wrapper-3 .item__img {
  width: 140px;
  margin-bottom: 41px;
}
.layout__wrapper-3 .item__title {
  font-size: 18px;
  line-height: 22px;
  color: #00534c;
  font-family: Museo-500, Arial, sans-serif;
  margin-bottom: 18px;
}
.layout__wrapper-3 .item__text {
  font-size: 14px;
  line-height: 17px;
  color: #353535;
}
.layout__wrapper-4 {
  background-color: #00534c;
  padding: 97px 0 100px 0;
}
@media (max-width: 1365px) {
  .layout__wrapper-4 {
    padding: 142px 73px 0px 73px;
  }
}
@media (max-width: 767px) {
  .layout__wrapper-4 {
    padding: 301px 10px 0 10px;
  }
}
.layout__wrapper-4 .layout__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  max-width: 1241px;
  position: relative;
}
.layout__wrapper-4 .layout__bg {
  width: 660px;
}
@media (max-width: 1365px) {
  .layout__wrapper-4 .layout__bg {
    width: 300px;
    position: absolute;
    top: -42px;
    right: 0;
  }
}
@media (max-width: 1365px) and (max-width: 767px) {
  .layout__wrapper-4 .layout__bg {
    width: 228px;
    top: -240px;
    right: inherit;
    left: 10px;
  }
}
.layout__wrapper-4 .layout__text__wrapper {
  margin-right: 12px;
}
.layout__wrapper-4 .layout__title {
  color: #fff;
  margin-bottom: 50px;
}
@media (max-width: 1365px) {
  .layout__wrapper-4 .layout__title {
    max-width: 382px;
  }
}
.layout__wrapper-4 .layout__text {
  color: #fff;
  max-width: 629px;
  margin-bottom: 16px;
}
@media (max-width: 1365px) {
  .layout__wrapper-4 .layout__text {
    max-width: 381px;
  }
}
.layout__wrapper-5 {
  background-color: #00534c;
  padding: 102px 0 95px 0;
}
@media (max-width: 1365px) {
  .layout__wrapper-5 {
    padding: 254px 73px 0 73px;
  }
}
@media (max-width: 767px) {
  .layout__wrapper-5 {
    padding: 301px 10px 0 10px;
  }
}
.layout__wrapper-5 .layout__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  max-width: 1241px;
  position: relative;
}
.layout__wrapper-5 .layout__bg {
  width: 601px;
}
@media (max-width: 1365px) {
  .layout__wrapper-5 .layout__bg {
    width: 300px;
    position: absolute;
    top: -158px;
    left: 0;
  }
}
@media (max-width: 1365px) and (max-width: 767px) {
  .layout__wrapper-5 .layout__bg {
    width: 228px;
    top: -240px;
    right: inherit;
    left: 10px;
  }
}
.layout__wrapper-5 .layout__text__wrapper {
  margin-left: 10px;
}
@media (max-width: 1365px) {
  .layout__wrapper-5 .layout__text__wrapper {
    margin-left: auto;
    max-width: 380px;
  }
}
.layout__wrapper-5 .layout__title {
  color: #fff;
  margin-bottom: 50px;
}
.layout__wrapper-5 .layout__text {
  color: #fff;
  max-width: 629px;
}
.layout__wrapper-5-2 {
  background-color: #00534c;
  padding: 97px 0 100px 0;
}
@media (max-width: 1365px) {
  .layout__wrapper-5-2 {
    padding: 140px 74px 65px 73px;
  }
}
@media (max-width: 767px) {
  .layout__wrapper-5-2 {
    padding: 301px 10px 0 10px;
  }
}
.layout__wrapper-5-2 .layout__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  max-width: 1241px;
  position: relative;
}
.layout__wrapper-5-2 .layout__bg {
  width: 660px;
}
@media (max-width: 1365px) {
  .layout__wrapper-5-2 .layout__bg {
    position: absolute;
    top: -42px;
    right: 0;
    width: 300px;
  }
}
@media (max-width: 1365px) and (max-width: 767px) {
  .layout__wrapper-5-2 .layout__bg {
    width: 228px;
    top: -240px;
    right: inherit;
    left: 10px;
  }
}
.layout__wrapper-5-2 .layout__text__wrapper {
  margin-right: 12px;
}
@media (max-width: 1365px) {
  .layout__wrapper-5-2 .layout__text__wrapper {
    margin-right: 0;
    max-width: 365px;
  }
}
.layout__wrapper-5-2 .layout__title {
  color: #fff;
  margin-bottom: 50px;
}
.layout__wrapper-5-2 .layout__text {
  color: #fff;
  max-width: 629px;
  margin-bottom: 16px;
}
.layout__wrapper-6 {
  background-color: #fff;
  padding: 69px 0 41px 0;
}
@media (max-width: 1365px) {
  .layout__wrapper-6 {
    padding: 100px 74px;
  }
}
@media (max-width: 767px) {
  .layout__wrapper-6 {
    padding: 50px 10px;
  }
}
.layout__wrapper-6 .layout__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  max-width: 1241px;
}
@media (max-width: 1365px) {
  .layout__wrapper-6 .layout__content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.layout__wrapper-6 .layout__bg {
  width: 593px;
}
@media (max-width: 1365px) {
  .layout__wrapper-6 .layout__bg {
    width: 100%;
    max-width: 460px;
  }
}
.layout__wrapper-6 .layout__text__wrapper {
  margin-right: 158px;
}
@media (max-width: 1365px) {
  .layout__wrapper-6 .layout__text__wrapper {
    margin-right: 0;
    margin-bottom: 50px;
  }
}
.layout__wrapper-6 .layout__title {
  color: #353535;
  margin-bottom: 50px;
}
.layout__wrapper-6 .layout__text {
  color: #353535;
  max-width: 550px;
  margin-bottom: 16px;
}
.layout__wrapper-6-2 .layout__content {
  width: 100%;
  max-width: 1260px;
  position: relative;
  overflow: hidden;
}
@media (max-width: 1365px) {
  .layout__wrapper-6-2 .layout__content {
    padding-left: 74px;
  }
}
@media (max-width: 767px) {
  .layout__wrapper-6-2 .layout__content {
    padding: 10px;
  }
}
.layout__wrapper-6-2 .tabs__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid #ba8b79;
}
@media (max-width: 1365px) {
  .layout__wrapper-6-2 .tabs__wrapper {
    overflow-x: auto;
    margin-bottom: 39px;
  }
}
.layout__wrapper-6-2 .tabs__item {
  color: #aeb1b7;
  font-size: 16px;
  line-height: 140%;
  padding-bottom: 19.5px;
  border-bottom: 2px solid transparent;
  margin-right: 40px;
  cursor: pointer;
  white-space: nowrap;
}
.layout__wrapper-6-2 .tabs__item-active {
  color: #00534c;
  border-bottom-color: #ba8b79;
}
.layout__wrapper-6-2 .tabs__content {
  position: absolute;
  z-index: -100;
  bottom: 0;
  left: 0;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 40px 0 0 0;
  margin-bottom: 168px;
}
@media (max-width: 1365px) {
  .layout__wrapper-6-2 .tabs__content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 74px 0 0;
    margin-bottom: 148px;
  }
}
@media (max-width: 767px) {
  .layout__wrapper-6-2 .tabs__content {
    padding: 0 10px 0 0;
    margin-bottom: 50px;
  }
}
.layout__wrapper-6-2 .tabs__content-active {
  opacity: 1;
  z-index: 1;
  position: relative;
}
.layout__wrapper-6-2 .tabs__content .text__wrapper {
  width: 464px;
  margin-right: 110px;
}
@media (max-width: 1365px) {
  .layout__wrapper-6-2 .tabs__content .text__wrapper {
    width: 100%;
    margin-right: 0;
    margin-bottom: 35px;
  }
}
.layout__wrapper-6-2 .tabs__content .layout__title {
  margin-bottom: 30px;
  margin-top: 10px;
}
.layout__wrapper-6-2 .tabs__content .layout__text {
  color: #353535;
  max-width: 460px;
  margin-bottom: 19px;
}
@media (max-width: 1365px) {
  .layout__wrapper-6-2 .tabs__content .layout__text {
    max-width: none;
    margin-bottom: 40px;
  }
}
.layout__wrapper-6-2 .tabs__content .layout__text-li {
  max-width: 620px;
  padding-left: 14px;
  position: relative;
  margin-bottom: 15px;
}
.layout__wrapper-6-2 .tabs__content .layout__text-li:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #353535;
}
.layout__wrapper-6-2 .tabs__content .img__wrapper {
  max-width: 464px;
  position: relative;
}
.layout__wrapper-6-2 .tabs__content .slider__wrapper {
  width: 100%;
  max-width: 654px;
  overflow: hidden;
}
.layout__wrapper-6-2 .tabs__content .slider__section {
  width: 100%;
  max-width: 654px;
  margin: 0;
  overflow: hidden;
}
.layout__wrapper-6-2 .tabs__content .slider__section .slider__wrapper-dots {
  width: 200%;
}
.layout__wrapper-6-2 .tabs__content .slider__title {
  font-size: 16px;
  line-height: 125%;
  font-family: "Museo-500", Arial, sans-serif;
  color: #333;
  margin-bottom: 15px;
}
.layout__wrapper-6-2 .tabs__content .dots__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.layout__wrapper-6-2 .tabs__content .dots__wrapper ul {
  width: 100%;
  height: 100%;
  bottom: 0;
}
.layout__wrapper-6-2 .tabs__content .dots__wrapper li:after {
  content: '';
  display: none;
  width: 154px;
  min-height: 20px;
  padding: 5px 16px 8px 16px;
  background-color: #134e0b;
  border-radius: 4px;
  -webkit-box-shadow: 4px 4px 20px rgba(0,0,0,0.1);
  box-shadow: 4px 4px 20px rgba(0,0,0,0.1);
  position: absolute;
  top: 16px;
  color: #fff;
  font-size: 14px;
  line-height: 17px;
  z-index: 1;
  text-align: left;
}
.layout__wrapper-6-2 .tabs__content .dots__wrapper li:hover:after {
  display: block;
}
.layout__wrapper-6-2 .tabs__content .dots__wrapper li {
  margin-right: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.layout__wrapper-6-2 .tabs__content .dots__wrapper li button {
  background-color: #843d26;
  border: 1px solid #843d26;
  width: 16px;
  height: 16px;
}
.layout__wrapper-6-2 .tabs__content .dots__wrapper li:nth-child(1) {
  top: 90px;
  left: 218px;
}
.layout__wrapper-6-2 .tabs__content .dots__wrapper li:nth-child(1):after {
  content: 'Прогулочная зона отдыха';
}
.layout__wrapper-6-2 .tabs__content .dots__wrapper li:nth-child(2) {
  top: 179px;
  left: 220px;
}
.layout__wrapper-6-2 .tabs__content .dots__wrapper li:nth-child(2):after {
  content: 'Для детей школьного возраста (6-12 лет)';
}
.layout__wrapper-6-2 .tabs__content .dots__wrapper li:nth-child(3) {
  top: 125px;
  left: 228px;
}
.layout__wrapper-6-2 .tabs__content .dots__wrapper li:nth-child(3):after {
  content: 'Площадка для малышей (3-6 лет)';
}
.layout__wrapper-6-2 .tabs__content .dots__wrapper li:nth-child(4) {
  top: 167px;
  left: 254px;
}
.layout__wrapper-6-2 .tabs__content .dots__wrapper li:nth-child(4):after {
  content: 'Для самых маленьких (1-3 года)';
}
.layout__wrapper-6-2 .tabs__content .dots__wrapper li:nth-child(5) {
  top: 210px;
  left: 190px;
}
.layout__wrapper-6-2 .tabs__content .dots__wrapper li:nth-child(5):after {
  content: 'Зона work-out';
}
.layout__wrapper-6-2 .tabs__content .dots__wrapper li.slick-active button {
  border-color: #fff;
}
@media (max-width: 1365px) {
  .layout__wrapper-6-2 .tabs__content .dots__wrapper li button {
    width: 24px;
    height: 24px;
  }
  .layout__wrapper-6-2 .tabs__content .dots__wrapper li:nth-child(1) {
    top: 116px;
    left: 272px;
  }
  .layout__wrapper-6-2 .tabs__content .dots__wrapper li:nth-child(2) {
    top: 228px;
    left: 271px;
  }
  .layout__wrapper-6-2 .tabs__content .dots__wrapper li:nth-child(3) {
    top: 162px;
    left: 243px;
  }
  .layout__wrapper-6-2 .tabs__content .dots__wrapper li:nth-child(4) {
    top: 209px;
    left: 311px;
  }
  .layout__wrapper-6-2 .tabs__content .dots__wrapper li:nth-child(5) {
    top: 265px;
    left: 233px;
  }
}
@media (max-width: 767px) {
  .layout__wrapper-6-2 .tabs__content .dots__wrapper li button {
    width: 20px;
    height: 20px;
  }
  .layout__wrapper-6-2 .tabs__content .dots__wrapper li:nth-child(1) {
    top: 72px;
    left: 135px;
  }
  .layout__wrapper-6-2 .tabs__content .dots__wrapper li:nth-child(2) {
    top: 158px;
    left: 140px;
  }
  .layout__wrapper-6-2 .tabs__content .dots__wrapper li:nth-child(3) {
    top: 109px;
    left: 123px;
  }
  .layout__wrapper-6-2 .tabs__content .dots__wrapper li:nth-child(4) {
    top: 150px;
    left: 172px;
  }
  .layout__wrapper-6-2 .tabs__content .dots__wrapper li:nth-child(5) {
    top: 185px;
    left: 116px;
  }
}
@media (max-width: 1365px) {
  .layout__wrapper-6-2 .tabs__content .img__section,
  .layout__wrapper-6-2 .tabs__content .slider__wrapper {
    margin: auto 0;
  }
  .layout__wrapper-6-2 .tabs__content[data-content="1"] .img__wrapper {
    width: 100%;
    max-width: 579px;
    margin: 0 auto;
  }
  .layout__wrapper-6-2 .tabs__content[data-content="1"] .slider__section {
    margin: 0 auto;
  }
  .layout__wrapper-6-2 .tabs__content[data-content="1"] .slider__section .slider__wrapper-dots {
    width: 170%;
  }
}
@media (max-width: 767px) {
  .layout__wrapper-6-2 .tabs__content[data-content="1"] .img__wrapper {
    max-width: 299px;
  }
}
.layout__wrapper-6-2 .tabs__content[data-content="4"] {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.layout__wrapper-6-2 .tabs__content[data-content="4"] .img__section {
  width: 457px;
}
.layout__wrapper-consultation {
  margin-bottom: 101px;
}
@media (max-width: 1365px) {
  .layout__wrapper-consultation {
    margin-bottom: 86px;
  }
}
@media (max-width: 767px) {
  .layout__wrapper-consultation {
    margin-bottom: 39px;
  }
}
.layout__wrapper-consultation .layout__content {
  width: 100%;
  max-width: 1670px;
  padding: 12px 0 10px 32px;
  background-color: #00524c;
  border-radius: 0 44px 44px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0;
  position: relative;
}
@media (max-width: 1670px) {
  .layout__wrapper-consultation .layout__content {
    max-width: 95%;
    padding-bottom: 138px;
    padding-left: 74px;
  }
}
@media (max-width: 767px) {
  .layout__wrapper-consultation .layout__content {
    padding-left: 10px;
    padding-bottom: 74px;
    max-width: calc(100% - 10px);
  }
}
.layout__wrapper-consultation .layout__bg {
  width: 839px;
  margin-right: 98px;
}
@media (max-width: 1024px) {
  .layout__wrapper-consultation .layout__bg {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 400px;
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .layout__wrapper-consultation .layout__bg {
    width: 158px;
  }
}
.layout__wrapper-consultation .form__wrapper {
  padding-top: 61px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 450px;
}
@media (max-width: 1024px) {
  .layout__wrapper-consultation .form__wrapper {
    max-width: 100%;
  }
}
.layout__wrapper-consultation .form__title {
  font-size: 36px;
  line-height: 42px;
  font-family: Museo-500, Arial, sans-serif;
  margin-bottom: 4px;
  width: 100%;
}
@media (max-width: 767px) {
  .layout__wrapper-consultation .form__title {
    font-size: 28px;
    line-height: 32px;
  }
}
.layout__wrapper-consultation .form__text {
  font-size: 24px;
  line-height: 30px;
  width: 100%;
  max-width: 372px;
  margin-bottom: 27px;
}
@media (max-width: 1024px) {
  .layout__wrapper-consultation .form__text {
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .layout__wrapper-consultation .form__text {
    font-size: 16px;
    line-height: 130%;
  }
}
.layout__wrapper-consultation .input__wrapper {
  width: 222px;
  margin-right: 20px;
}
@media (max-width: 1024px) {
  .layout__wrapper-consultation .input__wrapper {
    margin-right: calc(100% - 270px);
    margin-bottom: 20px;
    width: 270px;
  }
}
.layout__wrapper-consultation .input__wrapper .label__wrapper {
  font-size: 13px;
  line-height: 15px;
  color: #fff;
  opacity: 0.8;
  letter-spacing: 0.26px;
  margin-bottom: 9px;
}
.layout__wrapper-consultation .input__wrapper input {
  width: 100%;
  border: 1px solid rgba(0,0,0,0.1);
  background-color: #fff;
  border-radius: 4px;
  padding: 12px 17px;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  font-size: 16px;
  line-height: 22px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.layout__wrapper-consultation .button__wrapper {
  width: 153px;
  background-color: transparent;
  border: 1px solid #e7b78a;
  border-radius: 4px;
  padding: 17px 32px;
  color: #e7b78a;
  letter-spacing: 0.1em;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  cursor: pointer;
}
.layout__wrapper-7 {
  background-color: #fff;
  margin-bottom: 40px;
  position: relative;
}
@media (max-width: 1365px) {
  .layout__wrapper-7 {
    margin-bottom: 32px;
  }
}
.layout__wrapper-7 .layout__title {
  max-width: 1260px;
  margin: 0 auto 42px auto;
  z-index: 1;
  color: #353535;
}
@media (max-width: 1365px) {
  .layout__wrapper-7 .layout__title {
    margin-left: 74px;
  }
}
@media (max-width: 767px) {
  .layout__wrapper-7 .layout__title {
    display: none;
  }
}
.layout__wrapper-7 .layout__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 38px 0;
  max-width: 1260px;
}
.layout__wrapper-7 .layout__content:before {
  content: '';
  display: block;
  width: 100%;
  max-width: 1671px;
  height: 548px;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f9f9fa;
  border-radius: 44px 0 0 44px;
}
@media (max-width: 1365px) {
  .layout__wrapper-7 .layout__content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
  }
  .layout__wrapper-7 .layout__content:before {
    width: calc(100% - 40px);
    height: auto;
    top: 0;
  }
}
@media (max-width: 767px) {
  .layout__wrapper-7 .layout__content {
    padding: 21px 10px 26px 10px;
  }
  .layout__wrapper-7 .layout__content:before {
    border-radius: 0;
    width: 100%;
  }
}
.layout__wrapper-7 .layout__bg {
  width: 910px;
  z-index: 1;
}
@media (max-width: 1365px) {
  .layout__wrapper-7 .layout__bg {
    position: absolute;
    width: 536px;
    left: 76px;
    top: 130px;
  }
}
@media (max-width: 767px) {
  .layout__wrapper-7 .layout__bg {
    width: 146px;
    height: 282px;
    left: calc(50% - 146px / 2);
    top: 92px;
  }
}
.layout__wrapper-7 .layout__text__wrapper {
  margin-right: 84px;
  z-index: 1;
}
@media (max-width: 1365px) {
  .layout__wrapper-7 .layout__text__wrapper {
    max-width: 100%;
    margin-right: 0;
    margin-left: 74px;
  }
}
@media (max-width: 767px) {
  .layout__wrapper-7 .layout__text__wrapper {
    margin-left: 0;
  }
}
.layout__wrapper-7 .layout__subtitle {
  color: #353535;
  margin-bottom: 298px;
}
@media (max-width: 1365px) {
  .layout__wrapper-7 .layout__subtitle {
    margin-bottom: 339px;
  }
}
.layout__wrapper-7 .layout__text {
  color: #353535;
  margin-bottom: 38px;
  font-family: Museo-500, Arial, sans-serif;
  font-size: 16px;
  line-height: 125%;
}
@media (max-width: 1365px) {
  .layout__wrapper-7 .layout__text {
    margin-bottom: 19px;
  }
}
@media (max-width: 767px) {
  .layout__wrapper-7 .layout__text {
    margin-bottom: 11px;
  }
}
.layout__wrapper-7 .layout__li:nth-child(2):before {
  background-color: #325053;
}
.layout__wrapper-7 .layout__li:nth-child(3):before {
  background-color: #843d26;
}
.layout__wrapper-8 {
  background-color: #fff;
  margin-bottom: 40px;
  position: relative;
}
@media (max-width: 1365px) {
  .layout__wrapper-8 {
    margin-bottom: 32px;
  }
}
.layout__wrapper-8 .layout__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  max-width: 1260px;
  padding: 38px 0;
}
.layout__wrapper-8 .layout__content:before {
  content: '';
  display: block;
  width: 100%;
  max-width: 1671px;
  height: 548px;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f9f9fa;
  border-radius: 0 44px 44px 0;
}
@media (max-width: 1365px) {
  .layout__wrapper-8 .layout__content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
  }
  .layout__wrapper-8 .layout__content:before {
    width: calc(100% - 40px);
    height: auto;
    top: 0;
  }
}
@media (max-width: 767px) {
  .layout__wrapper-8 .layout__content {
    padding: 21px 10px 26px 10px;
  }
  .layout__wrapper-8 .layout__content:before {
    border-radius: 0;
    width: 100%;
  }
}
.layout__wrapper-8 .layout__bg {
  width: 811px;
  z-index: 1;
}
@media (max-width: 1365px) {
  .layout__wrapper-8 .layout__bg {
    position: absolute;
    width: 517px;
    left: 76px;
    top: 98px;
  }
}
@media (max-width: 767px) {
  .layout__wrapper-8 .layout__bg {
    width: 225px;
    height: 266px;
    left: calc(50% - 225px / 2);
    top: 102px;
  }
}
.layout__wrapper-8 .layout__text__wrapper {
  margin-left: 121px;
  z-index: 1;
}
@media (max-width: 1365px) {
  .layout__wrapper-8 .layout__text__wrapper {
    max-width: 100%;
    margin-left: 74px;
  }
}
@media (max-width: 767px) {
  .layout__wrapper-8 .layout__text__wrapper {
    margin-left: 0;
  }
}
.layout__wrapper-8 .layout__subtitle {
  color: #353535;
  margin-bottom: 266px;
}
@media (max-width: 1365px) {
  .layout__wrapper-8 .layout__subtitle {
    margin-bottom: 336px;
  }
}
.layout__wrapper-8 .layout__text {
  color: #353535;
  margin-bottom: 38px;
  font-family: Museo-500, Arial, sans-serif;
  font-size: 16px;
  line-height: 125%;
}
@media (max-width: 1365px) {
  .layout__wrapper-8 .layout__text {
    margin-bottom: 19px;
  }
}
@media (max-width: 767px) {
  .layout__wrapper-8 .layout__text {
    margin-bottom: 11px;
  }
}
.layout__wrapper-8 .layout__li:nth-child(1):before {
  background-color: #bf8b63;
}
.layout__wrapper-8 .layout__li:nth-child(2):before {
  background-color: #6e932c;
}
.layout__wrapper-8 .layout__li:nth-child(3):before {
  background-color: #35544f;
}
.layout__wrapper-8 .layout__li:nth-child(4):before {
  background-color: #8aa19d;
}
.layout__wrapper-9 {
  background-color: #fff;
  margin-bottom: 40px;
  position: relative;
}
@media (max-width: 1365px) {
  .layout__wrapper-9 {
    margin-bottom: 32px;
  }
}
.layout__wrapper-9 .layout__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 38px 0;
  max-width: 1260px;
}
.layout__wrapper-9 .layout__content:before {
  content: '';
  display: block;
  width: 100%;
  max-width: 1671px;
  height: 548px;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f9f9fa;
  border-radius: 44px 0 0 44px;
}
@media (max-width: 1365px) {
  .layout__wrapper-9 .layout__content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
  }
  .layout__wrapper-9 .layout__content:before {
    width: calc(100% - 40px);
    height: auto;
    top: 0;
  }
}
@media (max-width: 767px) {
  .layout__wrapper-9 .layout__content {
    padding: 21px 10px 26px 10px;
  }
  .layout__wrapper-9 .layout__content:before {
    border-radius: 0;
    width: 100%;
  }
}
.layout__wrapper-9 .layout__bg {
  width: 861px;
  z-index: 1;
}
@media (max-width: 1365px) {
  .layout__wrapper-9 .layout__bg {
    position: absolute;
    width: 509px;
    left: 76px;
    top: 119px;
  }
}
@media (max-width: 767px) {
  .layout__wrapper-9 .layout__bg {
    width: 272px;
    height: 246px;
    left: calc(50% - 272px / 2);
    top: 86px;
  }
}
.layout__wrapper-9 .layout__text__wrapper {
  z-index: 1;
  margin-right: 71px;
}
@media (max-width: 1365px) {
  .layout__wrapper-9 .layout__text__wrapper {
    max-width: 100%;
    margin-right: 0;
    margin-left: 74px;
  }
}
@media (max-width: 767px) {
  .layout__wrapper-9 .layout__text__wrapper {
    margin-left: 0;
  }
}
.layout__wrapper-9 .layout__subtitle {
  color: #353535;
  margin-bottom: 202px;
}
@media (max-width: 1365px) {
  .layout__wrapper-9 .layout__subtitle {
    margin-bottom: 339px;
  }
}
@media (max-width: 767px) {
  .layout__wrapper-9 .layout__subtitle {
    margin-bottom: 288px;
  }
}
.layout__wrapper-9 .layout__text {
  color: #353535;
  margin-bottom: 38px;
  font-family: Museo-500, Arial, sans-serif;
  font-size: 16px;
  line-height: 125%;
}
@media (max-width: 1365px) {
  .layout__wrapper-9 .layout__text {
    margin-bottom: 19px;
  }
}
@media (max-width: 767px) {
  .layout__wrapper-9 .layout__text {
    margin-bottom: 11px;
  }
}
.layout__wrapper-9 .layout__li:nth-child(1):before {
  background-color: #cdbe9a;
}
.layout__wrapper-9 .layout__li:nth-child(2):before {
  background-color: #b49a74;
}
.layout__wrapper-9 .layout__li:nth-child(3):before {
  background-color: #826657;
}
.layout__wrapper-9 .layout__li:nth-child(4):before {
  background-color: #4a2a19;
}
.layout__wrapper-9 .layout__li:nth-child(5):before {
  background-color: #357387;
}
.layout__wrapper-9 .layout__li:nth-child(6):before {
  background-color: #7e9a4f;
}
.layout__wrapper-10 {
  background-color: #fff;
  margin-bottom: 109px;
  position: relative;
}
@media (max-width: 1365px) {
  .layout__wrapper-10 {
    margin-bottom: 91px;
  }
}
@media (max-width: 767px) {
  .layout__wrapper-10 {
    margin-bottom: 68px;
  }
}
.layout__wrapper-10 .layout__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  max-width: 1260px;
  padding: 38px 0;
}
.layout__wrapper-10 .layout__content:before {
  content: '';
  display: block;
  width: 100%;
  max-width: 1671px;
  height: 548px;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f9f9fa;
  border-radius: 0 44px 44px 0;
}
@media (max-width: 1365px) {
  .layout__wrapper-10 .layout__content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
  }
  .layout__wrapper-10 .layout__content:before {
    width: calc(100% - 40px);
    height: auto;
    top: 0;
  }
}
@media (max-width: 767px) {
  .layout__wrapper-10 .layout__content {
    padding: 21px 10px 26px 10px;
  }
  .layout__wrapper-10 .layout__content:before {
    border-radius: 0;
    width: 100%;
  }
}
.layout__wrapper-10 .layout__bg {
  width: 811px;
  z-index: 1;
}
@media (max-width: 1365px) {
  .layout__wrapper-10 .layout__bg {
    position: absolute;
    width: 591px;
    left: 76px;
    top: 117px;
  }
}
@media (max-width: 767px) {
  .layout__wrapper-10 .layout__bg {
    width: 155px;
    height: 297px;
    left: calc(50% - 155px / 2);
    top: 86px;
  }
}
.layout__wrapper-10 .layout__text__wrapper {
  margin-left: 121px;
  z-index: 1;
}
@media (max-width: 1365px) {
  .layout__wrapper-10 .layout__text__wrapper {
    max-width: 100%;
    margin-right: 0;
    margin-left: 74px;
  }
}
@media (max-width: 767px) {
  .layout__wrapper-10 .layout__text__wrapper {
    margin-left: 0;
  }
}
.layout__wrapper-10 .layout__subtitle {
  color: #353535;
  margin-bottom: 266px;
}
@media (max-width: 1365px) {
  .layout__wrapper-10 .layout__subtitle {
    margin-bottom: 339px;
  }
}
@media (max-width: 767px) {
  .layout__wrapper-10 .layout__subtitle {
    margin-bottom: 337px;
  }
}
.layout__wrapper-10 .layout__text {
  color: #353535;
  margin-bottom: 49px;
  font-family: Museo-500, Arial, sans-serif;
  font-size: 16px;
  line-height: 125%;
}
@media (max-width: 1365px) {
  .layout__wrapper-10 .layout__text {
    margin-bottom: 19px;
  }
}
@media (max-width: 767px) {
  .layout__wrapper-10 .layout__text {
    margin-bottom: 11px;
  }
}
.layout__wrapper-10 .layout__li:nth-child(1):before {
  background-color: #477379;
}
.layout__wrapper-10 .layout__li:nth-child(2):before {
  background-color: #2f4b4c;
}
.layout__wrapper-10 .layout__li:nth-child(3):before {
  background-color: #8ca083;
}
.layout__wrapper-10 .layout__li:nth-child(4):before {
  background-color: #bdb189;
}
.layout__wrapper-11 .layout__content {
  max-width: 100%;
  position: relative;
  margin-bottom: 154px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .layout__wrapper-11 .layout__content {
    margin-bottom: 71px;
  }
}
.layout__wrapper-11 .layout__title {
  margin-left: 17%;
  margin-bottom: 31px;
}
@media (max-width: 1366px) {
  .layout__wrapper-11 .layout__title {
    margin-left: 74px;
  }
}
@media (max-width: 767px) {
  .layout__wrapper-11 .layout__title {
    margin-left: 10px;
  }
}
.layout__wrapper-11 .finishing__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  border-bottom: 1px solid #2f5c59;
  padding-left: 17%;
}
@media (max-width: 1366px) {
  .layout__wrapper-11 .finishing__tabs {
    padding-left: 74px;
  }
}
@media (max-width: 1366px) {
  .layout__wrapper-11 .finishing__tabs {
    padding-left: 10px;
  }
}
.layout__wrapper-11 .finishing__tab__item {
  padding: 18px 38px 12px 42px;
  background-color: #00524c;
  color: #fff;
  font-size: 18px;
  line-height: 140%;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #2f5c59;
  position: relative;
  white-space: nowrap;
}
@media (max-width: 767px) {
  .layout__wrapper-11 .finishing__tab__item {
    font-size: 13px;
    line-height: 140%;
    padding: 14px 10px 10px 10px;
  }
}
.layout__wrapper-11 .finishing__tab__item:first-child {
  border-radius: 3px 3px 0 0;
}
.layout__wrapper-11 .finishing__tab__item:nth-child(2) {
  border-left-width: 0;
  border-right-width: 0;
  border-radius: 0 3px 0 0;
}
.layout__wrapper-11 .finishing__tab__item:last-child {
  border-radius: 0 30px 0 0;
}
.layout__wrapper-11 .finishing__tab__item.active {
  background-color: #fff;
  color: #00524c;
  position: relative;
}
.layout__wrapper-11 .finishing__tab__item.active:after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -2px;
  left: 0;
  background-color: #fff;
}
.layout__wrapper-11 .finishing__tabs__content {
  position: absolute;
  z-index: -100;
  bottom: 0;
  left: 0;
  opacity: 0;
  padding: 46px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}
.layout__wrapper-11 .finishing__tabs__content.active {
  opacity: 1;
  z-index: 0;
  position: relative;
}
.layout__wrapper-11 .finishing__tabs__content .comfort-type__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-left: 17%;
  margin-bottom: 20px;
}
@media (max-width: 1366px) {
  .layout__wrapper-11 .finishing__tabs__content .comfort-type__tabs {
    margin-left: 74px;
  }
}
@media (max-width: 1366px) {
  .layout__wrapper-11 .finishing__tabs__content .comfort-type__tabs {
    margin-left: 10px;
    white-space: nowrap;
  }
}
.layout__wrapper-11 .finishing__tabs__content .comfort-type__tabs .comfort-type__tab {
  color: #00524c;
  font-size: 12px;
  line-height: 140%;
  opacity: 0.5;
  padding: 7px 24px;
  margin-right: 16px;
  cursor: pointer;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .layout__wrapper-11 .finishing__tabs__content .comfort-type__tabs .comfort-type__tab {
    padding: 7px;
  }
}
.layout__wrapper-11 .finishing__tabs__content .comfort-type__tabs .comfort-type__tab.active {
  background-color: #00524c;
  color: #fff;
  opacity: 1;
}
.layout__wrapper-11 .finishing__tabs__content .comfort-type__tabs+.text__wrapper {
  max-width: 400px;
  margin-right: 18%;
}
@media (max-width: 1366px) {
  .layout__wrapper-11 .finishing__tabs__content .comfort-type__tabs+.text__wrapper {
    margin-right: 74px;
  }
}
@media (max-width: 1366px) {
  .layout__wrapper-11 .finishing__tabs__content .comfort-type__tabs+.text__wrapper {
    margin-right: 0;
    margin-left: 74px;
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .layout__wrapper-11 .finishing__tabs__content .comfort-type__tabs+.text__wrapper {
    margin-left: 10px;
  }
}
.layout__wrapper-11 .finishing__tabs__content .comfort-type__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: absolute;
  z-index: -100;
  bottom: 0;
  left: 0;
  opacity: 0;
  margin-bottom: 24px;
  overflow: hidden;
}
.layout__wrapper-11 .finishing__tabs__content .comfort-type__content.active {
  opacity: 1;
  z-index: 1;
  position: relative;
}
.layout__wrapper-11 .finishing__tabs__content .comfort-type__content .finishing-slider {
  width: 200%;
  left: -50%;
}
.layout__wrapper-11 .finishing__tabs__content .comfort-type__content .img__wrapper {
  overflow: hidden;
  padding: 0 18px;
}
.layout__wrapper-11 .finishing__tabs__content .comfort-type__content .img__wrapper img {
  border-radius: 327px 10px;
}
@media (max-width: 1024px) {
  .layout__wrapper-11 .finishing__tabs__content .comfort-type__content .finishing-slider {
    width: 250%;
    left: -75%;
  }
  .layout__wrapper-11 .finishing__tabs__content .comfort-type__content .finishing-slider .slick-arrow {
    display: none !important;
  }
  .layout__wrapper-11 .finishing__tabs__content .comfort-type__content .img__wrapper {
    padding: 0 15px;
  }
  .layout__wrapper-11 .finishing__tabs__content .comfort-type__content .img__wrapper img {
    border-radius: 278.5px 10px;
  }
}
@media (max-width: 1024px) {
  .layout__wrapper-11 .finishing__tabs__content .comfort-type__content .finishing-slider {
    width: 250%;
    left: -75%;
  }
  .layout__wrapper-11 .finishing__tabs__content .comfort-type__content .img__wrapper {
    padding: 0;
  }
  .layout__wrapper-11 .finishing__tabs__content .comfort-type__content .img__wrapper img {
    border-radius: 125px 7.61476px;
  }
}
.layout__wrapper-11 .finishing__tabs__content[data-content="whitebox"] {
  margin-top: 50px;
}
.layout__wrapper-11 .finishing__tabs__content[data-content="whitebox"] .img__wrapper {
  margin: 0 auto;
}
.layout__wrapper-11 .finishing__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  max-width: 1260px;
  margin: 0 auto;
}
@media (max-width: 1366px) {
  .layout__wrapper-11 .finishing__items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 74px;
  }
}
@media (max-width: 767px) {
  .layout__wrapper-11 .finishing__items {
    margin-left: 10px;
  }
}
.layout__wrapper-11 .finishing__item {
  max-width: 382px;
  margin-right: 94px;
  font-size: 16px;
  line-height: 123%;
  color: #353535;
}
@media (max-width: 1366px) {
  .layout__wrapper-11 .finishing__item {
    margin-bottom: 10px;
  }
}
.layout__wrapper-11 .finishing__item.title__wrapper {
  font-size: 18px;
  line-height: 140%;
  font-family: Museo-500, Arial, sans-serif;
  max-width: 255px;
  margin-right: 73px;
}
@media (max-width: 1366px) {
  .layout__wrapper-11 .finishing__item.title__wrapper {
    max-width: none;
    margin-bottom: 20px;
  }
}
.layout__wrapper-11 .finishing__item:last-child {
  margin-right: 0;
  max-width: 455px;
}
.layout__wrapper-11 .finishing__item .text__wrapper-li {
  padding: 0 0 0 20px;
  margin: 0 0 10px 0;
  position: relative;
}
.layout__wrapper-11 .finishing__item .text__wrapper-li:before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: 0;
  background-color: #00524c;
}
.layout__wrapper-11 .finishing__item .text__wrapper-li:last-child {
  margin-bottom: 0;
}
.layout__wrapper-11 .finishing__item .text__wrapper-li.vanil,
.layout__wrapper-11 .finishing__item .text__wrapper-li.coffe {
  display: none;
}
.layout__wrapper-11 .finishing__items.coffe .text__wrapper-li.coffe,
.layout__wrapper-11 .finishing__items.vanil .text__wrapper-li.vanil {
  display: block;
}
.layout__wrapper-application {
  margin-bottom: 50px;
}
.layout__wrapper-application .layout__content {
  max-width: 1258px;
  background: url("../img/comfort/l-application-bg.png") no-repeat 50% 50%;
  padding: 74px 50px 42px 50px;
  color: #fff;
  border-radius: 20px;
}
@media (max-width: 767px) {
  .layout__wrapper-application .layout__content {
    padding: 20px 10px;
    margin: 0 10px;
    width: calc(100% - 20px);
  }
}
.layout__wrapper-application .layout__title {
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .layout__wrapper-application .layout__title {
    font-size: 24px;
    line-height: 29px;
  }
}
.layout__wrapper-application .layout__text {
  margin-bottom: 15px;
  max-width: 729px;
  font-size: 16px;
  line-height: 19px;
}
@media (max-width: 767px) {
  .layout__wrapper-application .layout__text {
    font-size: 13px;
    line-heigth: 130%;
    margin-bottom: 20px;
  }
}
.layout__wrapper-application .button__wrapper {
  display: inline-block;
  background-color: #e7b78a;
  color: #fff;
  padding: 9px 36px 10px 35px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 0.761476px;
}

/*# sourceMappingURL=maps/comfortPage.css.map */
