@font-face {
  font-family: "Museo-300";
  src: url("../fonts/MuseoSansCyrl-300.ttf") format("ttf"), url("../fonts/MuseoSansCyrl-300.eot") format("eot"), url("../fonts/MuseoSansCyrl-300.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Museo-500";
  src: url("../fonts/MuseoSansCyrl-500.ttf") format("ttf"), url("../fonts/MuseoSansCyrl-500.eot") format("eot"), url("../fonts/MuseoSansCyrl-500.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

/*# sourceMappingURL=maps/fonts.css.map */
