body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  color: #000;
  text-transform: none;
  text-decoration: none;
}
a:hover {
  color: #000;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1,
h2 {
  margin: 0;
  padding: 0;
}
div {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
img,
video {
  width: 100%;
  height: auto;
}
button,
input[type="submit"] {
  -webkit-appearance: none;
}
form {
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: "Museo-300";
  src: url("../fonts/MuseoSansCyrl-300.ttf") format("ttf"), url("../fonts/MuseoSansCyrl-300.eot") format("eot"), url("../fonts/MuseoSansCyrl-300.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Museo-500";
  src: url("../fonts/MuseoSansCyrl-500.ttf") format("ttf"), url("../fonts/MuseoSansCyrl-500.eot") format("eot"), url("../fonts/MuseoSansCyrl-500.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
.layout__title {
  width: 100%;
  font-size: 36px;
  line-height: 42px;
  font-family: "Museo-500", Arial, sans-serif;
  color: #333;
  margin-bottom: 31px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .layout__title {
    font-size: 24px;
    line-height: 29px;
    color: #333;
    margin-bottom: 25px;
    margin-left: 10px;
  }
}
.layout__text {
  font-size: 18px;
  line-height: 25px;
  font-family: "Museo-300", Arial, sans-serif;
  color: rgba(51,51,51,0.78);
}
.layout__text-bold {
  font-family: "Museo-500", Arial, sans-serif;
  font-weight: bold;
}
.layout__text-small {
  font-size: 12px;
  line-height: 14px;
}
.layout__link {
  font-size: 16px;
  line-height: 140%;
  font-family: "Museo-300", Arial, sans-serif;
  color: #309b42;
}
.layout__link a {
  text-decoration: underline;
}
.layout__booking {
  max-width: 1366px;
  margin: 176px auto 60px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 1366px) {
  .layout__booking {
    padding: 0 74px 0 74px;
    margin-top: 60px;
  }
}
@media (max-width: 767px) {
  .layout__booking {
    position: relative;
    padding: 0;
    margin: 0 auto 60px auto;
  }
}
.info__block {
  width: 812px;
  padding: 41px 34px 44px 48px;
  border: 1px solid rgba(0,0,0,0.1);
  background-color: #f9f9fa;
  border-radius: 12px;
  margin-right: 116px;
  margin-bottom: 60px;
}
.info__block .layout__text.layout__text-bold {
  margin-bottom: 17px;
  max-width: 300px;
  font-size: 24px;
  line-height: 30px;
  font-weight: normal;
  color: #333;
}
.info__block .layout__text:last-child {
  font-size: 16px;
}
@media (max-width: 1366px) {
  .info__block {
    width: 300px;
    height: 239px;
    margin-right: 20px;
    padding: 28px 72px 32px 32px;
  }
  .info__block .layout__text.layout__text-bold {
    font-size: 16px;
    line-height: 125%;
    margin-bottom: 12px;
  }
}
@media (max-width: 767px) {
  .info__block {
    padding: 28px 32px 32px 32px;
    margin: 0 10px 60px 10px;
    width: 100%;
  }
}
.feedback {
  background-color: #fff;
  padding: 24px 52px 22px 24px;
  width: 438px;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  font-family: Museo-300, Arial, sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: rgba(51,51,51,0.78);
  border-radius: 8px;
}
.feedback__title {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 28px;
  font-family: Museo-500, Arial, sans-serif;
  color: #333;
}
.feedback__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 8px;
}
.feedback .phone__wrapper {
  font-weight: bold;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.feedback .icon__wrapper {
  width: 32px;
  min-width: 32px;
  height: 32px;
  margin-right: 8px;
}
.feedback__button {
  display: inline-block;
  border: 1px solid transparent;
  padding: 9px 24px;
  text-transform: uppercase;
  color: #309b42;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  cursor: pointer;
  margin-left: 21px;
  font-weight: normal;
  border-radius: 4px;
  white-space: nowrap;
}
.feedback__button:hover {
  border-color: #309b42;
}
@media (max-width: 1366px) {
  .feedback {
    width: 300px;
    padding: 29px 32px 28px 32px;
  }
  .feedback__title {
    font-size: 16px;
    line-height: 125%;
    margin-bottom: 27px;
    margin-left: 32px;
  }
  .feedback__location {
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 21px;
  }
  .feedback .icon__wrapper {
    width: 24px;
    height: 24px;
    min-width: 24px;
  }
  .feedback .phone__wrapper {
    white-space: nowrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .feedback__button {
    margin-left: 8px;
    margin-top: 4px;
  }
}
@media (max-width: 767px) {
  .feedback {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin: 0 10px;
    width: 100%;
  }
}
.card__section {
  width: 100%;
  max-width: 812px;
  margin-right: 116px;
  margin-bottom: 60px;
}
.card__section .period__wrapper {
  width: 100%;
  padding: 14px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: 16px;
  line-height: 140%;
  font-family: Museo-300, Arial, sans-serif;
  background-color: rgba(158,181,153,0.1);
  border-radius: 4px;
  color: #309b42;
}
.card__section .period__wrapper .icon__wrapper {
  width: 32px;
  min-width: 32px;
  height: 32px;
  margin-right: 12px;
}
.card__section .period__wrapper .text__date {
  margin: 0 8px;
}
.card__wrapper {
  border: 1px solid rgba(0,0,0,0.1);
  position: relative;
  padding: 29px 16px 35px 182px;
  margin-bottom: 12px;
  border-radius: 8px;
}
.card__title {
  font-size: 24px;
  line-height: 29px;
  font-family: Gilroy-SemiBold, Arial, sans-serif;
  color: #3a393c;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.card__subtitle {
  font-size: 12px;
  line-height: 14px;
  font-family: Roboto, Arial, sans-serif;
  color: rgba(51,51,51,0.6);
  display: none;
}
.card__wrapper .finishing__type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-left: 37px;
}
.card__wrapper .finishing__type .img__wrapper {
  width: 33px;
  height: 33px;
  margin-right: 12.2px;
}
.card__wrapper .finishing__type .text__wrapper {
  font-size: 12px;
  line-height: 15px;
  font-family: Museo-300, Arial, sans-serif;
  background-color: #fff;
  border-radius: 30px;
  border: 1px solid #7db566;
  padding: 9px 12px;
  color: #7db566;
}
.card__wrapper .deleted__button {
  position: absolute;
  top: 12px;
  right: 18px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.card__img {
  position: absolute;
  top: 12px;
  left: 17px;
  width: 134px;
  height: 133px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  overflow: hidden;
}
.card__img img {
  width: auto;
  height: 100%;
  max-width: 134px;
}
.card__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.card__cell {
  margin-right: 33px;
  white-space: nowrap;
}
.card__cell:last-child {
  margin-right: 0;
}
.card__cell-price .card__text {
  font-weight: bold;
}
.card__label {
  font-size: 12px;
  line-height: 14px;
  color: rgba(51,51,51,0.6);
  font-family: Roboto, Arial, sans-serif;
  margin-bottom: 9px;
}
.card__text {
  font-size: 16px;
  line-height: 132%;
  color: rgba(51,51,51,0.78);
  font-family: Roboto, Arial, sans-serif;
}
@media (max-width: 1366px) {
  .card__section {
    max-width: 300px;
    margin-right: 20px;
  }
  .card__section .period__wrapper {
    padding: 6px 10px 10px 16px;
    border-radius: 0 0 8px 8px;
    border: 1px solid rgba(0,0,0,0.1);
    border-top: none;
  }
  .card__wrapper {
    width: 100%;
    padding: 15px 16px 0 16px;
    margin-bottom: 0;
    border-radius: 8px 8px 0 0;
  }
  .card__wrapper .card__title {
    margin-bottom: 102px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 16px;
    line-height: 132%;
  }
  .card__wrapper .card__title .finishing__type {
    width: 100%;
    margin-left: 0;
    margin-top: 12px;
  }
  .card__wrapper .card__title .finishing__type .text__wrapper {
    display: none;
  }
  .card__wrapper .card__subtitle {
    display: block;
    width: 100%;
    margin-top: 5px;
  }
  .card__wrapper .card__img {
    width: 249px;
    height: 102px;
    top: 56px;
  }
  .card__wrapper .card__row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .card__wrapper .card__cell {
    margin-bottom: 15px;
  }
  .card__wrapper .card__cell:nth-child(2n+1) {
    width: 96px;
  }
  .card__wrapper .card__cell:nth-child(2n+2) {
    margin-right: 0;
  }
  .card__wrapper .card__cell-floor,
  .card__wrapper .card__cell-corp {
    display: none;
  }
  .card__wrapper .card__cell-price {
    font-family: Roboto-Bold, Arial, sans-serif;
    font-weight: bold;
  }
  .card__wrapper .card__label {
    margin-bottom: 5px;
  }
}
@media (max-width: 767px) {
  .card__section {
    max-width: 100%;
    margin: 0 10px 60px 10px;
  }
  .card__wrapper {
    width: 100%;
  }
  .card__wrapper .card__cell,
  .card__wrapper .card__cell:nth-child(2n+1),
  .card__wrapper .card__cell:nth-child(2n+2) {
    width: 50%;
    margin-right: 0;
  }
  .card__wrapper .card__img {
    width: 50%;
    left: 25%;
  }
}
.digital__mortgage {
  max-width: 812px;
  width: 100%;
  padding: 29px 52px 47px 48px;
  border-radius: 12px;
  background-color: #309b42;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.digital__mortgage .title__wrapper {
  color: #fff;
  font-size: 24px;
  line-height: 30px;
  font-family: Museo-300, Arial, sans-serif;
  margin-bottom: 14px;
}
.digital__mortgage .text__wrapper {
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  font-family: Museo-300, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.digital__mortgage .img__bg {
  position: absolute;
  top: 18px;
  right: 52px;
  width: 129px;
  height: 129px;
}
.digital__mortgage .img__bg img {
  width: 100%;
  height: auto;
}
.digital__mortgage-frame {
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 28px 24px;
}
@media (max-width: 1366px) {
  .digital__mortgage {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .digital__mortgage {
    margin: 0 10px 60px 10px;
    padding: 29px 52px 37px 32px;
  }
  .digital__mortgage .img__bg {
    display: none;
  }
  .digital__mortgage .title__wrapper {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 14px;
  }
}
.popup__wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.popup__wrapper.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.popup__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.6);
}
.popup__body {
  position: relative;
  width: 363px;
  background-color: #fff;
  padding: 30px 28px 40px 23px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.popup__body .popup__title {
  font-size: 16px;
  line-height: 125%;
  font-family: "Museo-500", Arial, sans-serif;
  color: #333;
  font-weight: bold;
  margin-bottom: 17px;
}
.popup__body .popup__text {
  color: rgba(51,51,51,0.78);
  font-family: Museo-300, Arial, sans-serif;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 27px;
  max-width: 246px;
}
.popup__body .input__wrapper {
  padding: 12px 13px 11px 24px;
  border: 1px solid rgba(58,57,60,0.2);
  margin-bottom: 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
}
.popup__body .input__wrapper input {
  border: none;
  outline: none;
  width: 100%;
  font-family: Museo-300, Arial, sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: rgba(51,51,51,0.78);
}
.popup__body .input__wrapper input::-webkit-input-placeholder {
  font-family: Museo-300, Arial, sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: rgba(51,51,51,0.78);
}
.popup__body .input__wrapper input::-moz-placeholder {
  font-family: Museo-300, Arial, sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: rgba(51,51,51,0.78);
}
.popup__body .input__wrapper input:-ms-input-placeholder {
  font-family: Museo-300, Arial, sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: rgba(51,51,51,0.78);
}
.popup__body .input__wrapper input::-ms-input-placeholder {
  font-family: Museo-300, Arial, sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: rgba(51,51,51,0.78);
}
.popup__body .input__wrapper input::placeholder {
  font-family: Museo-300, Arial, sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: rgba(51,51,51,0.78);
}
.popup__body .button__wrapper {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  padding: 17px 0;
  border: 1px solid #309b42;
  font-family: Museo-300, Arial, sans-serif;
  width: 100%;
  cursor: pointer;
  background-color: #309b42;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .popup__body .button__wrapper {
    width: 100%;
    text-align: center;
  }
}
.popup__body .popup__close {
  position: absolute;
  top: 8px;
  right: 12px;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.popup__body .popup__close img {
  width: 12px;
  height: auto;
}
.popup__body .popup__link {
  font-family: Museo-300-Bold, Arial, sans-serif;
  font-size: 16px;
  line-height: 132%;
  color: #309b42;
  text-decoration: underline;
  margin-bottom: 7px;
  cursor: pointer;
  display: inline-block;
}
.popup__body .popup__link:hover {
  text-decoration: none;
}
.popup__wrapper#feedback-form .flex__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.popup__wrapper#feedback-form .flex__wrapper .input__wrapper {
  margin-right: 8px;
}
.popup__wrapper#feedback-form .flex__wrapper .input__wrapper:last-child {
  margin-right: 0;
}
.popup__wrapper#feedback-send .popup__text {
  margin-bottom: 22px;
  font-size: 16px;
  line-height: 132%;
  font-family: Museo-300, Arial, sans-serif;
}
.popup__wrapper#feedback-send .popup__text-bold {
  font-size: 18px;
  line-height: 138%;
  font-family: Museo-300-Bold, Arial, sans-serif;
  font-weight: bold;
  color: rgba(51,51,51,0.78);
  margin-bottom: 10px;
}
.popup__wrapper#feedback-send .img__wrapper {
  width: 131px;
  margin: 0 auto 31px auto;
}
.popup__wrapper#digital-mortgage .popup__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 902px;
  padding: 0;
}
.popup__wrapper#digital-mortgage .main__img {
  width: 322px;
}
.popup__wrapper#digital-mortgage .main__img img {
  width: 100%;
  height: auto;
}
.popup__wrapper#digital-mortgage .feedback__wrapper {
  padding: 55px 123px 60px 60px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}
.popup__wrapper#digital-mortgage .popup__title {
  text-transform: uppercase;
  font-weight: bold;
}
.popup__wrapper#digital-mortgage .popup__text {
  max-width: 396px;
  margin-bottom: 33px;
}
.popup__wrapper#digital-mortgage .popup__text+.popup__text {
  margin-bottom: 18px;
  max-width: 314px;
}
.popup__wrapper#digital-mortgage .input__wrapper {
  margin-bottom: 93px;
  width: 330px;
}
.popup__wrapper#digital-mortgage .button__wrapper {
  margin-top: 0;
  width: 307px;
  padding: 11px 32px 12px 32px;
  font-weight: normal;
}
.popup__wrapper#digital-mortgage .tel__wrapper {
  font-family: Roboto-Bold, Arial, sans-serif;
  font-weight: bold;
  white-space: nowrap;
}
@media (max-width: 1023px) {
  .popup__wrapper#digital-mortgage .popup__body {
    width: 300px;
  }
  .popup__wrapper#digital-mortgage .main__img {
    display: none;
  }
  .popup__wrapper#digital-mortgage .feedback__wrapper {
    padding: 35px 16px 40px 16px;
    width: 100%;
  }
  .popup__wrapper#digital-mortgage .input__wrapper {
    margin-top: 0;
    width: 100%;
  }
  .popup__wrapper#digital-mortgage .button__wrapper {
    width: 100%;
    font-size: 16px;
  }
}

/*# sourceMappingURL=maps/lk.css.map */
