.pagination__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}
.pagination__wrapper ul {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
.pagination__wrapper ul li {
  color: #a3a3a3;
  list-style: none;
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  cursor: pointer;
  font-family: "Museo-300", Arial, sans-serif;
}
.pagination__wrapper ul li.numb {
  list-style: none;
  line-height: 26px;
  margin-right: 20px;
}
.pagination__wrapper ul li.dots {
  font-size: 16px;
  cursor: default;
  margin-right: 20px;
}
.pagination__wrapper ul li.prev {
  margin-right: 20px;
}
.pagination__wrapper li.active,
.pagination__wrapper ul li.numb:hover,
.pagination__wrapper ul li:first-child:hover,
.pagination__wrapper ul li:last-child:hover {
  color: #3e9134;
}

/*# sourceMappingURL=maps/pagination.css.map */
