body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  color: #000;
  text-transform: none;
  text-decoration: none;
}
a:hover {
  color: #000;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1,
h2 {
  margin: 0;
  padding: 0;
}
div {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
img,
video {
  width: 100%;
  height: auto;
}
button,
input[type="submit"] {
  -webkit-appearance: none;
}
form {
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: "Museo-300";
  src: url("../fonts/MuseoSansCyrl-300.ttf") format("ttf"), url("../fonts/MuseoSansCyrl-300.eot") format("eot"), url("../fonts/MuseoSansCyrl-300.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Museo-500";
  src: url("../fonts/MuseoSansCyrl-500.ttf") format("ttf"), url("../fonts/MuseoSansCyrl-500.eot") format("eot"), url("../fonts/MuseoSansCyrl-500.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
.breadcrumb {
  padding: 150px 0 0 0;
  background-color: #fff;
  max-width: 1366px;
  margin: 0 auto 51px auto;
}
@media (max-width: 1360px) {
  .breadcrumb {
    margin-left: 42px;
  }
}
@media (max-width: 1024px) {
  .breadcrumb {
    padding: 120px 0 0 0;
  }
}
@media (max-width: 767px) {
  .breadcrumb {
    margin-left: 10px;
    padding: 150px 0 0 0;
  }
}
.bx-breadcrumb {
  margin: 0;
  color: #a3a3a3;
  font-family: 'Geometria', Arial, sans-serif;
  font-size: 14px;
  line-height: 140%;
}
.bx-breadcrumb a {
  color: #a3a3a3;
  text-decoration: underline;
}
.bx-breadcrumb a:hover {
  color: #353535;
  text-decoration: underline;
}
.layout__wrapper {
  max-width: 1260px;
  margin: 0 auto;
}
.layout__subtitle {
  font-size: 24px;
  line-height: 30px;
  font-family: Museo-300, Arial, sans-serif;
}
.layout__text {
  color: rgba(51,51,51,0.78);
  font-size: 16px;
  line-height: 140%;
  font-family: Museo-300, Arial, sans-serif;
}
.button__wrapper {
  padding: 23px 31px;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: #309b42;
  border: 1px solid #309b42;
  border-radius: 4px;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
}
.button__wrapper.button__wrapper-white {
  background-color: transparent;
}
.baner__wrapper {
  position: relative;
  max-width: 1920px;
  margin: 0 auto 86px auto;
  font-family: Museo-300, Arial, sans-serif;
}
@media (max-width: 1690px) {
  .baner__wrapper {
    margin-bottom: 69px;
  }
}
@media (max-width: 767px) {
  .baner__wrapper {
    margin-bottom: 50px;
  }
}
.baner__wrapper:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 1670px;
  background: rgba(158,181,153,0.1);
  border-radius: 0 44px 44px 0;
  z-index: -1;
}
@media (max-width: 1690px) {
  .baner__wrapper:after {
    max-width: inherit;
    width: calc(100% - 40px);
  }
}
@media (max-width: 767px) {
  .baner__wrapper:after {
    width: calc(100% - 10px);
  }
}
.baner__content {
  max-width: 1260px;
  margin: 0 auto;
  padding: 71px 0 96px 0;
  position: relative;
}
@media (max-width: 1367px) {
  .baner__content {
    padding: 56px 59px 52px 75px;
  }
}
@media (max-width: 767px) {
  .baner__content {
    padding: 45px 10px 50px 10px;
  }
}
.baner__title {
  font-family: Museo-500, Arial, sans-serif;
  font-size: 56px;
  line-height: 67px;
  color: #333;
  margin-bottom: 23px;
}
@media (max-width: 767px) {
  .baner__title {
    font-size: 36px;
    line-height: 43px;
    max-width: 162px;
    margin-bottom: 12px;
  }
}
.baner__subtitle {
  font-size: 24px;
  line-height: 30px;
  font-family: Museo-300, Arial, sans-serif;
  margin-bottom: 159px;
}
@media (max-width: 1024px) {
  .baner__subtitle {
    margin-bottom: 47px;
  }
}
@media (max-width: 767px) {
  .baner__subtitle {
    margin-bottom: 30px;
    max-width: 281px;
  }
}
.baner__form {
  border: 1px solid #309b42;
  border-radius: 12px;
  width: 380px;
  padding: 19px 24px;
  position: relative;
}
@media (max-width: 1024px) {
  .baner__form {
    margin-bottom: 27px;
    width: 301px;
  }
}
@media (max-width: 767px) {
  .baner__form {
    width: 100%;
    margin-bottom: 30px;
  }
}
.baner__form__title {
  font-family: Museo-500, Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: #851c58;
  margin-bottom: 38px;
}
.baner__form .button__wrapper {
  max-width: 195px;
}
@media (max-width: 1024px) {
  .baner__form .button__wrapper {
    max-width: 181px;
    padding: 16px 32px 15px 32px;
  }
}
.baner__form .img__wrapper {
  width: 70px;
  height: 70px;
  position: absolute;
  bottom: 30px;
  right: 47px;
}
@media (max-width: 1024px) {
  .baner__form .img__wrapper {
    width: 52px;
    height: 50.37px;
    bottom: 31px;
    right: 21px;
  }
}
.baner__form:after {
  content: "Акция";
  display: block;
  position: absolute;
  top: -1px;
  right: -1px;
  background-color: #789d67;
  border-radius: 0 12px;
  color: #fff;
  font-size: 14px;
  line-height: 17px;
  padding: 8px 16px 7px 16px;
}
.baner__bg {
  width: 640px;
  position: absolute;
  top: 63px;
  right: 0;
  z-index: -1;
}
@media (max-width: 1024px) {
  .baner__bg {
    position: relative;
    top: 0;
    margin-left: auto;
    width: 398px;
    height: 302px;
  }
}
@media (max-width: 767px) {
  .baner__bg {
    width: 100%;
    height: auto;
    margin-left: 0;
  }
}
.baner__bg .img__wrapper {
  position: absolute;
  top: -26px;
  right: 30px;
  width: 52px;
  height: 52px;
}
@media (max-width: 1024px) {
  .baner__bg .img__wrapper {
    width: 66px;
    height: 66px;
    top: auto;
    right: auto;
    left: -143px;
    bottom: 62px;
  }
}
@media (max-width: 767px) {
  .baner__bg .img__wrapper {
    display: none;
  }
}
.layout__wrapper-2 {
  margin-bottom: 114px;
}
@media (max-width: 1280px) {
  .layout__wrapper-2 {
    padding: 0 72px;
    marign-bottom: 90px;
  }
}
@media (max-width: 767px) {
  .layout__wrapper-2 {
    margin-bottom: 74px;
    padding: 0 10px;
  }
}
.layout__wrapper-2 .layout__subtitle {
  margin-bottom: 33px;
  max-width: 638px;
}
@media (max-width: 1280px) {
  .layout__wrapper-2 .layout__subtitle {
    max-width: 540px;
    margin-bottom: 39px;
  }
}
@media (max-width: 767px) {
  .layout__wrapper-2 .layout__subtitle {
    margin-bottom: 30px;
  }
}
.step__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
@media (max-width: 1023px) {
  .step__items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.step__item {
  width: 441px;
  position: relative;
}
@media (max-width: 1023px) {
  .step__item {
    width: 100%;
  }
}
.step__item:before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  border-top: 1px dashed #851c58;
  position: absolute;
  left: 0;
  top: 29px;
  z-index: -1;
}
@media (max-width: 1023px) {
  .step__item:before {
    width: 1px;
    height: auto;
    top: 0;
    bottom: 0;
    left: 23px;
    border-top: none;
    border-left: 1px dashed #851c58;
  }
}
.step__item:last-child:before {
  display: none;
}
.step__number {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  border: 1px solid #851c58;
  border-radius: 50%;
  color: #851c58;
  font-size: 24px;
  line-height: 30px;
  font-family: Museo-500, Arial, sans-serif;
  background-color: #fff;
}
@media (max-width: 1023px) {
  .step__number {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 0;
    left: 0;
  }
}
@media (max-width: 767px) {
  .step__number {
    top: -12px;
  }
}
.step__title {
  margin-left: 64px;
  margin-bottom: 9px;
  font-size: 24px;
  line-height: 30px;
  font-family: Museo-300, Arial, sans-serif;
}
@media (max-width: 1024px) {
  .step__title {
    margin-left: 80px;
  }
}
.step__title:before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 6px;
  margin-bottom: 5px;
  background-color: #851c58;
}
.step__item .layout__text {
  margin-left: 78px;
  max-width: 290px;
}
@media (max-width: 1023px) {
  .step__item .layout__text {
    max-width: 100%;
    margin-left: 80px;
    margin-bottom: 28px;
  }
}
@media (max-width: 767px) {
  .step__item .layout__text {
    margin-bottom: 16px;
  }
}
.step__item:last-child .step__text {
  margin-bottom: 0;
}
.trade-form__section {
  max-width: 1920px;
  margin: 0 auto 120px auto;
  position: relative;
}
@media (max-width: 1690px) {
  .trade-form__section {
    margin-bottom: 69px;
  }
}
@media (max-width: 767px) {
  .trade-form__section {
    margin-bottom: 50px;
  }
}
.trade-form__section:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 140px;
  width: 100%;
  max-width: 1670px;
  background-color: #7db566;
  border-radius: 44px 0 0 44px;
  z-index: -1;
}
@media (max-width: 1690px) {
  .trade-form__section:after {
    max-width: inherit;
    width: calc(100% - 40px);
  }
}
@media (max-width: 1279px) {
  .trade-form__section:after {
    bottom: 0;
  }
}
@media (max-width: 767px) {
  .trade-form__section:after {
    width: 100%;
    border-radius: 0;
  }
}
.trade-form__wrapper {
  max-width: 1260px;
  padding: 46px 0;
  margin: 0 auto;
}
@media (max-width: 1279px) {
  .trade-form__wrapper {
    padding: 45px 72px;
  }
}
@media (max-width: 767px) {
  .trade-form__wrapper {
    padding: 45px 10px 60px 10px;
  }
}
.trade-form__title {
  font-family: Museo-500, Arial, sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #fff;
  margin-bottom: 39px;
}
.trade-form__wrapper .card-form__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 1279px) {
  .trade-form__wrapper .card-form__section {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.card-form__wrapper {
  max-width: 620px;
  width: 100%;
  padding: 29px 40px 53px 40px;
  -webkit-box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  border-radius: 12px;
  margin-right: 99px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  position: relative;
}
@media (max-width: 1279px) {
  .card-form__wrapper {
    margin-right: 0;
    margin-bottom: 92px;
  }
}
@media (max-width: 767px) {
  .card-form__wrapper {
    padding: 29px 16px 35px 16px;
    margin-right: 0;
    margin-bottom: 118px;
  }
}
.card-form__wrapper .card-form__row .input-text__section:first-child {
  min-width: 185px;
}
.card-form__wrapper .button__wrapper {
  width: 100%;
  padding: 16px 0;
  background-color: #40a035;
}
.card-form__wrapper .input-edit+.button__wrapper {
  margin-top: 28px;
  margin-bottom: 32px;
}
.card-form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .card-form__row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.card-form__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: 16px;
  line-height: 140%;
  color: #333;
  font-family: Museo-300, Arial, sans-serif;
  width: 100%;
  padding-top: 20px;
  border-top: 1px solid rgba(0,0,0,0.1);
}
.card-form__footer div:first-child {
  max-width: 138px;
}
.card-form__footer .price {
  color: #641b51;
  font-size: 36px;
  line-height: 140%;
}
@media (max-width: 767px) {
  .card-form__footer {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .card-form__footer .price {
    margin-top: 14px;
  }
}
.card-form__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  font-family: "Museo-300", Arial, sans-serif;
  color: #333;
  margin-bottom: 29px;
}
.card-form__wrapper:after {
  content: 'Расчет является приблизительным.  Оставьте заявку, чтобы уточнить оценку';
  display: block;
  width: 160px;
  height: 160px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 44px 23px 31px 23px;
  background-color: #134e0b;
  border-radius: 50% 0 50% 0;
  position: absolute;
  bottom: 86px;
  right: -131px;
  z-index: 1;
  color: #fff;
  font-family: Museo-300, Arial, sans-serif;
  font-size: 14px;
  line-height: 17px;
}
@media (max-width: 1279px) {
  .card-form__wrapper:after {
    bottom: -126px;
    right: inherit;
    left: 58px;
  }
}
@media (max-width: 767px) {
  .card-form__wrapper:after {
    left: inherit;
    right: -10px;
    bottom: -136px;
  }
}
.card-form__section .feedback__wrapper {
  background: rgba(255,255,255,0.2);
  border-radius: 12px;
  padding: 30px 32px 40px 32px;
  max-width: 474px;
  font-family: Museo-300, Arial, sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: rgba(51,51,51,0.78);
  position: relative;
  top: -86px;
}
@media (max-width: 1279px) {
  .card-form__section .feedback__wrapper {
    top: 0;
    left: 63px;
  }
}
@media (max-width: 767px) {
  .card-form__section .feedback__wrapper {
    left: 0;
    padding: 21px 16px 40px 16px;
  }
}
.card-form__section .feedback__wrapper .feedback__title {
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 33px;
}
@media (max-width: 767px) {
  .card-form__section .feedback__wrapper .feedback__title {
    margin-left: 16px;
  }
}
.card-form__section .feedback__wrapper .manager__section {
  margin-bottom: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
}
.card-form__section .feedback__wrapper .manager__icon {
  min-width: 80px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 26px;
}
@media (max-width: 767px) {
  .card-form__section .feedback__wrapper .manager__icon {
    position: absolute;
    z-index: 1;
    width: 48px;
    height: 48px;
    min-width: 48px;
    overflow: visible;
    top: -4px;
    left: -4px;
  }
}
.card-form__section .feedback__wrapper .manager__name {
  color: #fff;
  font-weight: 600;
  padding: 5px 18px;
  background-color: #789d67;
  border-radius: 4px 4px 0 0;
}
@media (max-width: 767px) {
  .card-form__section .feedback__wrapper .manager__name {
    padding-left: 60px;
  }
}
.card-form__section .feedback__wrapper .manager__position {
  display: inline-block;
  position: relative;
}
.card-form__section .feedback__wrapper .manager__position:before {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 12px 3px 8px;
}
.card-form__section .feedback__wrapper .message__section {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  border: 1px solid #319b42;
  border-top-width: 0;
  color: rgba(51,51,51,0.78);
  font-size: 16px;
  line-height: 140%;
  position: relative;
  padding: 9px 5px 8px 17px;
}
@media (max-width: 767px) {
  .card-form__section .feedback__wrapper .message__section {
    padding: 12px 37px 13px 31px;
  }
}
.card-form__section .feedback__wrapper .message__section:after {
  content: '';
  display: block;
  position: absolute;
  left: -7px;
  top: 6px;
  width: 11px;
  height: 11px;
  background: #fff;
  border: 1px solid #319b42;
  border-top-color: transparent;
  border-right-color: transparent;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 1;
}
@media (max-width: 767px) {
  .card-form__section .feedback__wrapper .message__section:after {
    display: none;
  }
}
.card-form__section .feedback__wrapper .input-text__section {
  margin-bottom: 20px;
  margin-right: 0;
}
.card-form__section .feedback__wrapper .input-text__label {
  color: rgba(255,255,255,0.78);
}
.card-form__section .feedback__wrapper .button__wrapper {
  width: 100%;
  border-color: #fff;
  color: #fff;
  padding: 17px 0 15px 0;
}
.trade-form__section .input-text__section {
  margin-right: 16px;
  min-width: 103px;
}
.trade-form__section .input-text__section:last-child {
  margin-right: 0;
}
@media (max-width: 767px) {
  .trade-form__section .input-text__section {
    min-width: auto;
    width: 78px;
  }
  .trade-form__section .input-text__section:first-child {
    width: 100%;
    margin-right: 0;
    margin-bottom: 28px;
  }
  .trade-form__section .input-text__section:nth-child {
    margin-right: 0;
  }
}
.trade-form__section .input-text__label {
  font-size: 12px;
  line-height: 15px;
  color: rgba(51,51,51,0.4);
  margin-bottom: 8px;
  font-family: Roboto, Arial, sans-serif;
  letter-spacing: -0.26px;
}
.trade-form__section .input-text__wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 12px 20px;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 4px;
  background-color: #fff;
}
.trade-form__section .input-text__wrapper input {
  width: 100%;
  border: 0;
  outline: none;
}
.trade-form__section .radio__wrapper {
  position: relative;
  font-size: 16px;
  line-height: 140%;
  color: rgba(51,51,51,0.78);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-right: 10px;
  cursor: pointer;
  font-family: Museo-300, Arial, sans-serif;
}
@media (max-width: 767px) {
  .trade-form__section .radio__wrapper {
    width: 100%;
    margin-bottom: 2px;
  }
}
.trade-form__section .radio__wrapper:before {
  content: '';
  display: block;
  width: 20px;
  min-width: 20px;
  height: 20px;
  margin-right: 8px;
  border: 2px solid #319b42;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.trade-form__section .radio__wrapper:after {
  content: '';
  display: none;
  width: 16px;
  min-width: 16px;
  height: 16px;
  position: absolute;
  left: 2px;
  top: 2px;
  border: 3px solid #fff;
  background-color: #319b42;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.trade-form__section .radio__wrapper:last-child {
  margin-right: 0;
}
.trade-form__section .radio__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 26px;
}
@media (max-width: 767px) {
  .trade-form__section .radio__section {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.trade-form__section .radio__section input[type="radio"] {
  width: 0.1px;
  height: 0.1px;
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.trade-form__section .radio__section input[type="radio"]:checked+.radio__wrapper:after {
  display: block;
}
.trade-form__section .radio__label-section {
  font-size: 12px;
  line-height: 14px;
  font-family: "Roboto", Arial, sans-serif;
  color: rgba(51,51,51,0.4);
  margin-bottom: 9px;
  letter-spacing: -0.26px;
}
.trade-form__section .input-edit {
  position: relative;
  font-size: 14px;
  line-height: 18px;
  font-family: "Museo-300", Arial, sans-serif;
  color: rgba(51,51,51,0.78);
  margin-bottom: 12px;
}
.trade-form__section .input-edit__label {
  display: inline-block;
  margin-left: 6px;
  position: absolute;
  color: #319b42;
  cursor: pointer;
}
.trade-form__section .input-edit__label:after {
  content: '';
  display: none;
  width: 100%;
  height: 1px;
  background-color: #319b42;
  position: absolute;
  bottom: 0;
  left: 0;
}
.trade-form__section .input-edit__label:hover:after {
  display: block;
}
.trade-form__section .input-edit input[type="radio"] {
  width: 0.01px;
  height: 0.01px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.trade-form__section .input-edit input[type="radio"]:checked~.input-text__section {
  display: block;
  margin-top: 12px;
}
.trade-form__section .input-edit .input-text__section {
  display: none;
}
@media (max-width: 767px) {
  .trade-form__section .input-edit .input-text__section {
    width: 100%;
  }
}
.layout__wrapper-4 {
  padding: 57px 0 110px 0;
  position: relative;
  max-width: 1329px;
  margin-bottom: 58px;
}
@media (max-width: 1023px) {
  .layout__wrapper-4 {
    padding: 0 73px 0 54px;
  }
}
@media (max-width: 767px) {
  .layout__wrapper-4 {
    padding: 0 10px 0 10px;
  }
}
.example__ul {
  max-width: 412px;
  margin: 0 auto;
}
.example__li {
  margin-bottom: 23px;
  max-width: 315px;
}
.example__li .layout__subtitle {
  margin-bottom: 7.49px;
  font-weight: bold;
}
.example__li .layout__text {
  line-height: 200%;
}
.example__li:last-child {
  max-width: inherit;
  margin-bottom: 0;
}
.example__li:last-child .layout__subtitle {
  margin-bottom: 17px;
}
.example__li:last-child .layout__text {
  line-height: 140%;
}
.bg__layout {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
@media (max-width: 1023px) {
  .bg__layout {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 464px;
  }
}
@media (max-width: 768px) {
  .bg__layout {
    height: auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.bg__layout .img__wrapper {
  position: absolute;
}
@media (max-width: 1023px) {
  .bg__layout .img__wrapper {
    position: relative;
  }
}
.bg__layout .img__wrapper-1 {
  width: 429px;
  height: 390px;
  top: 0;
  left: 0;
}
.bg__layout .img__wrapper-2 {
  top: 48px;
  right: 0;
  width: 528px;
  height: 528px;
}
@media (max-width: 1023px) {
  .bg__layout .img__wrapper-2 {
    top: 0;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }
}
@media (max-width: 1023px) {
  .bg__layout .img__wrapper-1 {
    width: 292px;
    height: 267px;
  }
  .bg__layout .img__wrapper-2 {
    top: 0;
    -ms-flex-item-align: end;
    align-self: flex-end;
    width: 372px;
    height: 372px;
  }
}
@media (max-width: 767px) {
  .bg__layout .img__wrapper-1 {
    width: 243px;
    min-width: 243px;
    height: auto;
  }
  .bg__layout .img__wrapper-2 {
    width: 317px;
    min-width: 317px;
    height: auto;
  }
}
.bg__layout .arrow__wrapper {
  position: absolute;
}
.bg__layout .arrow__wrapper-1 {
  top: -20px;
  left: 249px;
  width: 140px;
  height: 87px;
}
.bg__layout .arrow__wrapper-2 {
  bottom: 76px;
  left: 280px;
  width: 113px;
  height: 70px;
}
.bg__layout .arrow__wrapper-3 {
  top: 91px;
  right: 424px;
  width: 77px;
  height: 48px;
}
.bg__layout .arrow__wrapper-4 {
  bottom: -26px;
  right: 279px;
  width: 219px;
  height: 136px;
}
@media (max-width: 1023px) {
  .bg__layout .arrow__wrapper-1 {
    top: 79px;
    left: 274px;
    width: 100px;
    height: 61.72px;
  }
  .bg__layout .arrow__wrapper-2 {
    top: 213pxpx;
    left: 6px;
    right: inherit;
    bottom: inherit;
    width: 100px;
    height: 61.72px;
  }
  .bg__layout .arrow__wrapper-3 {
    top: inherit;
    bottom: 68px;
    right: inherit;
    left: 181px;
    width: 144.8px;
    height: 89px;
  }
  .bg__layout .arrow__wrapper-4 {
    display: none;
  }
}
@media (max-width: 767px) {
  .bg__layout .arrow__wrapper-1 {
    top: 85px;
    left: 203px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .bg__layout .arrow__wrapper-2 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 211px;
    left: 0;
  }
  .bg__layout .arrow__wrapper-3 {
    width: 57px;
    height: 35px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 254px;
    left: 217px;
  }
}
.popup__wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.popup__wrapper.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.popup__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.2);
}
.popup__body {
  position: relative;
  width: 420px;
  background-color: #fff;
  padding: 22px 16px 32px 20px;
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.popup__body .popup__title {
  font-size: 24px;
  line-height: 30px;
  font-family: Museo-300, Arial, sans-serif;
  color: #333;
  margin-bottom: 9px;
}
.popup__body .popup__text {
  color: rgba(51,51,51,0.78);
  font-size: 16px;
  line-height: 140%;
  font-family: Museo-300, Arial, sans-serif;
  margin-bottom: 18px;
  max-width: 304px;
}
.popup__body .button__wrapper {
  padding: 16px 32px;
  font-family: Museo-300, Arial, sans-serif;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  color: #fff;
  display: block;
  width: 136px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
}
.popup__close {
  position: absolute;
  top: 24px;
  right: 16px;
  cursor: pointer;
  background-color: rgba(0,0,0,0.2);
  border-radius: 50%;
  width: 24px;
  height: 24px;
}
.popup__close img {
  width: 100%;
  height: auto;
}
.popup__wrapper#feedback-popup .popup__body:after {
  content: '';
  width: 108px;
  height: 101px;
  background: url("../img/trade-in/popup-bg.png") no-repeat 50% 50%;
  position: absolute;
  bottom: 22px;
  right: 34px;
}
.popup__wrapper#feedback-popup .popup__title + .popup__text {
  margin-bottom: 18px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-bottom: 18px;
}
.popup__wrapper#feedback-popup .button__wrapper {
  margin-top: 28px;
}
.popup__wrapper#error__popup .popup__body {
  padding: 28px 0 40px 20px;
}
.popup__wrapper#error__popup .popup__body:after {
  content: '';
  width: 35px;
  height: 35px;
  background: url("../img/trade-in/popup-error-bg.svg") no-repeat 50% 50%;
  position: absolute;
  top: -6px;
  left: -5px;
}
.popup__wrapper#error__popup .popup__title {
  margin-bottom: 26px;
}
.popup__wrapper#error__popup .button__wrapper-white.popup__close {
  position: relative;
  top: 0;
  right: 0;
  color: #319b42;
  width: 204px;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 4px;
  padding: 18px 24px 18px 16px;
}

/*# sourceMappingURL=maps/tradein.css.map */
