body
  margin: 0
  padding: 0
  box-sizing: border-box
a
  color: black;
  text-transform: none
  text-decoration: none
  &:hover
    color: black
ul,li
  margin: 0
  padding: 0
  list-style-type: none
h1, h2
  margin: 0
  padding: 0
div
  box-sizing: border-box
img, video
  width: 100%
  height: auto
button, input[type="submit"]
  -webkit-appearance: none
form
  margin: 0
  box-sizing: border-box
