@import "./mixin/flex.styl"

.layout__wrapper-application
  margin-bottom: 50px
  .layout
    &__content
      max-width: 1258px
      background: url("../img/comfort/l-application-bg.png") no-repeat 50% 50%
      padding: 74px 50px 42px 50px
      color: #fff
      border-radius: 20px
      @media(max-width: 767px)
        padding: 20px 10px
        margin: 0 10px
        width: calc(100% - 20px)
    &__title
      margin-bottom: 20px
      @media(max-width: 767px)
        font-size: 24px
        line-height: 29px
    &__text
      margin-bottom: 15px
      max-width: 729px
      font-size: 16px
      line-height: 19px
      @media(max-width: 767px)
        font-size: 13px
        line-heigth: 130%
        margin-bottom: 20px
  .button__wrapper
    display: inline-block
    background-color: #E7B78A
    color: #fff
    padding: 9px 36px 10px 35px
    letter-spacing: 0.1em
    text-transform: uppercase
    cursor: pointer
    border-radius: 0.761476px

