@import "./mixin/flex.styl"

.header
  &__wrapper
    width: 100%
    max-width: 1920px
    margin: 0 auto
    position: relative
    .baner__wrapper
      flex(center, center, row)
      max-height: 915px
      overflow: hidden
      video
        height: auto
        width: 100%
  &__text__wrapper
    position: absolute
    top: 438px
    left: calc(50% - 1260px/2)
    max-width: 1260px
    width: 100%
    @media(max-width: 1365px)
      left: 57px
      top: 360px
      width: auto
    @media(max-width: 1023px)
      top: 180px
  &__title
    font-size: 65px
    line-height: 65px
    letter-spacing: 0.01em
    text-transform: uppercase
    font-family: Museo-500, Arial, sans-serif
    color: #fff
    font-weight: bold
  &__subtitle
    font-size: 46px
    line-height: 55px
    letter-spacing: 0.01em
    text-transform: uppercase
    font-family: Museo-300, Arial, sans-serif
    color: #fff
  @media(max-width: 767px)
    &__text__wrapper
      top: 75px
      left: 10px
    &__title
      font-size: 35px
      line-height: 43px
    &__subtitle
      font-size: 25px
      line-height: 30px


