@import "./mixin/flex.styl"

.layout__wrapper-consultation
  margin-bottom: 101px
  @media(max-width: 1365px)
    margin-bottom: 86px
  @media(max-width: 767px)
    margin-bottom: 39px
  .layout__content
    width: 100%
    max-width: 1670px
    padding: 12px 0 10px 32px
    background-color: #00524C
    border-radius:  0 44px 44px 0
    flex()
    margin: 0
    position: relative
    @media(max-width: 1670px)
      max-width: 95%
      padding-bottom: 138px
      padding-left: 74px
    @media(max-width: 767px)
      padding-left: 10px
      padding-bottom: 74px
      max-width: calc(100% - 10px)
  .layout__bg
    width: 839px
    margin-right: 98px
    @media(max-width: 1024px)
      position: absolute
      bottom: 0
      right: 0
      width: 400px
      margin-right: 0
    @media(max-width: 767px)
      width: 158px
  .form
    &__wrapper
      padding-top: 61px
      color: #fff
      flex(flex-start, flex-end, row)
      flex-wrap: wrap
      max-width: 450px
      @media(max-width: 1024px)
        max-width: 100%
    &__title
      font-size: 36px
      line-height: 42px
      font-family: Museo-500, Arial, sans-serif
      margin-bottom: 4px
      width: 100%
      @media(max-width: 767px)
        font-size: 28px
        line-height: 32px
    &__text
      font-size: 24px
      line-height: 30px
      width: 100%
      max-width: 372px
      margin-bottom: 27px
      @media(max-width: 1024px)
        max-width: 100%
      @media(max-width: 767px)
        font-size: 16px
        line-height: 130%
  .input__wrapper
    width: 222px
    margin-right: 20px
    @media(max-width: 1024px)
      margin-right: calc(100% - 270px)
      margin-bottom: 20px
      width: 270px
    .label__wrapper
      font-size: 13px
      line-height: 15px
      color: #FFFFFF
      opacity: 0.8
      letter-spacing: 0.26px
      margin-bottom: 9px
    input
      width: 100%
      border: 1px solid rgba(0, 0, 0, 0.1)
      background-color: #fff
      border-radius: 4px
      padding: 12px 17px
      box-shadow: none
      outline: none
      font-size: 16px
      line-height: 22px
      box-sizing: border-box
  .button__wrapper
    width: 153px
    background-color: transparent
    border: 1px solid #E7B78A
    border-radius: 4px
    padding: 17px 32px
    color: #E7B78A
    letter-spacing: 0.1em
    font-size: 12px
    line-height: 14px
    text-transform: uppercase
    cursor: pointer;
