.layout__wrapper-3
  padding: 100px 0 85px 0
  @media(max-width: 1365px)
    padding: 100px 73px 85px 75px
  @media(max-width: 767px)
    padding: 50px 10px 0 10px
  .layout__title
    margin-bottom: 50px
  .items__wrapper
    flex()
    @media(max-width: 1365px)
      flex-wrap: wrap
  .item
    &__wrapper
      max-width: 235px
      margin-right: 85px
      @media(max-width: 1365px)
        &:nth-child(2)
          margin-right: 335px
          margin-bottom: 73px
      @media(max-width: 1024px)
        &:nth-child(2), &:nth-child(4)
          margin-right: 0
        margin-bottom: 73px
    &__img
      width: 140px
      margin-bottom: 41px
    &__title
      font-size: 18px
      line-height: 22px
      color: #00534C
      font-family: Museo-500, Arial, sans-serif
      margin-bottom: 18px
    &__text
      font-size: 14px
      line-height: 17px
      color: #353535