@import "./mixin/flex.styl"

.layout
  &__wrapper-2
    background-color: #00534C
    color: #fff
    .layout__content
      position: relative
      padding: 107px 0 112px 0
      @media(max-width: 1365px)
        padding: 107px 73px 112px 75px
        width: 100%
      @media(max-width: 767px)
        padding: 0 10px 49px 10px
    .items__wrapper
      margin-bottom: 288px
      flex()
      flex-wrap: wrap
      width: 544px
      @media(max-width: 1365px)
        margin-bottom: 300px
      @media(max-width: 767px)
        width: 100%
      .item
        &__wrapper
          margin-bottom: 30px
          margin-right: 70px
          &:nth-child(2), &:last-child
            margin-right: 0
          @media(max-width: 1365px)
            &:last-child
              width: 100%
          @media(max-width: 767px)
            margin-right: 37px
        &__title
          font-size: 64px
          line-height: 77px
          span
            margin-left: 10px
            font-size: 22px
            line-height: 45px
            sup
              font-size: 14px
        &__text
          color: #E7B78A
          font-size: 16px
          line-height: 19px
        @media(max-width: 767px)
          &__title
            font-size: 35px
            line-height: 43px
            span
              margin-left: 10px
              font-size: 12px
              line-height: 25px
              sup
                font-size: 12px
          &__text
            font-size: 8px
            line-height: 11px
    .plane__img
      width: 837px
      position: absolute
      top: 189px
      right: 0
      @media(max-width: 1365px)
        width: 636px
        right: 73px
        top: 340px
      @media(max-width: 767px)
        width: 95%
        right: 10px
        top: 220px
    .layout__bg
      width: 274px
      position: absolute
      top: 57px
      right: 0
      @media(max-width: 1365px)
        width: 199px
        right: 73px
        top: 280px
      @media(max-width: 767px)
        width: 94px
        right: 10px
        top: 180px
    .birds
      &__items
        flex(space-between, flex-start, row)
        width: 491px
        @media(max-width: 1365px)
          margin-left: auto
        @media(max-width: 767px)
          width: 100%
      &__img
        width: 37px
        margin: 0 auto 20px auto
      &__text
        text-align: center
        color: #E7B78A
        font-size: 13px
        line-height: 16px
      &__item
        &:first-child
          max-width: 44px
        &:last-child
          max-width: 126px





