@import "./mixin/flex.styl"

.layout__wrapper-11
  .layout__content
    max-width: 100%
    position: relative
    margin-bottom: 154px
    overflow: hidden
    @media(max-width: 767px)
      margin-bottom: 71px
  .layout__title
    margin-left: 17%
    margin-bottom: 31px
    @media(max-width: 1366px)
      margin-left: 74px
    @media(max-width: 767px)
      margin-left: 10px
  .finishing
    &__tabs
      flex()
      border-bottom: 1px solid #2F5C59
      padding-left: 17%
      @media(max-width: 1366px)
        padding-left: 74px
      @media(max-width: 1366px)
        padding-left: 10px
    &__tab__item
      padding: 18px 38px 12px 42px
      background-color: #00524C
      color: #ffffff
      font-size: 18px
      line-height: 140%
      text-transform: uppercase
      cursor: pointer
      border: 1px solid #2F5C59
      position: relative
      white-space: nowrap
      @media(max-width: 767px)
        font-size: 13px
        line-height: 140%
        padding: 14px 10px 10px 10px
      &:first-child
        border-radius: 3px 3px 0 0
      &:nth-child(2)
        border-left-width: 0
        border-right-width: 0
        border-radius: 0 3px 0 0
      &:last-child
        border-radius:  0 30px 0 0
      &.active
        background-color: #fff
        color: #00524C
        position: relative
        &:after
          content: ''
          display: block
          width: 100%
          height: 2px
          position: absolute
          bottom: -2px
          left: 0
          background-color: #fff
    &__tabs__content
      position: absolute
      z-index: -100
      bottom: 0
      left: 0
      opacity: 0
      padding: 46px 0 0 0
      flex(space-between, flex-start, row)
      flex-wrap: wrap
      width: 100%
      &.active
        opacity: 1
        z-index: 0
        position: relative
      .comfort-type__tabs
        flex()
        margin-left: 17%
        margin-bottom: 20px
        @media(max-width: 1366px)
          margin-left: 74px
        @media(max-width: 1366px)
          margin-left: 10px
          white-space: nowrap
        .comfort-type__tab
          color: #00524C
          font-size: 12px
          line-height: 140%
          opacity: 0.5
          padding: 7px 24px
          margin-right: 16px
          cursor pointer
          text-transform: uppercase
          @media(max-width: 767px)
            padding: 7px
          &.active
            background-color: #00524C
            color: #FFFFFF
            opacity: 1
      .comfort-type__tabs+.text__wrapper
        max-width: 400px
        margin-right: 18%
        @media(max-width: 1366px)
          margin-right: 74px
        @media(max-width: 1366px)
          margin-right: 0
          margin-left: 74px
          margin-bottom: 20px
        @media(max-width: 767px)
          margin-left: 10px
      .comfort-type__content
        width: 100%
        flex()
        position: absolute
        z-index: -100
        bottom: 0
        left: 0
        opacity: 0
        margin-bottom: 24px
        overflow: hidden
        &.active
          opacity: 1
          z-index: 1
          position: relative
        .finishing-slider
          width: 200%
          left: -50%
        .img__wrapper
          overflow: hidden
          padding: 0 18px
          img
            border-radius: 327px 10px
        @media(max-width: 1024px)
          .finishing-slider
            width: 250%
            left: -75%
            .slick-arrow
              display: none !important
          .img__wrapper
            padding: 0 15px
            img
              border-radius: 278.5px 10px
        @media(max-width: 1024px)
          .finishing-slider
            width: 250%
            left: -75%
          .img__wrapper
            padding: 0
            img
              border-radius: 125px 7.61476px
      &[data-content="whitebox"]
        margin-top: 50px
        .img__wrapper
          margin: 0 auto

    &__items
      flex()
      max-width: 1260px
      margin: 0 auto
      @media(max-width: 1366px)
        flex-wrap: wrap
        margin-left: 74px
      @media(max-width: 767px)
        margin-left: 10px
    &__item
      max-width: 382px
      margin-right: 94px
      font-size: 16px
      line-height: 123%
      color: #353535
      @media(max-width: 1366px)
        margin-bottom: 10px
      &.title__wrapper
        font-size: 18px
        line-height: 140%
        font-family: Museo-500, Arial, sans-serif
        max-width: 255px
        margin-right: 73px
        @media(max-width: 1366px)
          max-width: none
          margin-bottom: 20px
      &:last-child
        margin-right: 0
        max-width: 455px
      .text__wrapper-li
        padding: 0 0 0 20px
        margin: 0 0 10px 0
        position: relative
        &:before
          content: ''
          display: block
          width: 8px
          height: 8px
          border-radius: 50%
          position: absolute
          top: 6px
          left: 0
          background-color: #00524C
        &:last-child
          margin-bottom: 0
        &.vanil, &.coffe
          display: none
    &__items.coffe .text__wrapper-li.coffe,
    &__items.vanil .text__wrapper-li.vanil
      display: block



