@import "./mixin/flex.styl"

.layout
  &__wrapper-1
    background-color: #00534C
    padding: 95px 0 50px 0
    @media(max-width: 1365px)
      padding: 100px 67px 114px 72px
    @media(max-width: 767px)
      padding: 51px 10px 60px 10px
    .layout
      &__content
        flex()
        position: relative
        .logo__wrapper
          width: 288px
          margin-bottom: 59px
          @media(max-width: 767px)
            margin-bottom: 280px
      &__bg
        width: 557px
        margin-right: 79px
        @media(max-width: 1365px)
          position: absolute
          top: 0
          right: 0
          margin: 0
          width: 293px
        @media(max-width: 767px)
          top: 79px
          left: 10px
          right: auto
          width: calc(100% - 20px)
      &__title
        color: #fff
        margin-bottom: 27px
        @media(max-width: 1365px)
          max-width: 302px
      &__text
        color: #fff
        max-width: 629px
        margin-bottom: 16px


