@import "./mixin/flex.styl"

.layout__wrapper-6-2
  .layout__content
    width: 100%
    max-width: 1260px
    position: relative
    overflow: hidden
    @media(max-width: 1365px)
      padding-left: 74px
    @media(max-width: 767px)
      padding: 10px
  .tabs
    &__wrapper
      flex()
      width: 100%
      border-bottom: 1px solid #BA8B79
      @media(max-width: 1365px)
        overflow-x: auto
        margin-bottom: 39px
    &__item
      color: #AEB1B7
      font-size: 16px
      line-height: 140%
      padding-bottom: 19.5px
      border-bottom: 2px solid transparent
      margin-right: 40px
      cursor: pointer
      white-space: nowrap
      &-active
        color: #00534C
        border-bottom-color: #BA8B79
    &__content
      position: absolute
      z-index: -100
      bottom: 0
      left: 0
      opacity: 0
      flex(space-between, flex-start, row)
      padding: 40px 0 0 0
      margin-bottom: 168px
      @media(max-width: 1365px)
        flex-wrap: wrap
        padding: 0 74px 0 0
        margin-bottom: 148px
      @media(max-width: 767px)
        padding: 0 10px 0 0
        margin-bottom: 50px
      &-active
        opacity: 1
        z-index: 1
        position: relative
      .text__wrapper
        width: 464px
        margin-right: 110px
        @media(max-width: 1365px)
          width: 100%
          margin-right: 0
          margin-bottom: 35px
      .layout__title
        margin-bottom: 30px
        margin-top: 10px
      .layout__text
        color: #353535
        max-width: 460px
        margin-bottom: 19px
        @media(max-width: 1365px)
          max-width: none
          margin-bottom: 40px
        &-li
          max-width: 620px
          padding-left: 14px
          position: relative
          margin-bottom: 15px
          &:before
            content: ''
            display: inline-block
            position: absolute
            top: 10px
            left: 0
            width: 4px
            height: 4px
            border-radius: 50%
            background-color: #353535
      .img__wrapper
          max-width: 464px
          position: relative
      .slider__wrapper
        width: 100%
        max-width: 654px
        overflow: hidden
      .slider__section
        width: 100%
        max-width: 654px
        margin: 0
        overflow: hidden
        .slider__wrapper-dots
          width: 200%
      .slider__title
        font-size: 16px
        line-height: 125%
        font-family: "Museo-500", Arial, sans-serif
        color: #333
        margin-bottom: 15px
      .dots__wrapper
        position: absolute
        top: 0
        left: 0
        bottom: 0
        right: 0
        ul
          width: 100%
          height: 100%
          bottom: 0
        li:after
          content: ''
          display: none
          width: 154px
          min-height: 20px
          padding: 5px 16px 8px 16px
          background-color: #134E0B
          border-radius: 4px
          box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1)
          position: absolute
          top: 16px
          color: #fff
          font-size: 14px
          line-height: 17px
          z-index: 1
          text-align: left;
        li:hover:after
          display: block
        li
          margin-right: 0
          position: absolute
          top: 0
          left: 0
          button
            background-color: #843D26
            border: 1px solid #843D26
            width: 16px
            height: 16px
          &:nth-child(1)
            top: 90px
            left: 218px
            &:after
              content: 'Прогулочная зона отдыха'
          &:nth-child(2)
            top: 179px
            left: 220px
            &:after
              content: 'Для детей школьного возраста (6-12 лет)'
          &:nth-child(3)
            top: 125px
            left: 228px
            &:after
              content: 'Площадка для малышей (3-6 лет)'
          &:nth-child(4)
            top: 167px
            left: 254px
            &:after
              content: 'Для самых маленьких (1-3 года)'
          &:nth-child(5)
            top: 210px
            left: 190px
            &:after
              content: 'Зона work-out'
          &.slick-active
            button
              border-color: #fff
          @media(max-width: 1365px)
            button
              width: 24px
              height: 24px
            &:nth-child(1)
              top: 116px
              left: 272px
            &:nth-child(2)
              top: 228px
              left: 271px
            &:nth-child(3)
              top: 162px
              left: 243px
            &:nth-child(4)
              top: 209px
              left: 311px
            &:nth-child(5)
              top: 265px
              left: 233px
          @media(max-width: 767px)
            button
              width: 20px
              height: 20px
            &:nth-child(1)
              top: 72px
              left: 135px
            &:nth-child(2)
              top: 158px
              left: 140px
            &:nth-child(3)
              top: 109px
              left: 123px
            &:nth-child(4)
              top: 150px
              left: 172px
            &:nth-child(5)
              top: 185px
              left: 116px

      @media(max-width: 1365px)
        .img__section,
        .slider__wrapper
          margin: auto 0
        &[data-content="1"]
          .img__wrapper
            width: 100%
            max-width: 579px
            margin: 0 auto
          .slider__section
            margin: 0 auto
            .slider__wrapper-dots
              width: 170%
      @media(max-width: 767px)
        &[data-content="1"]
          .img__wrapper
            max-width: 299px
      &[data-content="4"]
        justify-content: flex-start
        .img__section
          width: 457px








