@import "./mixin/flex.styl"

.layout__wrapper-5-2
  background-color: #00534C
  padding: 97px 0 100px 0
  @media(max-width: 1365px)
    padding: 140px 74px 65px 73px
  @media(max-width: 767px)
    padding: 301px 10px 0 10px
  .layout
    &__content
      flex(flex-start, center, row)
      max-width: 1241px
      position: relative
    &__bg
      width: 660px
      @media(max-width: 1365px)
        position: absolute
        top: -42px
        right: 0
        width: 300px
        @media(max-width: 767px)
          width: 228px
          top: -240px
          right: inherit
          left: 10px
    &__text__wrapper
      margin-right: 12px
      @media(max-width: 1365px)
        margin-right: 0
        max-width: 365px
    &__title
      color: #fff
      margin-bottom: 50px
    &__text
      color: #fff
      max-width: 629px
      margin-bottom: 16px