.layout__wrapper-10
  background-color: #fff
  margin-bottom: 109px
  position: relative
  @media(max-width: 1365px)
    margin-bottom: 91px
  @media(max-width: 767px)
    margin-bottom: 68px
  .layout
    &__content
      flex(flex-start, center, row)
      max-width: 1260px
      padding: 38px 0
      &:before
        content: ''
        display: block
        width: 100%
        max-width: 1671px
        height: 548px
        position: absolute
        left: 0
        bottom: 0
        box-sizing: border-box
        background-color: #F9F9FA
        border-radius: 0 44px 44px 0
      @media(max-width: 1365px)
        flex-wrap: wrap
        position: relative
        &:before
          width: calc(100% - 40px)
          height: auto
          top: 0
      @media(max-width: 767px)
        padding: 21px 10px 26px 10px
        &:before
          border-radius: 0
          width: 100%
    &__bg
      width: 811px
      z-index 1
      @media(max-width: 1365px)
        position: absolute
        width: 591px
        left: 76px
        top: 117px
      @media(max-width: 767px)
        width: 155px
        height: 297px
        left: calc(50% - 155px/2)
        top: 86px
    &__text__wrapper
      margin-left: 121px
      z-index: 1
      @media(max-width: 1365px)
        max-width: 100%
        margin-right: 0
        margin-left: 74px
      @media(max-width: 767px)
        margin-left: 0
    &__subtitle
      color: #353535
      margin-bottom: 266px
      @media(max-width: 1365px)
        margin-bottom: 339px
      @media(max-width: 767px)
        margin-bottom: 337px
    &__text
      color: #353535
      margin-bottom: 49px
      font-family: Museo-500, Arial, sans-serif
      font-size: 16px
      line-height: 125%
      @media(max-width: 1365px)
        margin-bottom: 19px
      @media(max-width: 767px)
        margin-bottom: 11px
    &__li
      &:nth-child(1):before
        background-color: #477379
      &:nth-child(2):before
        background-color: #2F4B4C
      &:nth-child(3):before
        background-color: #8CA083
      &:nth-child(4):before
        background-color: #BDB189
