@import "./mixin/flex.styl"

.layout__wrapper-5
  background-color: #00534C
  padding: 102px 0 95px 0
  @media(max-width: 1365px)
    padding: 254px 73px 0 73px
  @media(max-width: 767px)
    padding: 301px 10px 0 10px
  .layout
    &__content
      flex(flex-start, center, row)
      max-width: 1241px
      position: relative
    &__bg
      width: 601px
      @media(max-width: 1365px)
        width: 300px
        position: absolute
        top: -158px
        left: 0
        @media(max-width: 767px)
          width: 228px
          top: -240px
          right: inherit
          left: 10px
    &__text__wrapper
      margin-left: 10px
      @media(max-width: 1365px)
        margin-left: auto
        max-width: 380px
    &__title
      color: #fff
      margin-bottom: 50px
    &__text
      color: #fff
      max-width: 629px