.layout__wrapper-9
  background-color: #fff
  margin-bottom: 40px
  position: relative
  @media(max-width: 1365px)
    margin-bottom: 32px
  .layout
    &__content
      flex(flex-start, center, row)
      padding: 38px 0
      max-width: 1260px
      &:before
        content: ''
        display: block
        width: 100%
        max-width: 1671px
        height: 548px
        position: absolute
        right: 0
        bottom: 0
        box-sizing: border-box
        background-color: #F9F9FA
        border-radius: 44px 0 0 44px
      @media(max-width: 1365px)
        flex-wrap: wrap
        position: relative
        &:before
          width: calc(100% - 40px)
          height: auto
          top: 0
      @media(max-width: 767px)
        padding: 21px 10px 26px 10px
        &:before
          border-radius: 0
          width: 100%
    &__bg
      width: 861px
      z-index: 1
      @media(max-width: 1365px)
        position: absolute
        width: 509px
        left: 76px
        top: 119px
      @media(max-width: 767px)
        width: 272px
        height: 246px
        left: calc(50% - 272px/2)
        top: 86px
    &__text__wrapper
      z-index: 1
      margin-right: 71px
      @media(max-width: 1365px)
        max-width: 100%
        margin-right: 0
        margin-left: 74px
      @media(max-width: 767px)
        margin-left: 0
    &__subtitle
      color: #353535
      margin-bottom: 202px
      @media(max-width: 1365px)
        margin-bottom: 339px
      @media(max-width: 767px)
        margin-bottom: 288px
    &__text
      color: #353535
      margin-bottom: 38px
      font-family: Museo-500, Arial, sans-serif
      font-size: 16px
      line-height: 125%
      @media(max-width: 1365px)
        margin-bottom: 19px
      @media(max-width: 767px)
        margin-bottom: 11px
    &__li
      &:nth-child(1):before
        background-color: #CDBE9A
      &:nth-child(2):before
        background-color: #B49A74
      &:nth-child(3):before
        background-color: #826657
      &:nth-child(4):before
        background-color: #4A2A19
      &:nth-child(5):before
        background-color: #357387
      &:nth-child(6):before
        background-color: #7E9A4F