@import "./mixin/flex.styl"

.layout__wrapper-6
  background-color: #fff
  padding: 69px 0 41px 0
  @media(max-width: 1365px)
    padding: 100px 74px
  @media(max-width: 767px)
    padding: 50px 10px
  .layout
    &__content
      flex()
      max-width: 1241px
      @media(max-width: 1365px)
        flex-wrap: wrap
    &__bg
      width: 593px
      @media(max-width: 1365px)
        width: 100%
        max-width: 460px
    &__text__wrapper
      margin-right: 158px
      @media(max-width: 1365px)
        margin-right: 0
        margin-bottom: 50px
    &__title
      color: #353535
      margin-bottom: 50px
    &__text
      color: #353535
      max-width: 550px
      margin-bottom: 16px