@import "./mixin/flex.styl"

.layout
  &__wrapper
    width: 100%
    max-width: 1920px
    margin: 0 auto
    font-family: Museo-300, Arial, sans-serif
  &__content
    max-width: 1263px
    width: 100%
    margin: 0 auto
    .logo__wrapper
      width: 288px
      margin-bottom: 59px
  &__title
    font-size: 36px
    line-height: 43px
    font-family: Museo-500, Arial, sans-serif
    @media(max-width: 767px)
      font-size: 28px
      line-height: 37px
  &__subtitle
    font-family: Museo-500, Arial, sans-serif
    font-size: 24px
    line-height: 146%
  &__text
    font-size: 16px
    line-height: 140%
  &__li
    font-size: 16px
    line-height: 140%
    color: rgba(51, 51, 51, 0.78)
    margin-bottom: 10px
    &:last-child
      margin-bottom: 0
    &:before
      content: ''
      display: inline-block
      width: 16px
      height: 16px
      border-radius: 50%
      margin-right: 12px
      background-color: #DAD4CE

.slider__wrapper,
.slider__wrapper-dots
  position: relative
.slider__wrapper .slick-arrow,
.finishing-slider .slick-arrow,
.slider__wrapper-dots .slick-arrow
  width: 40px
  height: 40px
  box-shadow: 2px 4px 8px rgba(102, 102, 102, 0.25)
  border-radius: 50%
  top: calc(50% - 20px)
.finishing-slider .slick-arrow
  top: inherit
  bottom: 10px
.slider__wrapper .slick-arrow.slick-next,
.finishing-slider .slick-arrow.slick-next,
.slider__wrapper-dots .slick-arrow.slick-next
  right: 4px
  background: #fff url("../img/comfort/slider-arrow-2.svg") no-repeat 30% 25%
.slider__wrapper-dots .slick-arrow.slick-next
  right: calc(50% + 4px)
.slider__wrapper .slick-arrow.slick-prev,
.finishing-slider .slick-arrow.slick-prev,
.slider__wrapper-dots .slick-arrow.slick-prev
  left: 4px
  background: #fff url("../img/comfort/slider-arrow.svg") no-repeat 50% 25%

@media(max-width: 1365px)
  .slider__wrapper .slick-arrow.slick-next,
  .slider__wrapper .slick-arrow.slick-prev,
  .slider__wrapper-dots .slick-arrow.slick-next,
  .slider__wrapper-dots .slick-arrow.slick-prev
    display: none !important
.finishing-slider .slick-prev.slick-arrow
  left: calc(50% - 45px)
.finishing-slider .slick-next.slick-arrow
  right: calc(50% - 45px)
