
<head>
  <title>Заголовок</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="./css/fonts.css"/>
  <link rel="stylesheet" href="./css/choices.min.css"/>
  <link rel="stylesheet" href="./css/style.css"/>
  <link rel="stylesheet" href="./css/pagination.css"/>
</head>