@import "../mixin/flex.styl"


.info__block
  width: 812px
  padding: 41px 34px 44px 48px
  border: 1px solid rgba(0, 0, 0, 0.1)
  background-color: #F9F9FA
  border-radius: 12px
  margin-right: 116px
  margin-bottom: 60px
  .layout__text.layout__text-bold
    margin-bottom: 17px
    max-width: 300px
    font-size: 24px
    line-height: 30px
    font-weight: normal
    color: #333333
  .layout__text:last-child
    font-size: 16px
  @media(max-width: 1366px)
    width: 300px
    height: 239px
    margin-right: 20px
    padding: 28px 72px 32px 32px
    .layout__text.layout__text-bold
      font-size: 16px
      line-height: 125%
      margin-bottom: 12px
  @media(max-width: 767px)
    padding: 28px 32px 32px 32px
    margin: 0 10px 60px 10px
    width: 100%
.feedback
  background-color: #fff
  padding: 24px 52px 22px 24px
  width: 438px
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
  font-family: Museo-300, Arial, sans-serif
  font-size: 16px
  line-height: 32px
  color: rgba(51, 51, 51, 0.78)
  border-radius: 8px
  &__title
    font-size: 24px
    line-height: 30px
    margin-bottom: 28px
    font-family: Museo-500, Arial, sans-serif
    color: #333
  &__location
    flex()
    margin-bottom: 8px
  .phone__wrapper
    font-weight: bold
    display: inline-flex
    align-items: center
  .icon__wrapper
    width: 32px
    min-width: 32px
    height: 32px
    margin-right: 8px
  &__button
    display: inline-block
    border: 1px solid transparent
    padding: 9px 24px
    text-transform: uppercase
    color: #309B42
    font-size: 12px
    line-height: 14px
    letter-spacing: 0.1em
    cursor: pointer
    margin-left: 21px
    font-weight: normal
    border-radius: 4px
    white-space: nowrap
    &:hover
      border-color: #309B42
  @media(max-width: 1366px)
    width: 300px
    padding: 29px 32px 28px 32px
    &__title
      font-size: 16px
      line-height: 125%
      margin-bottom: 27px
      margin-left: 32px
    &__location
      font-size: 16px
      line-height: 140%
      margin-bottom: 21px
    .icon__wrapper
      width: 24px
      height: 24px
      min-width: 24px
    .phone__wrapper
      white-space: nowrap
      flex-wrap: wrap
    &__button
      margin-left: 8px
      margin-top: 4px
  @media(max-width: 767px)
    order: 1
    margin: 0 10px
    width: 100%

