@import "../mixin/flex.styl"

.card
  &__section
    width: 100%
    max-width: 812px
    margin-right: 116px
    margin-bottom: 60px
    .period__wrapper
      width: 100%
      padding: 14px 32px
      flex(flex-start, center, row)
      font-size: 16px
      line-height: 140%
      font-family: Museo-300, Arial, sans-serif
      background-color: rgba(158, 181, 153, 0.1)
      border-radius: 4px
      color: #309B42
      .icon__wrapper
        width: 32px
        min-width: 32px
        height: 32px
        margin-right: 12px
      .text__date
        margin: 0 8px
  &__wrapper
    border: 1px solid rgba(0, 0, 0, 0.1)
    position: relative
    padding: 29px 16px 35px 182px
    margin-bottom: 12px
    border-radius: 8px
  &__title
    font-size: 24px
    line-height: 29px
    font-family: Gilroy-SemiBold, Arial, sans-serif
    color: #3A393C
    margin-bottom: 20px
    flex(flex-start, center, row)
  &__subtitle
    font-size: 12px
    line-height: 14px
    font-family: Roboto, Arial, sans-serif
    color: rgba(51, 51, 51, 0.6)
    display: none
  &__wrapper
    .finishing__type
      flex(flex-start, center, row)
      margin-left: 37px
      .img__wrapper
        width: 33px
        height: 33px
        margin-right: 12.20px
      .text__wrapper
        font-size: 12px
        line-height: 15px
        font-family: Museo-300, Arial, sans-serif
        background-color: #fff
        border-radius: 30px
        border: 1px solid #7DB566;
        padding: 9px 12px
        color: #7DB566
    .deleted__button
      position: absolute
      top: 12px
      right: 18px
      width: 24px
      height: 24px
      cursor: pointer
  &__img
    position: absolute
    top: 12px
    left: 17px
    width: 134px
    height: 133px
    flex(center, center, row)
    overflow: hidden
    img
      width: auto
      height: 100%
      max-width: 134px
  &__row
    flex()
  &__cell
    margin-right: 33px
    white-space: nowrap
    &:last-child
      margin-right: 0
    &-price
      .card__text
        font-weight: bold
  &__label
    font-size: 12px
    line-height: 14px
    color: rgba(51, 51, 51, 0.6)
    font-family: Roboto, Arial, sans-serif
    margin-bottom: 9px
  &__text
    font-size: 16px
    line-height: 132%
    color: rgba(51, 51, 51, 0.78)
    font-family: Roboto, Arial, sans-serif

@media(max-width: 1366px)
  .card__section
    max-width: 300px
    margin-right: 20px
    .period__wrapper
      padding: 6px 10px 10px 16px
      border-radius: 0 0 8px 8px
      border: 1px solid rgba(0, 0, 0, 0.1)
      border-top: none
  .card__wrapper
      width: 100%
      padding: 15px 16px 0 16px
      margin-bottom: 0
      border-radius: 8px 8px 0 0
      .card
        &__title
          margin-bottom: 102px
          flex-wrap: wrap
          font-size: 16px
          line-height: 132%
          .finishing__type
            width: 100%
            margin-left: 0
            margin-top: 12px
            .text__wrapper
              display: none
        &__subtitle
          display: block
          width: 100%
          margin-top: 5px
        &__img
          width: 249px
          height: 102px
          top: 56px
        &__row
          flex-wrap: wrap
        &__cell
          margin-bottom: 15px
          &:nth-child(2n+1)
            width: 96px
          &:nth-child(2n+2)
            margin-right: 0
          &-floor, &-corp
            display: none
          &-price
            font-family: Roboto-Bold, Arial, sans-serif
            font-weight: bold
        &__label
          margin-bottom: 5px
@media(max-width: 767px)
  .card
    &__section
      max-width: 100%
      margin: 0 10px 60px 10px
    &__wrapper
      width: 100%
      .card
        &__cell, &__cell:nth-child(2n+1), &__cell:nth-child(2n+2)
          width: 50%
          margin-right: 0
        &__img
          width: 50%
          left: 25%





