@import "../mixin/flex.styl"

.layout
  &__title
    width: 100%
    font-size: 36px
    line-height: 42px
    font-family: "Museo-500", Arial, sans-serif
    color: #333333
    margin-bottom: 31px
    font-weight: bold
    @media(max-width: 767px)
      font-size: 24px
      line-height: 29px
      color: #333
      margin-bottom: 25px
      margin-left: 10px
  &__text
    font-size: 18px
    line-height: 25px
    font-family: "Museo-300", Arial, sans-serif
    color: rgba(51, 51, 51, 0.78)
    &-bold
      font-family: "Museo-500", Arial, sans-serif
      font-weight: bold
    &-small
      font-size: 12px
      line-height: 14px
  &__link
    font-size: 16px
    line-height: 140%
    font-family: "Museo-300", Arial, sans-serif
    color: #309B42
    a
      text-decoration: underline
  &__booking
    max-width: 1366px
    margin: 176px auto 60px auto
    flex()
    flex-wrap: wrap
    @media(max-width: 1366px)
      padding: 0 74px 0 74px
      margin-top: 60px
    @media(max-width: 767px)
      position: relative
      padding: 0
      margin: 0 auto 60px auto






