@import "../mixin/flex.styl"

.popup__wrapper
  position: fixed
  left: 0
  right: 0
  top: 0
  bottom: 0
  z-index: 100
  display: none
  justify-content: center
  align-items: center
  flex-direction: row

.popup__wrapper.active
  display: flex

.popup__bg
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-color: rgba(0, 0, 0, 0.6)

.popup__body
  position: relative
  width: 363px
  background-color: #fff
  padding: 30px 28px 40px 23px
  box-sizing: border-box
  .popup__title
    font-size: 16px
    line-height: 125%
    font-family: "Museo-500", Arial, sans-serif
    color: #333333
    font-weight: bold
    margin-bottom: 17px
  .popup__text
    color: rgba(51, 51, 51, 0.78)
    font-family: Museo-300, Arial, sans-serif
    font-size: 18px
    line-height: 25px
    margin-bottom: 27px
    max-width: 246px
  .input__wrapper
    padding: 12px 13px 11px 24px
    border: 1px solid rgba(58, 57, 60, 0.2)
    margin-bottom: 8px
    box-sizing: border-box
    border-radius: 4px
    input
      border: none
      outline: none
      width: 100%
      font-family: Museo-300, Arial, sans-serif
      font-size: 16px
      line-height: 140%
      color: rgba(51, 51, 51, 0.78)
      &::placeholder
        font-family: Museo-300, Arial, sans-serif
        font-size: 16px
        line-height: 140%
        color: rgba(51, 51, 51, 0.78)
  .button__wrapper
    font-size: 12px
    line-height: 14px
    letter-spacing: 0.1em
    text-transform: uppercase
    color: #fff
    padding: 17px 0
    border: 1px solid #309B42
    font-family: Museo-300, Arial, sans-serif
    width: 100%
    cursor: pointer
    background-color: #309B42
    border-radius: 4px
    @media (max-width: 767px)
      width: 100%
      text-align: center
  .popup__close
    position: absolute
    top: 8px
    right: 12px
    cursor: pointer
    width: 24px
    height: 24px
    border-radius: 50%
    background-color: rgba(0, 0, 0, 0.6)
    flex(center, center, row)
    img
      width: 12px
      height: auto
  .popup__link
    font-family: Museo-300-Bold, Arial, sans-serif
    font-size: 16px
    line-height: 132%
    color: #309B42
    text-decoration: underline
    margin-bottom: 7px
    cursor: pointer
    display: inline-block
    &:hover
      text-decoration: none
.popup__wrapper#feedback-form
  .flex__wrapper
    flex()
    .input__wrapper
      margin-right: 8px
      &:last-child
        margin-right: 0


.popup__wrapper#feedback-send
  .popup__text
    margin-bottom: 22px
    font-size: 16px
    line-height: 132%
    font-family: Museo-300, Arial, sans-serif
  .popup__text-bold
    font-size: 18px
    line-height: 138%
    font-family: Museo-300-Bold, Arial, sans-serif
    font-weight: bold
    color: rgba(51, 51, 51, 0.78)
    margin-bottom: 10px
  .img__wrapper
    width: 131px
    margin: 0 auto 31px auto

.popup__wrapper#digital-mortgage
  .popup__body
    flex()
    width: 902px
    padding: 0
  .main__img
    width: 322px
    img
      width: 100%
      height: auto
  .feedback__wrapper
    padding: 55px 123px 60px 60px
    box-sizing: border-box
    margin: 0
  .popup__title
    text-transform: uppercase
    font-weight bold
  .popup__text
    max-width: 396px
    margin-bottom: 33px
    &+.popup__text
      margin-bottom: 18px
      max-width: 314px
  .input__wrapper
    margin-bottom: 93px
    width: 330px
  .button__wrapper
    margin-top: 0
    width: 307px
    padding: 11px 32px 12px 32px
    font-weight: normal
  .tel__wrapper
    font-family: Roboto-Bold, Arial, sans-serif
    font-weight: bold
    white-space: nowrap
  @media(max-width: 1023px)
    .popup__body
      width: 300px
    .main__img
      display: none
    .feedback__wrapper
      padding: 35px 16px 40px 16px
      width: 100%
    .input__wrapper
      margin-top: 0
      width: 100%
    .button__wrapper
      width: 100%
      font-size: 16px


