@import "../mixin/flex.styl"

.digital__mortgage
  max-width: 812px
  width: 100%
  padding: 29px 52px 47px 48px
  border-radius: 12px
  background-color: #309B42
  position: relative
  overflow: hidden
  cursor: pointer
  .title__wrapper
    color: #FFFFFF
    font-size: 24px
    line-height: 30px
    font-family: Museo-300, Arial, sans-serif
    margin-bottom: 14px
  .text__wrapper
    font-size: 12px
    line-height: 14px
    color: #fff
    font-family: Museo-300, Arial, sans-serif
    text-transform: uppercase
    letter-spacing: 0.1em
  .img__bg
      position: absolute
      top: 18px
      right: 52px
      width: 129px
      height: 129px
      img
        width: 100%
        height: auto
  &-frame
    background-color: #fff
    border: 1px solid rgba(0, 0, 0, 0.1)
    padding: 28px 24px
  @media(max-width: 1366px)
    width: 100%
  @media(max-width: 767px)
    margin: 0 10px 60px 10px
    padding: 29px 52px 37px 32px
    .img__bg
      display: none
    .title__wrapper
      font-size: 24px
      line-height: 30px
      margin-bottom: 14px

