@import "../mixin/flex.styl"

.steps__wrapper
  width: 453px
  padding-left: 16px
  @media(max-width: 1366px)
    min-width: 289px
  @media(max-width: 767px)
    display: none
    padding: 0 10px 0 26px
    .layout__title
      margin-left: 0
    &.active
      display: block
.step
  &__wrapper
    position: relative
    padding: 17px 17px 17px 41px
    box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.1)
    background-color: #fff
    border-left: 2px solid #D6D6D6
    &:before
      content: ''
      display: block
      width: 32px
      height: 32px
      background-color: #fff
      box-sizing: border-box
      border: 3px solid  #DADADA
      border-radius: 50%
      top: 0
      left: -16px
      position: absolute
    &:after
      content: ''
      display: block
      position: absolute
      top: 5px
      left: -11px
      width: 22px
      height: 22px
      border-radius: 50%
  &__number
    font-family: Roboto-Bold, Arial, sans-serif
    font-weight: bold
    font-size: 16px
    line-height: 24px
    color: #fff
    width: 22px
    height: 22px
    border-radius: 50%
    background-color: #DADADA
    text-align: center
    position: absolute
    left: -11px
    top: 5px
  &__title
    font-family: Roboto-Bold, Arial, sans-serif
    font-weight: bold
    font-size: 18px
    line-height: 24px
    color: rgba(51, 51, 51, 0.78)
  &__text
    display: none
    margin-top: 9px
    max-width: 341px
    font-family: Roboto, Arial, sans-serif
    font-size: 16px
    line-height: 132%
    color: rgba(51, 51, 51, 0.78)
  &__wrapper
    &.active
      background-color: #F7F5F3
      &:before
        border-color: #B19A7C
      &:after
        background: #B19A7C url("../img/lk/arrow.svg") no-repeat 50% 50%
      .step__text
        display: block
    &.completed
      &:before
        border-color: #005BB9
      &:after
        background: #005BB9 url('../img/lk/completed.svg') no-repeat 50% 50%

  @media(max-width: 767px)
    &__title
      font-size: 16px
      line-height: 132%
    &__number
      width: 16px
      height: 16px
      font-size: 14px
      line-height: 16px
      top: 5px
      left: -8px
    &__wrapper
      &:before
        width: 26px
        height: 26px
        left: -13px
      &.completed:after,
      &.active:after
        width: 16px
        height: 16px
        top: 5px
        left: -8px
        background-size: 10px




