.baner
  &__wrapper
    position: relative
    max-width: 1920px
    margin: 0 auto 86px auto
    font-family: Museo-300, Arial, sans-serif
    @media(max-width: 1690px)
      margin-bottom: 69px
    @media(max-width: 767px)
      margin-bottom: 50px
    &:after
      content: ''
      display: block
      position: absolute
      left: 0
      top: 0
      bottom: 0
      width: 100%
      max-width: 1670px
      background: rgba(158, 181, 153, 0.1)
      border-radius: 0 44px 44px 0
      z-index: -1
      @media(max-width: 1690px)
        max-width: inherit
        width: calc(100% - 40px)
      @media(max-width: 767px)
        width: calc(100% - 10px)

  &__content
    max-width: 1260px
    margin: 0 auto
    padding: 71px 0 96px 0
    position relative
    @media(max-width: 1367px)
      padding: 56px 59px 52px 75px
    @media(max-width: 767px)
      padding: 45px 10px 50px 10px

  &__title
    font-family: Museo-500, Arial, sans-serif
    font-size: 56px
    line-height: 67px
    color: #333
    margin-bottom: 23px
    @media(max-width: 767px)
      font-size: 36px
      line-height: 43px
      max-width: 162px
      margin-bottom: 12px
  &__subtitle
    font-size: 24px
    line-height: 30px
    font-family: Museo-300, Arial, sans-serif
    margin-bottom: 159px
    @media(max-width: 1024px)
      margin-bottom: 47px
    @media(max-width: 767px)
      margin-bottom: 30px
      max-width: 281px

  &__form
    border: 1px solid #309b42
    border-radius: 12px
    width: 380px
    padding: 19px 24px
    position: relative
    @media(max-width: 1024px)
      margin-bottom: 27px
      width: 301px
    @media(max-width: 767px)
      width: 100%
      margin-bottom: 30px
    &__title
      font-family: Museo-500, Arial, sans-serif
      font-size: 24px
      line-height: 30px
      color: #851C58
      margin-bottom: 38px
    .button__wrapper
      max-width: 195px
      @media(max-width: 1024px)
        max-width: 181px
        padding: 16px 32px 15px 32px
    .img__wrapper
      width: 70px
      height: 70px
      position: absolute
      bottom: 30px
      right: 47px
      @media(max-width:1024px)
        width: 52px
        height: 50.37px
        bottom: 31px
        right: 21px
    &:after
      content: "Акция"
      display: block
      position: absolute
      top: -1px
      right: -1px
      background-color: #789D67
      border-radius: 0 12px
      color: #fff
      font-size: 14px
      line-height: 17px
      padding: 8px 16px 7px 16px
  &__bg
    width: 640px
    position: absolute
    top: 63px
    right: 0
    z-index: -1
    @media(max-width: 1024px)
      position: relative
      top: 0
      margin-left: auto
      width: 398px
      height: 302px
    @media(max-width: 767px)
      width: 100%
      height: auto
      margin-left: 0
    .img__wrapper
      position: absolute
      top: -26px
      right: 30px
      width: 52px
      height: 52px
      @media(max-width: 1024px)
        width: 66px
        height: 66px
        top: auto
        right: auto
        left: -143px
        bottom: 62px
      @media(max-width: 767px)
        display: none





