@import "../mixin/flex.styl"

.layout__wrapper-4
  padding: 57px 0 110px 0
  position: relative
  max-width: 1329px
  margin-bottom: 58px
  @media(max-width: 1023px)
    padding: 0 73px 0 54px
  @media(max-width: 767px)
    padding: 0 10px 0 10px



.example
  &__ul
    max-width: 412px
    margin: 0 auto
  &__li
    margin-bottom: 23px
    max-width: 315px
    .layout__subtitle
      margin-bottom: 7.49px
      font-weight: bold
    .layout__text
      line-height: 200%
    &:last-child
      max-width: inherit
      margin-bottom: 0
      .layout__subtitle
        margin-bottom: 17px
      .layout__text
        line-height: 140%



.bg__layout
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: -1
  @media(max-width: 1023px)
    position: relative
    z-index: 1
    flex(space-between, flex-start, row)
    height: 464px
  @media(max-width: 768px)
    height: auto
    flex-wrap: wrap
  .img
    &__wrapper
      position: absolute
      @media(max-width: 1023px)
        position: relative
    &__wrapper-1
      width: 429px
      height: 390px
      top: 0
      left: 0
    &__wrapper-2
      top: 48px
      right: 0
      width: 528px
      height: 528px
      @media(max-width: 1023px)
        top: 0
        align-self: flex-end
    @media(max-width: 1023px)
      &__wrapper-1
        width: 292px
        height: 267px
      &__wrapper-2
        top: 0
        align-self: flex-end
        width: 372px
        height: 372px
    @media(max-width: 767px)
      &__wrapper-1
        width:243px
        min-width: 243px
        height: auto
      &__wrapper-2
        width: 317px
        min-width: 317px
        height: auto

  .arrow
    &__wrapper
      position: absolute
    &__wrapper-1
      top: -20px
      left: 249px
      width: 140px
      height: 87px
    &__wrapper-2
      bottom: 76px
      left: 280px
      width: 113px
      height: 70px
    &__wrapper-3
      top: 91px
      right: 424px
      width: 77px
      height: 48px
    &__wrapper-4
      bottom: -26px
      right: 279px
      width: 219px
      height: 136px
    @media(max-width: 1023px)
      &__wrapper-1
        top: 79px
        left: 274px
        width: 100px
        height: 61.72px
      &__wrapper-2
        top: 213pxpx
        left: 6px
        right: inherit
        bottom: inherit
        width: 100px
        height: 61.72px
      &__wrapper-3
        top: inherit
        bottom: 68px
        right: inherit
        left: 181px
        width: 144.8px
        height: 89px
      &__wrapper-4
        display: none
    @media(max-width: 767px)
      &__wrapper-1
        top: 85px
        left: 203px
        transform: rotate(90deg)
      &__wrapper-2
        transform: rotate(90deg)
        top: 211px
        left: 0
      &__wrapper-3
        width: 57px
        height: 35px
        transform: rotate(90deg)
        top: 254px
        left: 217px






