@import "../mixin/flex.styl"

.trade-form
  &__section
    max-width: 1920px
    margin: 0 auto 120px auto
    position: relative
    @media(max-width: 1690px)
      margin-bottom: 69px
    @media(max-width: 767px)
      margin-bottom: 50px
    &:after
      content: ''
      display: block
      position: absolute
      top: 0
      right: 0
      bottom: 140px
      width: 100%
      max-width: 1670px
      background-color: #7DB566
      border-radius: 44px 0 0 44px
      z-index: -1
      @media(max-width: 1690px)
        max-width: inherit
        width: calc(100% - 40px)
      @media(max-width: 1279px)
        bottom: 0
      @media(max-width: 767px)
        width: 100%
        border-radius: 0
  &__wrapper
    max-width: 1260px
    padding: 46px 0
    margin: 0 auto
    @media(max-width: 1279px)
      padding: 45px  72px
    @media(max-width: 767px)
      padding: 45px 10px 60px 10px
  &__title
    font-family: Museo-500, Arial, sans-serif
    font-weight: bold
    font-size: 36px
    line-height: 42px
    color: #fff
    margin-bottom: 39px
  &__wrapper
    .card-form__section
      flex()
      position: relative
      flex-wrap: wrap
      @media(max-width: 1279px)
        justify-content: center


.card-form
  &__wrapper
    max-width: 620px
    width: 100%
    padding: 29px 40px 53px 40px
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 12px
    margin-right: 99px
    background-color: #fff
    box-sizing: border-box
    display: block
    position: relative
    @media(max-width: 1279px)
      margin-right: 0
      margin-bottom: 92px
    @media(max-width: 767px)
      padding: 29px 16px 35px 16px
      margin-right: 0
      margin-bottom: 118px
    .card-form__row .input-text__section:first-child
      min-width: 185px
    .button__wrapper
      width: 100%
      padding: 16px 0
      background-color: #40A035
    .input-edit+.button__wrapper
      margin-top: 28px
      margin-bottom: 32px
  &__row
    flex()
    margin-bottom: 20px
    @media(max-width: 767px)
      flex-wrap: wrap
  &__footer
    flex(space-between, center, row)
    font-size: 16px
    line-height: 140%
    color: #333
    font-family: Museo-300, Arial, sans-serif
    width: 100%
    padding-top: 20px
    border-top: 1px solid rgba(0, 0, 0, 0.1)
    div:first-child
      max-width: 138px
    .price
      color: #641B51
      font-size: 36px
      line-height: 140%
    @media(max-width: 767px)
      flex-wrap: wrap
      .price
        margin-top: 14px
  &__title
    font-size: 24px
    line-height: 30px
    font-weight: bold
    font-family: "Museo-300", Arial, sans-serif
    color: #333
    margin-bottom: 29px

  &__wrapper:after
    content: 'Расчет является приблизительным.  Оставьте заявку, чтобы уточнить оценку'
    display: block
    width: 160px
    height: 160px
    box-sizing: border-box
    padding: 44px 23px 31px 23px
    background-color: #134E0B
    border-radius: 50% 0 50% 0
    position: absolute
    bottom: 86px
    right: -131px
    z-index: 1
    color: #fff
    font-family: Museo-300, Arial, sans-serif
    font-size: 14px
    line-height: 17px
    @media(max-width: 1279px)
      bottom: -126px
      right: inherit
      left: 58px
    @media(max-width: 767px)
      left: inherit
      right: -10px
      bottom: -136px

.card-form__section
  .feedback__wrapper
    background: rgba(255, 255, 255, 0.2)
    border-radius: 12px
    padding: 30px 32px 40px 32px
    max-width: 474px
    font-family: Museo-300, Arial, sans-serif
    font-size: 16px
    line-height: 140%
    color: rgba(51, 51, 51, 0.78)
    position: relative
    top: -86px
    @media(max-width: 1279px)
      top: 0
      left: 63px
    @media(max-width: 767px)
      left: 0
      padding: 21px 16px 40px 16px
    .feedback__title
      font-size: 24px
      line-height: 30px
      color: #fff
      margin-bottom: 33px
      @media(max-width: 767px)
        margin-left: 16px
    .manager
      &__section
        margin-bottom: 17px
        flex(flex-start, center, row)
        position: relative
      &__icon
        min-width: 80px
        width: 80px
        height: 80px
        border-radius: 50%
        overflow: hidden
        margin-right: 26px
        @media(max-width: 767px)
          position: absolute
          z-index: 1
          width: 48px
          height: 48px
          min-width: 48px
          overflow: visible
          top: -4px
          left: -4px
      &__name
        color: #fff
        font-weight: 600
        padding: 5px 18px
        background-color: #789D67
        border-radius: 4px 4px 0 0
        @media(max-width: 767px)
          padding-left: 60px
      &__position
        display: inline-block
        position: relative
        &:before
          content: ''
          display: inline-block
          width: 4px
          height: 4px
          border-radius: 50%
          background-color: #fff
          margin: 0 12px 3px 8px

    .message__section
      background-color: #fff
      border-radius: 0 0 4px 4px
      border: 1px solid #319B42
      border-top-width: 0
      color: rgba(51, 51, 51, 0.78)
      font-size: 16px
      line-height: 140%
      position: relative
      padding: 9px 5px 8px 17px
      @media(max-width: 767px)
        padding: 12px 37px 13px 31px
      &:after
        content: ''
        display: block
        position: absolute
        left: -7px
        top: 6px
        width: 11px
        height: 11px
        background: #fff
        border: 1px solid #319B42
        border-top-color: transparent
        border-right-color: transparent
        transform: rotate(45deg)
        z-index: 1
        @media(max-width: 767px)
          display: none
    .input-text__section
      margin-bottom: 20px
      margin-right: 0
    .input-text__label
      color: rgba(255, 255, 255, 0.78)
    .button__wrapper
      width: 100%
      border-color: #fff
      color: #fff
      padding: 17px 0 15px 0
    
.trade-form__section
  .input-text
    &__section
      margin-right: 16px
      min-width: 103px
      &:last-child
        margin-right: 0
      @media(max-width: 767px)
        min-width: auto
        width: 78px
        &:first-child
          width: 100%
          margin-right: 0
          margin-bottom: 28px
        &:nth-child
          margin-right: 0
    &__label
      font-size: 12px
      line-height: 15px
      color: rgba(51, 51, 51, 0.4)
      margin-bottom: 8px
      font-family: Roboto, Arial, sans-serif
      letter-spacing: -0.26px
    &__wrapper
      box-sizing: border-box
      padding: 12px 20px
      border: 1px solid rgba(0, 0, 0, 0.1)
      border-radius: 4px
      background-color: #fff
      input
        width: 100%
        border: 0
        outline: none

  .radio
    &__wrapper
      position: relative
      font-size: 16px
      line-height: 140%
      color: rgba(51, 51, 51, 0.78)
      flex()
      margin-right: 10px
      cursor: pointer
      font-family: Museo-300, Arial, sans-serif
      @media(max-width: 767px)
        width: 100%
        margin-bottom: 2px
      &:before
        content: ''
        display: block
        width: 20px
        min-width: 20px
        height: 20px
        margin-right: 8px
        border: 2px solid #319B42
        border-radius: 50%
        box-sizing: border-box
      &:after
        content: ''
        display: none
        width: 16px
        min-width: 16px
        height: 16px
        position: absolute
        left: 2px
        top: 2px
        border: 3px solid #fff
        background-color: #319B42
        border-radius: 50%
        box-sizing: border-box
      &:last-child
        margin-right: 0
    &__section
      flex()
      margin-bottom: 26px
      @media(max-width: 767px)
        flex-wrap: wrap
      input[type="radio"]
        width: 0.1px
        height: 0.1px
        position: absolute
        opacity: 0
        z-index: -1
      input[type="radio"]:checked+.radio__wrapper:after
        display: block

    &__label-section
      font-size: 12px
      line-height: 14px
      font-family: "Roboto", Arial, sans-serif
      color: rgba(51, 51, 51, 0.4)
      margin-bottom: 9px
      letter-spacing: -0.26px

  .input-edit
    position: relative
    font-size: 14px
    line-height: 18px
    font-family: "Museo-300", Arial, sans-serif
    color: rgba(51, 51, 51, 0.78)
    margin-bottom: 12px
    &__label
      display: inline-block
      margin-left: 6px
      position: absolute
      color: #319B42
      cursor: pointer
      &:after
        content: ''
        display: none
        width: 100%
        height: 1px
        background-color: #319B42
        position: absolute
        bottom: 0
        left: 0
      &:hover:after
        display: block

    input[type="radio"]
      width: 0.01px
      height: 0.01px
      opacity: 0
      position: absolute
      top: 0
      left: 0
      z-index: -1
      &:checked~.input-text__section
        display: block
        margin-top: 12px
    .input-text__section
      display: none
    @media(max-width: 767px)
      .input-text__section
        width: 100%

