.layout
  &__wrapper
    max-width: 1260px
    margin: 0 auto
  &__subtitle
    font-size: 24px
    line-height: 30px
    font-family: Museo-300, Arial, sans-serif
  &__text
    color: rgba(51, 51, 51, 0.78)
    font-size: 16px
    line-height: 140%
    font-family: Museo-300, Arial, sans-serif

.button__wrapper
  padding: 23px 31px
  color: #fff
  font-size: 12px
  line-height: 14px
  text-align: center
  letter-spacing: 0.1em
  text-transform: uppercase
  background-color: #309B42
  border: 1px solid #309B42
  border-radius: 4px
  white-space: nowrap
  cursor: pointer
  outline none
  &.button__wrapper-white
    background-color: transparent

