.popup__wrapper
  position: fixed
  left: 0
  right: 0
  top: 0
  bottom: 0
  z-index: 100
  display: none
  justify-content: center
  align-items: center
  flex-direction: row

.popup__wrapper.active
  display: flex

.popup__bg
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-color: rgba(0, 0, 0, 0.2)

.popup__body
  position: relative
  width: 420px
  background-color: #fff
  padding: 22px 16px 32px 20px
  border-radius: 16px
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2)
  box-sizing: border-box
  .popup__title
    font-size: 24px
    line-height: 30px
    font-family: Museo-300, Arial, sans-serif
    color: #333333
    margin-bottom: 9px
  .popup__text
    color: rgba(51, 51, 51, 0.78)
    font-size: 16px
    line-height: 140%
    font-family: Museo-300, Arial, sans-serif
    margin-bottom: 18px
    max-width: 304px
  .button__wrapper
    padding: 16px 32px
    font-family: Museo-300, Arial, sans-serif
    font-size: 12px
    line-height: 14px
    letter-spacing: 0.1em
    color: #fff
    display: block
    width: 136px
    box-sizing: border-box
    border-radius: 4px

.popup__close
  position: absolute
  top: 24px
  right: 16px
  cursor: pointer
  background-color: rgba(0, 0, 0, 0.2)
  border-radius: 50%
  width: 24px
  height: 24px
  img
    width: 100%
    height: auto

.popup__wrapper#feedback-popup
  .popup__body:after
    content: ''
    width: 108px
    height: 101px
    background: url("../img/trade-in/popup-bg.png") no-repeat 50% 50%
    position: absolute
    bottom: 22px
    right: 34px
  .popup__title + .popup__text
    margin-bottom: 18px
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
    padding-bottom: 18px
  .button__wrapper
    margin-top: 28px

.popup__wrapper#error__popup
  .popup__body
    padding: 28px 0 40px 20px
  .popup__body:after
    content: ''
    width: 35px
    height: 35px
    background: url("../img/trade-in/popup-error-bg.svg") no-repeat 50% 50%
    position: absolute
    top: -6px
    left: -5px
  .popup__title
    margin-bottom: 26px
  .button__wrapper-white.popup__close
    position: relative
    top: 0
    right: 0
    color: #319B42
    width: 204px
    height: auto
    box-sizing: border-box
    background-color: transparent
    border-radius 4px
    padding: 18px 24px 18px 16px

