@import "../mixin/flex.styl"

.layout__wrapper-2
  margin-bottom: 114px
  @media(max-width: 1280px)
    padding: 0 72px
    marign-bottom: 90px
  @media(max-width: 767px)
    margin-bottom: 74px
    padding: 0 10px
  .layout__subtitle
    margin-bottom: 33px
    max-width: 638px
    @media(max-width: 1280px)
      max-width: 540px
      margin-bottom: 39px
    @media(max-width: 767px)
      margin-bottom: 30px
.step
  &__items
    flex()
    @media(max-width: 1023px)
      flex-wrap: wrap

  &__item
    width: 441px
    position: relative
    @media(max-width: 1023px)
      width: 100%
    &:before
      content: ''
      display: block
      width: 100%
      height: 1px
      border-top: 1px dashed #851C58
      position: absolute
      left: 0
      top: 29px
      z-index -1
      @media(max-width: 1023px)
        width: 1px
        height: auto
        top: 0
        bottom:0
        left: 23px
        border-top: none
        border-left: 1px dashed #851C58

    &:last-child:before
      display none
  &__number
    width: 60px
    height: 60px
    flex(center, center, row)
    border: 1px solid #851C58
    border-radius: 50%
    color: #851C58
    font-size: 24px
    line-height: 30px
    font-family: Museo-500, Arial, sans-serif
    background-color: #fff
    @media(max-width: 1023px)
      width: 48px
      height: 48px
      position: absolute
      top: 0
      left: 0
    @media(max-width: 767px)
      top: -12px
  &__title
    margin-left: 64px
    margin-bottom: 9px
    font-size: 24px
    line-height: 30px
    font-family: Museo-300, Arial, sans-serif
    @media(max-width: 1024px)
      margin-left: 80px
    &:before
      content: ''
      display: inline-block
      width: 8px
      height: 8px
      border-radius: 50%
      margin-right: 6px
      margin-bottom: 5px
      background-color: #851C58
  &__item .layout__text
      margin-left: 78px
      max-width: 290px
      @media(max-width: 1023px)
        max-width: 100%
        margin-left: 80px
        margin-bottom: 28px
      @media(max-width: 767px)
        margin-bottom: 16px
  &__item:last-child .step__text
    margin-bottom: 0


