html
    head
        title Комфорт
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="./css/fonts.css")
        link(rel="stylesheet" href="./css/slick.css")
        link(rel="stylesheet" href="./css/slick-theme.css")
        link(rel="stylesheet" href="./css/comfortPage.css")
    body
        include comfort/baner
        include comfort/layout-1
        include comfort/layout-2
        include comfort/layout-3
        include comfort/layout-4
        include comfort/layout-5
        include comfort/layout-5-2
        include comfort/layout-6
        include comfort/layout-6-2
        include comfort/consultation
        include comfort/layout-7
        include comfort/layout-8
        include comfort/layout-9
        include comfort/layout-10
        include comfort/layout-11
        include comfort/application
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
        script(src="./js/comfort/slick.min.js")
        script(src="./js/comfort/script.js")


