html
    include head
    body
        .layout__wrapper
            include content/filter__section
            include content/result-serch
            include content/cards
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
        script(src="js/choices.min.js")
        script(src="./js/script.js")
        script(src="./js/filters.js")
        script(src="./js/pagination.js")

