doctype
html
    head
        title ЛК
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="./css/lk.css")
    body
        .layout__booking
            .layout__title Ваши бронирования
            .info__block
                .layout__text.layout__text-bold  Данных о бронировании объектов не найдено
                .layout__link Выберите и забронируйте квартиру или паркинг на сайте
            .feedback
                .feedback__title Отдел продаж
                .feedback__location
                    .icon__wrapper
                        img(src="img/lk/location.svg")
                    | ул. Оптиков, д. 4, корпус 2, БЦ Лахта 1
                .phone__wrapper
                    .icon__wrapper
                        img(src="img/lk/phone.svg")
                    | +7 812 245 31 12
                    .feedback__button.popup__show(data-anchor="#feedback-form") Заказать звонок
            .layout__title Ваши бронирования
            .card__section
                .card__wrapper
                    .card__title Студия № 258
                        .card__subtitle 17 корпус, 18 этаж
                        .finishing__type
                            .text__wrapper с отделкой
                    .card__img
                        img(src="img/lk/plan.png")
                    .card__row
                        .card__cell
                            .card__label срок сдачи
                            .card__text IV кв. 2023 г.
                        .card__cell.card__cell-floor
                            .card__label этаж
                            .card__text 18
                        .card__cell.card__cell-corp
                            .card__label корпус
                            .card__text 17
                        .card__cell
                            .card__label площадь
                            .card__text 20,52 м
                        .card__cell.card__cell-price
                            .card__label цена покупки
                            .card__text 3 563 219 ₽
                        .card__cell
                            .card__label в ипотеку
                            .card__text от 17 784 ₽/мес
                    .deleted__button
                        img(src="img/lk/deleted.svg")
                .period__wrapper
                    .icon__wrapper
                        img(src="img/lk/locked.svg")
                    div
                        | Забронировано до
                        span.text__date  20.09.2021
                        | включительно
            .feedback
                .feedback__title Отдел продаж
                .feedback__location
                    .icon__wrapper
                        img(src="img/lk/location.svg")
                    | ул. Оптиков, д. 4, корпус 2, БЦ Лахта 1
                .phone__wrapper
                    .icon__wrapper
                        img(src="img/lk/phone.svg")
                    | +7 812 245 31 12
                    .feedback__button.popup__show(data-anchor="#feedback-form") Заказать звонок
            .digital__mortgage.digital__mortgage-frame
                .title__wrapper Цифровая ипотека
                .text__wrapper Отправить анкету в банки
                .img__bg
                    img(src="img/lk/percent.svg")
        .popup__wrapper#feedback-form
            .popup__bg
            .popup__body
                .popup__close(data-anchor="#feedback-form")
                    img(src="img/lk/close.svg" alt="")
                form.feedback__wrapper
                    .popup__title Заказ обратного звонка
                    .input__wrapper
                        input(type="text" name="feedback-phone" placeholder="0000000")
                    label
                        input(type="checkbox")
                        span.popup__link Выберите дату и время для звонка
                        span.popup__link Позвонить сейчас
                    .flex__wrapper
                        .input__wrapper
                            input(type="text")
                        .input__wrapper
                            input(type="text")
                    input(type="button" class="button__wrapper popup__show" data-anchor="#feedback-send" value="Заказать звонок")
        .popup__wrapper#feedback-send
            .popup__bg
            .popup__body
                .popup__close(data-anchor="#feedback-send")
                    img(src="img/lk/close.svg" alt="")
                .popup__title Спасибо за обращение!
                .text__wrapper Мы Вам перезвоним
                .img__wrapper
                    img(src="#")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
        script(src="js/lk/script.js")

