doctype
html
    head
        title Паркинги
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="css/jquery-ui.min.css")
        link(rel="stylesheet" href="css/jquery.multiselect.css")
        link(rel="stylesheet" href="css/multiselect.css")
        link(rel="stylesheet" href="css/magnific-popup.css")
        link(rel="stylesheet" href="./css/parking.css")
    body
        include breadcrumb/index
        .layout__wrapper
            include parking/filter
            include parking/plane
            include parking/table
            .layout__title Типы парковочных мест
            include parking/parking-type
            include parking/application-popup
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
        script(src="js/jquery-ui.min.js")
        script(src="js/jquery.multiselect.js")
        script(src="js/magnific-popup.min.js")
        script(src="js/gallery.js")
        script(src="js/popup.js")

