html
    head
        title ЛК
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="./css/reg.css")
    body
        include breadcrumb/index
        include reg/simplified
        include reg/sms-authorization
        include reg/online-booking
        include reg/authorization-with-captcha
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
        script(src="./js/timer.js")