doctype
html
    head
        title Заголовок
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="css/tradein.css")
    body
        include breadcrumb/index.pug
        include trade-in/baner.pug
        include trade-in/steps
        include trade-in/form
        include trade-in/example
        include trade-in/popup
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
        script(src="js/popup.js")

