.select-label {
    font-family: "Geometria", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 9px;
    color: #A3A3A3;
}

.ui-multiselect {
    background-color: #ffffff;
    outline: none;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 12px 30px 15px 36px;
    font-family: "Roboto", Arial, sans-serif;
    color: #3A393C;
    font-size: 14px;
    line-height: 18px;
    cursor: pointer;
    width: 100%;
    min-width: 349px;
    position: relative;
}
@media(max-width: 767px){
    .ui-multiselect{
        min-width: inherit;
        width: 100% !important;
    }
}

.ui-multiselect:hover {
    border: 1px solid #CACACA;
}

.ui-multiselect.ui-state-active {
    border: 1px solid rgba(48, 155, 66, 0.5);;
}

.ui-widget.ui-widget-content.ui-multiselect-menu {
    padding: 6px 0 0;
    background-color: transparent;
    border: none;
    z-index: 10000;
}
@media(max-width: 767px){
    .ui-widget.ui-widget-content.ui-multiselect-menu{
        width: calc(100% - 20px) !important;
    }
}
.ui-multiselect-checkboxes {
    background-color: #ffffff;
    box-shadow: 3px 3px 4px rgba(53, 53, 53, 0.15);
    border-radius: 2px;
    border: 1px solid #DCDCDC;
    padding: 0;
}

.ui-multiselect-checkboxes input{
    display: none;
}

.ui-multiselect-checkboxes label{
    padding: 0;
    border: none;
    text-indent: 0;
}

.ui-multiselect-checkboxes input:checked + span:after {
    display: none;
    position: absolute;
    top: 12px;
    right: 8px;
    width: 10px;
    height: 6px;
    content: '';
    background: 0 0;
    border-bottom: 2px solid #003349;
    border-left: 2px solid #003349;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.ui-multiselect-checkboxes li:not(:first-child):hover input:not(:checked) + span:after {
    position: absolute;
    top: 50%;
    right: 8px;
    width: 12px;
    height: 2px;
    content: '';
    background: #cfd0d1;
    -webkit-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg);
}

.ui-multiselect-checkboxes li:not(:first-child):hover input:not(:checked) + span:before {
    position: absolute;
    top: 50%;
    right: 8px;
    width: 12px;
    height: 2px;
    content: '';
    background: #cfd0d1;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.ui-multiselect-menu li span {
    padding: 10px 19px;
    font-family: "Geometria", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #353535;
    cursor: pointer;
    width: 100%;
    display: block;
    position: relative;
    box-sizing: border-box;
}

.ui-multiselect-menu li span:hover,
.ui-multiselect-menu li input:checked + span {
    color: #309B42;
}

.unchecked-all span {
    color: #309B42 !important;
    pointer-events: auto;
}

.ui-multiselect-grouplabel{
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 132%;
    padding: 12px 20px 15px 20px;
    text-align: left;
    border-bottom-color: rgba(0, 0, 0, 0.1);
    color: rgba(51, 51, 51, 0.78);
}
.ui-multiselect-grouplabel:hover{
    color: rgba(51, 51, 51, 0.78);
}
.ui-multiselect-grouplabel+ul{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.ui-corner-all.ui-state-hover span:after,
.ui-corner-all.ui-state-hover span:before,
.ui-multiselect-checkboxes li:not(:first-child):hover input:not(:checked) + span:before,
.ui-multiselect-checkboxes li:not(:first-child):hover input:not(:checked) + span:after{
    display: none;
}

.ui-multiselect:after {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    border: 1px solid rgba(51,51,51,0.6);
    border-top-width: 0;
    border-right-width: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    top: 18px;
    right: 16px;
}
.ui-multiselect.ui-state-active:after {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    top: 21px;
    right: 16px;
}

.ui-multiselect .ui-multiselect-open+span {
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

.ui-multiselect:before {
    content: '';
    display: inline-block;
    width: 13px;
    position: absolute;
    left: 18px;
    top: 14px;

}