.layout__wrapper.layout__wrapper-application
    .layout__content
        .layout__title Офисы продаж и шоурумы
        .layout__text Приглашаем посмотреть весь каталог квартир, оценить качество отделки в шоурумах и задать интересующие вопросы нашим менеджерам.
        a(href="#").button__wrapper оставить заявку
