.header__wrapper
    .baner__wrapper
        video(src="img/comfort/yunt_komf_V02.mp4" preload="true" muted="true" loop="loop" autoplay)
    .header__text__wrapper
        .header__title Комфорт
        .header__subtitle в нашей Природе
