.layout__wrapper.layout__wrapper-consultation
    .layout__content
        .layout__bg
            picture
                source(media="(min-width: 768px)" srcset="./img/comfort/l-consultation-bg.png")
                source(media="(min-width: 320px)" srcset="./img/comfort/l-consultation-bg-mob.png")
                img(src="./img/comfort/l-consultation-bg.png")
        form.form__wrapper
            .form__title Увидеть всё самому
            .form__text Запись на бесплатную экскурсию в Юнтолово
            .input__wrapper
                .label__wrapper Телефон
                input(type="text")
            input(type="submit" class="button__wrapper" value="записаться")

