.layout__wrapper.layout__wrapper-5
    .layout__content
        .layout__bg
            img(src="./img/comfort/l-5-bg.png")
        .layout__text__wrapper
            .layout__title Комфортная среда
            .layout__text Комфортная среда с многочисленными парками, велодорожами, рекой, общественными пространствами и арт-объектами, создает все условия для поддержания физического и ментального здоровья. Жители квартала имеют множество вариантов для проведения досуга и занятий спортом, от сеансов сап-серфинга и йоги до скейтбординга и велопрогулок.

