.layout__wrapper.layout__wrapper-3
    .layout__content
        .layout__title 4К система комфорта
        .items__wrapper
            .item__wrapper
                .item__img
                    img(src="./img/comfort/4k-1.svg")
                .item__title Функциональный комфорт
                .item__text Продуманные планировки квартир, закрытые дворы без машин, велопарковки, дизайнерские холлы в парадных, колясочные и продуманные инженерные решения — каждая деталь предназначена для поддержания высокого уровня комфорта
            .item__wrapper
                .item__img
                    img(src="./img/comfort/4k-2.svg")
                .item__title Мобильный комфорт
                .item__text При наличии рядом КАД, ЗСД и выезда на Приморское шоссе запланировано строительство дополнительных транспортных развязок, что позволит наслаждаться загородной жизнью, оставаясь в черте города.
            .item__wrapper
                .item__img
                    img(src="./img/comfort/4k-3.svg")
                .item__title Эмоциональный комфорт
                .item__text Основой крепкого ментального здоровья является поддержание эмоционального комфорта: обогащенный кислородом воздух, гармоничная атмосфера и выразительные пейзажи — идеальные условия для перезагрузки.
            .item__wrapper
                .item__img
                    img(src="./img/comfort/4k-4.svg")
                .item__title Эстетический комфорт
                .item__text Живописные локации и арт-объекты, современные фасады, видовые квартиры с отделкой ком-форт класса — 35 квартал спроектирован так, чтобы вы получали удовольствие.
