.layout__wrapper.layout__wrapper-1
    .layout__content
        .layout__bg
            img(src="./img/comfort/l-1-bg.png")
        .layout__text__wrapper
            .logo__wrapper
                img(src="./img/comfort/logo.svg")
            .layout__title Новые кварталы комфорт-класса
            .layout__text Когда мы говорим про комфорт-класс жилья, мы не представляем что-то излишнее. Наоборот, мы представляем ровно столько, сколько нужно для реализации своих потребностей. Настоящий комфорт – это радость от момента, нужное количество лучшего под рукой и приятная, доставляющая искреннее удовольствие, активность. Именно эта идея заложена в основу новых кварталов комфорт-класса в «Юнтолово». Взгляните сами, развитая инфраструктура — база для жизни, близость к природе — здоровье и гармония, закрытые дворы без машин — безопасность, благоустроенная территория — эстетика, а сапсёрфинг у дома — желание познавать мир, пробуя что-то интересное.



