.layout__wrapper.layout__wrapper-5-2
    .layout__content
        .layout__text__wrapper
            .layout__title Европейский принцип инфраструктуры
            .layout__text Кварталы «Юнтолов Comfort» спроектированы по европейским принципам организации пространства, когда все основные объекты инфраструктуры в шаговой доступности. Здесь запланированы поликлиника для взрослых и детей с современным оборудованием, новый детский сад на 200 мест, крытая наземная парковка вместительностью до 496 машино-мест и коммерческие помещения на первых этажах жилых зданий, предлагающие широкий ассортимент товаров и услуг.
        .layout__bg
            img(src="./img/comfort/l-5-2-bg.png")
