.layout__wrapper.layout__wrapper-6-2
    .layout__content
        .tabs__wrapper
            .tabs__item.tabs__item-active(data-key="1") Место для каждого
            .tabs__item(data-key="2") Места общего пользования
            .tabs__item(data-key="3") Уличное оборудование
            .tabs__item(data-key="4") Система «Умный квартал»
        .tabs__content.tabs__content-active(data-content="1")
            .text__wrapper
                .layout__text Двор разделен на несколько функциональных зон, с учётом потребностей людей разного возраста: площадки для детей и подростков, места отдыха для взрослых.
                .img__wrapper
                    picture
                        source(media="(min-width: 768px)" srcset="./img/comfort/tab-img-3-1.png")
                        source(media="(min-width: 320px)" srcset="./img/comfort/tab-img-3-1-mob.png")
                        img(src="./img/comfort/tab-img-3-1.png")
                    .dots__wrapper
            .slider__section
                .slider__wrapper-dots
                    div
                        .slider__title Прогулочная зона отдыха
                        picture
                            source(media="(min-width: 768px)" srcset="./img/comfort/equipment-2.png")
                            source(media="(min-width: 320px)" srcset="./img/comfort/equipment-2-mob.png")
                            img(src="./img/comfort/equipment-2.png")
                    div
                        .slider__title Для детей школьного возраста (6-12 лет)
                        picture
                            source(media="(min-width: 768px)" srcset="./img/comfort/tab-img-3-2.png")
                            source(media="(min-width: 320px)" srcset="./img/comfort/tab-img-3-2-mob.png")
                            img(src="./img/comfort/tab-img-3-2.png")
                    div
                        .slider__title Площадка для малышей (3-6 лет)
                        picture
                            source(media="(min-width: 768px)" srcset="./img/comfort/tab-img-3-6.png")
                            source(media="(min-width: 320px)" srcset="./img/comfort/tab-img-3-6-mob.png")
                            img(src="./img/comfort/tab-img-3-6.png")
                    div
                        .slider__title Для самых маленьких (1-3 года)
                        picture
                            source(media="(min-width: 768px)" srcset="./img/comfort/tab-img-3-5.png")
                            source(media="(min-width: 320px)" srcset="./img/comfort/tab-img-3-5-mob.png")
                            img(src="./img/comfort/tab-img-3-5.png")
                    div
                        .slider__title Зона work-out
                        picture
                            source(media="(min-width: 768px)" srcset="./img/comfort/tab-img-3-4.png")
                            source(media="(min-width: 320px)" srcset="./img/comfort/tab-img-3-4-mob.png")
                            img(src="./img/comfort/tab-img-3-4.png")
        .tabs__content(data-content="2")
            .text__wrapper
                .layout__title Места
                    br
                    | общего пользования
                .layout__text В каждой парадной квартала создана безбарьерная среда для удобства перемещения, установлено качественное лифтовое оборудование, для хранения предусмотрены колясочные и отдельные парковки для велосипедов.
            .slider__wrapper
                img(src="./img/comfort/tab-img-1.png")
                img(src="./img/comfort/tab-img-1.png")
                img(src="./img/comfort/tab-img-1.png")
        .tabs__content(data-content="3")
            .text__wrapper
                .layout__title Уличное оборудование
                .layout__text На территории квартала появится несколько арт-объектов: скейтборд, сапборд и велосипедное колесо, которые станут локальным символом активного образа жизни.
            .slider__wrapper
                img(src="./img/comfort/equipment.png")
                img(src="./img/comfort/equipment-2.png")
                img(src="./img/comfort/equipment-3.png")
        .tabs__content(data-content="4")
            .text__wrapper
                .layout__title Система «Умный квартал»
                .layout__text «Умный квартал» строится на базе RFID — это система вашего доступа ко всем дверям, воротам, домофону, подъезду, камерам наблюдения и другим инструментам европейского уровня безопасности и комфорта через смартфон.
                .layout__text.layout__text-li Управляйте домофоном: смотрите, кто звонит и открывайте дверь из любой точки мира.
                .layout__text.layout__text-li Присматривайте за детьми на площадках и в зонах отдыха прямо из приложения на смартфоне.
                .layout__text.layout__text-li Оплачивайте счета за коммунальные услуги в приложении, а показания счетчиков будут передаваться в управляющую компанию автоматически.
            .img__section
                img(src="./img/comfort/tab-img-4.png")
