.layout__wrapper.layout__wrapper-8
    .layout__content
        .layout__bg
            picture
                source(media="(min-width: 1365px)" srcset="./img/comfort/l-8-bg.png")
                source(media="(min-width: 768px)" srcset="./img/comfort/l-8-bg-768.png")
                source(media="(min-width: 320px)" srcset="./img/comfort/l-8-bg-mob.png")
                img(class="lazy" loading="lazy" src="./img/comfort/l-8-bg.png")
        .layout__text__wrapper
            .layout__subtitle 1-комнатная квартира евро
            .layout__text.layout__text-bold Функции планировки
            .layout__ul
                .layout__li Просторная комната
                .layout__li Уютная лоджия
                .layout__li Ниша для хранения в прихожей
                .layout__li Увеличенные проемы окна



