.layout__wrapper.layout__wrapper-9
    .layout__content
        .layout__text__wrapper
            .layout__subtitle 2-комнатная квартира евро
            .layout__text.layout__text-bold Функции планировки
            .layout__ul
                .layout__li Кухня в нише
                .layout__li Несколько окон в спальне
                .layout__li Просторная кухня-гостиная
                .layout__li Квартира на 2 стороны
                .layout__li Два санузла
                .layout__li Увеличенные проёмы окна
        .layout__bg
            picture
                source(media="(min-width: 1365px)" srcset="./img/comfort/l-9-bg.png")
                source(media="(min-width: 768px)" srcset="./img/comfort/l-9-bg-768.png")
                source(media="(min-width: 320px)" srcset="./img/comfort/l-9-bg-mob.png")
                img(class="lazy" loading="lazy" src="./img/comfort/l-9-bg.png")


