.layout__wrapper.layout__wrapper-2
    .layout__content
        .items__wrapper
            .item__wrapper
                .item__title 71 963
                    span м
                        sup 2
                .item__text Площадь квартала
            .item__wrapper
                .item__title 16 847
                    span м
                        sup 2
                .item__text Под объекты инфраструктуры
            .item__wrapper
                .item__title 20
                    span Га
                .item__text Центральный пар
            .item__wrapper
                .item__title 10
                    span Минут
                .item__text До реки и леса
            .item__wrapper
                .item__title 7
                .item__text Жилых корпусов
        .plane__img
            img(src="./img/comfort/plane.png")
        .layout__bg
            img(src="./img/comfort/l-2-bg.svg")
        .birds__items
            .birds__item
                .birds__img
                    img(src="./img/comfort/birds-korp.svg")
                .birds__text Жилой корпус
            .birds__item
                .birds__img
                    img(src="./img/comfort/birds-parking.svg")
                .birds__text Парковка
            .birds__item
                .birds__img
                    img(src="./img/comfort/bird-kindergarten.svg")
                .birds__text Детский сад
            .birds__item
                .birds__img
                    img(src="./img/comfort/bird-hospital.svg")
                .birds__text Поликлиника (детская и взрослая)