.layout__wrapper.layout__wrapper-7
    .layout__title Планировочные решения
    .layout__content
        .layout__text__wrapper
            .layout__subtitle Квартира-студия
            .layout__text.layout__text-bold Функции планировки
            .layout__ul
                .layout__li Просторная комната
                .layout__li Уютная лоджия
                .layout__li Ниша для хранения в прихожей
        .layout__bg
            picture
                source(media="(min-width: 1365px)" srcset="./img/comfort/l-7-bg.png")
                source(media="(min-width: 768px)" srcset="./img/comfort/l-7-bg-768.png")
                source(media="(min-width: 320px)" srcset="./img/comfort/l-7-bg-mob.png")
                img(class="lazy" loading="lazy" src="./img/comfort/l-7-bg.png")

