.layout__wrapper.layout__wrapper-6
    .layout__content
        .layout__text__wrapper
            .layout__title Благоустройство
            .layout__text Оригинальные европейские фасады Юнтолово Comfort разработаны известным архитектурным бюро «А. Лен». Портфолио «А.Лен» насчитывает более 500 архитектурных проектов жилого, общественного и промышленного назначения в 30 городах России
            .layout__text Контраст насыщенных терракотовых и светло-бежевых оттенков формирует эстетичную гамму фасадов. Ритм окон, кажущийся смещенным, придает динамику всей композиции, за счет этого фасады не выглядят монотонно. Декоративные вставки из кирпича контрастного цвета визуально увеличивают оконные проемы, а вертикальные вставки подчеркивают стройность домов.
        .layout__bg
            img(src="./img/comfort/l-6-bg.png")

