.layout__wrapper.layout__wrapper-4
    .layout__content
        .layout__text__wrapper
            .layout__title Эстетика североевропейской архитектуры
            .layout__text Представьте мир, где царит баланс между вечным и современным. Где сочетается простота, экологичность и новшество. Это тот самый мир, в котором мы можем жить уже сегодня.
            .layout__text Концепция квартала была вдохновлена североевропейской архитектурой, которая знаменита на весь мир за свой сдержанный стиль.
            .layout__text Автором архитектурного ансамбля квартала выступило известное Архитектурное бюро «А.Лен», портфолио которого насчитывает более 500 архитектурных проектов в 30 городах России. Контрастная цветовая гамма, динамичная композиция, декоративные вставки из кирпича и оригинальные европейские фасады гармонично дополняют природный ландшафт.
        .layout__bg
            img(src="./img/comfort/l-4-bg.png")
