.layout__wrapper.layout__wrapper-10
    .layout__content
        .layout__bg
            picture
                source(media="(min-width: 1365px)" srcset="./img/comfort/l-10-bg.png")
                source(media="(min-width: 768px)" srcset="./img/comfort/l-10-bg-768.png")
                source(media="(min-width: 320px)" srcset="./img/comfort/l-10-bg-mob.png")
                img(class="lazy" loading="lazy" src="./img/comfort/l-10-bg.png")
        .layout__text__wrapper
            .layout__subtitle 3-комнатная квартира евро
            .layout__text Функции планировки
            .layout__ul
                .layout__li Две ванные комнаты
                .layout__li Просторная кухня-гостиная
                .layout__li Квартира на 2 стороны
                .layout__li Гардеробная


