.layout__wrapper.layout__wrapper-11
    .layout__content
        .layout__title Готовая отделка
        .finishing__tabs
            .finishing__tab__item.active(data-key="comfort") Комфорт
            .finishing__tab__item(data-key="standard") Стандарт
            .finishing__tab__item(data-key="whitebox") WHITe BOX
        .finishing__tabs__content.active(data-content="comfort")
            .comfort-type__tabs
                .comfort-type__tab.active(data-key="vanil") Ванильное небо
                .comfort-type__tab(data-key="coffe") кофе с молоком
            .text__wrapper Говорят, что жители Юнтолово делятся на любителей «Кофе с молоком» и «Ванильного неба».
            .comfort-type__content(data-content="vanil").active.text__wrapper
                .finishing-slider
                    .img__wrapper
                        img(src="img/comfort/comfort-1-1.png")
                    .img__wrapper
                        img(src="img/comfort/comfort-1-2.png")
                    .img__wrapper
                        img(src="img/comfort/comfort-1-3.png")
                    .img__wrapper
                        img(src="img/comfort/comfort-1-4.png")
                    .img__wrapper
                        img(src="img/comfort/comfort-1-5.png")
                    .img__wrapper
                        img(src="img/comfort/comfort-1-6.png")
                    .img__wrapper
                        img(src="img/comfort/comfort-1-7.png")
                    .img__wrapper
                        img(src="img/comfort/comfort-1-8.png")
                    .img__wrapper
                        img(src="img/comfort/comfort-1-9.png")
                    .img__wrapper
                        img(src="img/comfort/comfort-1-10.png")
            .comfort-type__content(data-content="coffe")
                .finishing-slider
                    .img__wrapper
                        img(src="img/comfort/comfort-2-1.png")
                    .img__wrapper
                        img(src="img/comfort/comfort-2-2.png")
                    .img__wrapper
                        img(src="img/comfort/comfort-2-3.png")
                    .img__wrapper
                        img(src="img/comfort/comfort-2-4.png")
                    .img__wrapper
                        img(src="img/comfort/comfort-2-5.png")
                    .img__wrapper
                        img(src="img/comfort/comfort-2-6.png")
                    .img__wrapper
                        img(src="img/comfort/comfort-2-7.png")
                    .img__wrapper
                        img(src="img/comfort/comfort-2-8.png")
                    .img__wrapper
                        img(src="img/comfort/comfort-2-9.png")
                    .img__wrapper
                        img(src="img/comfort/comfort-2-10.png")
            .finishing__items
                .finishing__item.title__wrapper В состав отделки входит все необходимые материалы:
                .finishing__item
                    .text__wrapper-li Фактурные обои под покраску
                    .text__wrapper-li Глухие или остекленные межкомнатные двери, цвет: дуб табак
                    .text__wrapper-li Керамическая плитка в санузлах
                    .text__wrapper-li Полный комплект сантехники в ванной
                .finishing__item
                    .text__wrapper-li Дверная фурнитура, цвет: хром
                    .text__wrapper-li.vanil Ламинат 32 класса, цвет: сенегал
                    .text__wrapper-li.coffe Ламинат 32 класса, цвет: дуб тёмный шоколад
                    .text__wrapper-li Панельные стальные радиаторы со встроенными терморегуляторами, цвет: белый
                    .text__wrapper-li Входная металлическая дверь с толщиной листа 1,2 мм
        .finishing__tabs__content(data-content="standard")
            .comfort-type__tabs
                .comfort-type__tab.active(data-key="optima") Оптима
            .comfort-type__content.active(data-content="optima")
                .finishing-slider
                    .img__wrapper
                        img(src="img/comfort/comfort-3-1.png")
                    .img__wrapper
                        img(src="img/comfort/comfort-3-2.png")
                    .img__wrapper
                        img(src="img/comfort/comfort-3-3.png")
                    .img__wrapper
                        img(src="img/comfort/comfort-3-4.png")
                    .img__wrapper
                        img(src="img/comfort/comfort-3-5.png")
                    .img__wrapper
                        img(src="img/comfort/comfort-3-6.png")
                    .img__wrapper
                        img(src="img/comfort/comfort-3-7.png")
                    .img__wrapper
                        img(src="img/comfort/comfort-3-8.png")
                    .img__wrapper
                        img(src="img/comfort/comfort-3-9.png")
                    .img__wrapper
                        img(src="img/comfort/comfort-3-10.png")
            .finishing__items
                .finishing__item.title__wrapper В состав отделки входит все необходимые материалы:
                .finishing__item
                    .text__wrapper-li Фактурные обои под покраску, текстура «метель»
                    .text__wrapper-li Глухие или остекленные межкомнатные двери без фактуры, цвет - дуб Сенегал или дуб Сория серый
                    .text__wrapper-li Керамическая плитка в санузлах, матовая, светлых тонов
                    .text__wrapper-li Полный комплект сантехники в ванной
                .finishing__item
                    .text__wrapper-li Дверная фурнитура, цвет — матовый хром
                    .text__wrapper-li Ламинат 32-го класса в светлых оттенках
                    .text__wrapper-li Панельные стальные радиаторы со встроенными терморегуляторами, цвет: белый
                    .text__wrapper-li Полный комплект сантехники в ванной
                    .text__wrapper-li Входная металлическая дверь с толщиной листа 1,2 мм
        .finishing__tabs__content(data-content="whitebox")
            .comfort-type__content.active
                .img__wrapper
                    img(src="img/comfort/comfort-4-1.png")
            .finishing__items
                .finishing__item.title__wrapper В состав отделки входит все необходимые материалы:
                .finishing__item
                    .text__wrapper-li Стены и потолки выровнены и подготовлены для отделки финишными материалами
                    .text__wrapper-li Выполнена скрытая разводка электрики (розетки, выключатели, точки освещения)
                    .text__wrapper-li Смонтирована встраиваемая электрофурнитура белого цвета
                .finishing__item
                    .text__wrapper-li Полы выровнены стяжкой, упрочняющим обеспыливающим грунтом
                    .text__wrapper-li Входная металлическая дверь с толщиной листа 2 мм
                    .text__wrapper-li Радиаторы алюминиевые белого цвета с терморегуляторами



