.button
  display: inline-block
  padding: 16px 30px
  font-size: 13px
  line-height: 16px
  font-family: 'Museo-300', Arial, sans-serif
  color: #fff
  background-color: #40A035
  border: 1px solid #40A035
  border-radius: 3px
  white-space: nowrap
  cursor pointer
  box-sizing: border-box
  &:hover
    color: #fff
  &:focus
    outline: none
    background-color: #40A035

