.choices
  width: 264px
  box-sizing: border-box
  margin-right: 26px
  margin-bottom: 0
  font-size: 14px
  line-height: 18px
  color: #3A393C
  font-family: "Museo-300", Arial, sans-serif
  .choices__inner
    box-sizing: border-box
    padding: 16px 20px
    background: #fff
    border: 1px solid #DADADA
    border-radius: 2px
  &[data-type*=select-one] .choices__inner
    padding-bottom: 16px
  .choices__list--dropdown .choices__item--selectable:after
    display: none
  .choices__list--dropdown
    background-color: #fff
    border: 1px solid #F0F0F0
    width: 99%
  .choices__list--dropdown .choices__item--selectable
    padding: 10px 20px
    font-size: 13px
    background-color: #fff
    &.is-selected
      color: #40A035
  .choices__list--dropdown .choices__item--selectable:hover
    background-color: rgba(64, 160, 53, 0.1)
