@import "../mixin/flex.styl"
.layout__wrapper
  max-width: 1260px
  margin: 180px auto 100px auto
  .result__serch
    margin-bottom: 30px
    flex()
    @media(max-width: 767px)
      padding-top: 20px
      border-top: 1px solid #DADADA
    &__title
      font-size: 24px
      line-height: 34px
      font-family: 'Museo-300', Arial, sans-serif
      font-weight: 500
      flex-grow: 1
      @media(max-width: 767px)
        display: none
    .checkbox__wrapper
      margin-right: 20px
      align-self: center
    .view-mode__wrapper
      align-self: center

.button
  &-no-bg
    background-color: transparent
    border-color: transparent
    color: #A3A3A3
    &:hover
      border-color: #40A035
      color: #40A035
    &:focus
      border-color: #40A035
      color: #40A035
      background-color: transparent
  &-black
    background-color: #40A035
    border-color: #40A035
    &:focus
      background-color: #40A035
      border-color: #40A035


.checkbox__wrapper
  label
    position: relative
    cursor: pointer
    color: #353535
    flex(flex-start, center, row)
    font-family: "Museo-300", Arial, sans-serif
    font-size: 14px
    line-height: 17px
    &:before
      content: ''
      display: block
      width: 20px
      min-width: 20px
      height: 20px
      position: relative
      margin-right: 10px
      background-color: #FFF
      border: 1px solid #DADADA
      border-radius 3px
    &:after
      content: ''
      display: none
      width: 12px
      height: 14px
      position: absolute
      left: 5px
      top: 4px
      background: url('../img/icons/send.svg') no-repeat 50% 50%
      background-size: 100% auto
  input[type='checkbox']
    position: absolute
    left: 0
    top: 0
    opacity: 0
    z-index: -100

  input:checked+label:after
    display: block
  input:checked+label
    color: #40A035
  input:checked+label:before
    border-color: #40A035
  input:invalid+label:before
    border-color: #FF4747


.checkbox__wrapper-btn
  position: relative
  label
    color: #353535
    font-family: "Museo-300", Arial, sans-serif
    font-size: 14px
    line-height: 17px
    border: 1px solid #DCDCDC
    border-radius: 3px
    cursor: pointer
    width: 60px
    min-width: 60px
    height: 50px
    flex(center, center, row)
    box-sizing border-box
  input[type='checkbox']
    width: 0.01px
    height: 0.01px
    position absolute
    left: -100px
    top: 0
    opacity: 0
    z-index: -100
  input[type='checkbox']:checked+label, input[type='checkbox']:checked:hover+label
    color: #40A035
    background: rgba(64, 160, 53, 0.2)
    border-color: #40A035
  input[type='checkbox']:hover+label
    color: #353535
    background: rgba(220, 220, 220, 0.2)
    border-color: #DCDCDC


.view-mode__wrapper
  flex()
  position: relative
  @media(max-width: 1023px)
    display: none
  input[type="radio"]
    width: 0.01px
    height: 0.01px
    position: absolute
    left: 0
    top: 0
    z-index: -100
    opacity: 0
  label
    width: 40px
    min-width: 40px
    height: 40px
    margin-right: 10px
    cursor: pointer
    &:last-child
      margin-right: 0
    svg
      width: 100%
      height: auto
    &:hover
      svg
        path
          fill: #40A035
  input[id="view-mode-tile"]:checked~label[for="view-mode-tile"] svg path,
  input[id="view-mode-simple"]:checked~label[for="view-mode-simple"] svg path
    fill: #40A035

  input[id="view-mode-tile"]:checked~label[for="view-mode-tile"] svg rect,
  input[id="view-mode-simple"]:checked~label[for="view-mode-simple"] svg rect
    fill: rgba(64, 160, 53, 0.2)


.filters__wrapper
  position: relative
  &__title
    font-size: 24px
    line-height: 34px
    font-family: "Museo-300", Arial, sans-serif
    font-weight: 500px
    margin-bottom: 20px
  &>.button
    width: 100%
    text-align center
    display: none
    .icon__wrapper
      width: 14px
      height: 14px
      display: inline-block
      margin-right: 14px
      img
        width: 100%
        height: auto
    .button__text
      font-size: 16px
      line-height: 20px
      color: #fff
      font-family: "Museo-300", Arial, sans-serif
      display: inline-block
      margin-right: 14px
    .button__counter
      display: inline-block
      width: 16px
      height: 16px
      text-align center
      color: #0072C7
      font-family: "Museo-300", Arial, sans-serif
      font-size: 12px
      line-height: 14px
      background-color: white
      border-radius 50%
    @media(max-width: 767px)
      display: inline-block
      margin-bottom: 20px

  .filters__form
    display: block
    .close__filters__form
      display: none
    &__row
      flex()
      flex-wrap: wrap
      height: 89px
      overflow hidden
      &-all
        height: auto
    &__content
      box-sizing: border-box
    &__cell
      margin: 0 26px 30px 0
    &__label
      color: #A3A3A3
      margin-bottom: 10px
      font-family: 'Museo-300', Arial, sans-serif
      font-size: 14px
      line-height: 17px
    .filters__wrapper__title
      display: none
  .form__cell
    &-small
      width: 141px
    &-normal
      width: 322px
  .checkbox__section
    .checkbox__wrapper
        width: 140px
        margin-bottom: 4px
        &:last-child
          margin-bottom: 0
    &-number-rooms
      flex()
      .checkbox__wrapper-btn
        margin-right: 20px
        &:last-child
          margin-right: 0

.filters__actions__panel
  flex(flex-end, center, row)
  width: 100%
  .all-parametrs
    &__wrapper
      flex-grow: 1
      input[type="checkbox"]
        width: 0.01px
        height: 0.01px
        opacity: 0
        position: absolute
        z-index: -100
        left: 0
        top: 0
    &__label
      color: #40A035
      font-family: "Museo-300", Arial, sans-serif
      line-height: 22px
      font-size: 16px
      font-weight: normal
      cursor: pointer
      display: inline-flex
      justify-content: flex-start
      align-items: center
    &__text
      &:after
        content: ""
        min-width: 7px
        width: 7px
        height: 7px
        display: inline-block
        margin-left: 10px
        border: 1px solid #40A035
        border-top-width: 0
        border-left-width: 0
        transform: rotate(45deg) translateY(-2px)
      &.all-parametrs__show:after
        transform: rotate(225deg) translateY(-2px)
    &__show
      display: none
    &__wrapper
      input[type="checkbox"]:checked~.all-parametrs__hide
        display: none
      input[type="checkbox"]:checked~.all-parametrs__show
        display: block

  @media(max-width: 767px)
    .filters__form
      display: none
      &-active
        display: block
        position: fixed
        left: 0
        right: 0
        top: 0
        bottom: 0
        background-color: #fff
        z-index: 1000
        overflow-y: auto
        .close__filters__form
          display: block
          position: absolute
          top: 10px
          right: 10px
          width: 40px
          height: 40px
          img
            width: 100%
            height: auto
      &__row
        padding: 10px
      &__cell
        margin-bottom: 20px
        margin-right: 0
        &.form__cell-small
          width: 100%
        &.form__cell-normal
          width: 100%
      .filters__wrapper__title
        display: block
        padding-left: 10px
        padding-top: 30px
        font-size: 24px
        line-height: 34px
        color: #3A393C
        font-family: "Museo-300", Arial, sans-serif
        font-weight: 500
      .filters__actions__panel
        width: 100%
        flex()
        flex-direction: column-reverse
        .button
          width: 100%
          &-no-bg
            border: 1px solid #40A035
            color: #40A035
          &-black
            margin-bottom: 20px

.cards__header
  &__row
    display: none
    margin-bottom: 20px
    padding: 0 20px
    &.cards__header-show
      flex()
      @media(max-width: 1023px)
        display: none

  &__cell
    color: #A3A3A3
    font-size: 14px
    line-height: 20px
    font-family: 'Museo-300', Arial, sans-serif
    margin-right: 60px
  &-deadline
    margin-right: 120px
  &-floor
    margin-right: 135px
  &-group-row
    &.cards__header-show
      justify-content: space-between
    .cards__header__cell
      width: 100%
      margin-right: 0
      &:first-child
        max-width: 170px
      &:last-child
        min-width: 260px


.cards__wrapper
  flex()
  flex-wrap: wrap
  @media(max-width: 1300px)
    justify-content: space-around
  .card
    &__wrapper
      width: 300px
      border: 1px solid #DCDCDC
      box-sizing border-box
      padding: 20px
      margin: 0  20px 20px 0
      font-family: "Museo-300", Arial, sans-serif
      font-size: 14px
      line-height: 18px
      color: #3A393C
      position: relative
      &:nth-child(4n+4)
        margin-right: 0
      @media(max-width: 1300px)
        margin-right: 0
    &__slider
      width: 100%
      margin: 0 auto 14px auto
      flex(center, center, row)
      img
        width: 100%
        max-width: 200px
        height: auto
        max-height: 200px
        margin: auto
    &__row
      flex()
      &-meters-apartment
        margin-bottom: 20px
        white-space: nowrap
        .card__cell-deadline
          display: none
      sup
        font-size: 8px
        line-height: 8px

    &__cell
      margin-bottom: 20px
      margin-right: 30px
      &:last-child
        margin-right: 0
      &-type-finishing
        border: 1px solid #40A035
        box-sizing: border-box
        border-radius: 40px
        background: #fff
        padding: 8px 11px
        font-size: 12px
        line-height: 14px
        letter-spacing: 0.02em
        font-family: "Museo-500", Arial, sans-serif
        color: #40A035
        text-align center
        width: 90px
      &-turn
        display: none
    &__title
      font-size: 20px
      line-height: 24px
      display: inline-block
      margin-right: 10px
      font-family: "Museo-500", Arial, sans-serif
      color: #353535
      .card__number
        display: none
      .card__cell-type-finishing
        display: none
    &__meters-apartment
      font-size: 20px
      line-height: 24px
      font-family: "Museo-500", Arial, sans-serif
      color: #353535
    &__lable
      font-size: 12px
      line-height: 14px
      margin-bottom: 8px
      color: #A3A3A3
    &__text
      font-size: 16px
      line-height: 19px
      color: #353535
    &__footer
      border-top: 1px solid #DADADA
      padding-top: 20px
      box-sizing: border-box
      flex(space-between, center, row)
      flex-wrap: wrap
      .card
        &__cell
          display: inline-block
          margin-bottom: 0
          margin-right: 0
          &-square-meter
            font-size: 14px
            line-height: 17px
            color: #A3A3A3
            width: 50%
          &-price
            font-size: 20px
            line-height: 30px
            font-weight: 500
            margin-bottom: 4px
            color: #40A035
            font-family: "Museo-500", Arial, sans-serif
            text-align: right
            width: 50%
  @media all and (min-width: 1023px)
    &-row
      display: block
      .card
        &__wrapper
          width: 100%
          margin: 0 0 26px 0
          flex(flex-start, center, row)
        &__slider
          width: auto
          max-width: 100px
          height: auto
          max-height: 120px
          box-sizing border-box
          margin: 0 0 0 0
        &__title
          width: 147px
          display: block
          margin-bottom: 0
          font-size: 16px
          line-height: 19px
          .card__number
            font-size: 14px
            line-height: 17px
            margin-bottom: 4px
            margin-top: 10px
            display: block
            color: #A3A3A3
          .card__cell-type-finishing
            display: block
            margin-top: 8px
        &__row
          &-type-finishing
            display: none
          &-meters-apartment
            border-right: 1px solid #DADADA
            align-items: center
            margin-bottom: 0
            margin-left: 40px
            .card__cell-deadline
              display: block
              margin-bottom: 0
              margin-right: 40px
            .card__meters-apartment
              font-size: 16px
              line-height: 19px
              font-family: "Museo-300", Arial, sans-serif
              width: 115px
          &-info
            padding: 0 40px
            box-sizing: border-box
            justify-content: space-between
            .card__cell
              margin: 0
              &-turn, &-korp
                display: block
                width: 115px
              &-floor
                width: 65px
                margin-right: 0
        &__cell
          &__meters-apartment
            width: 147px
            display: block
          &-deadline
            display: none
          &-turn
            display: block
        &__lable
          display: none
        &__footer
          border-top: none
          border-left: 1px solid #DADADA
          width: 294px
          box-sizing: border-box
          flex-direction: column-reverse
          .card__cell
            margin-bottom: 4px
            margin-right: 0
            display: block
            &-price
              margin-right: 0
.card
  &-group__wrapper
    .card
      &__row
        flex-direction: column
      &__cell
        flex(space-between, center, row)
        width: 100%
        border-bottom: 1px solid #DCDCDC
        padding: 10px 0
        margin-bottom: 0
        &:last-child
          border-bottom-color: transparent
          margin-bottom: 7px
          .card__title, .card__value
            font-family: "Museo-500", Arial, sans-serif
      &__title
        font-size: 14px
        line-height: 17px
        font-family: "Museo-300", Arial, sans-serif
        color: #353535
    .button-no-bg
      border-color: #40A035
      color: #40A035
      width: 100%
      max-width: 260px
      text-align: center
      font-size: 14px
      font-family: "Museo-300", Arial, sans-serif
.cards__wrapper-row
  .card-group__wrapper
    .card
      &__slider
        margin-right: 70px
      &__row
        width: 100%
        flex-direction: row
        justify-content: space-between
      &__cell
        flex(flex-start, center, row)
        width: 100%
        border-bottom: none
        padding: 0 0
        margin: 0
        &:last-child
          margin-bottom: 0
      &__title
        display: none

.popup__wrapper
  position: fixed
  left: 0
  right: 0
  top: 0
  bottom: 0
  z-index: 100
  display: none
  justify-content: center
  align-items: center
  flex-direction: row


.popup__wrapper.active
  display: flex


.popup__bg
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-color: rgba(58, 57, 60, 0.1)


.popup__body
  position: relative
  width: 434px
  background-color: #fff
  padding: 30px 28px 40px 23px
  box-sizing: border-box
  .popup__title
    font-size: 20px
    line-height: 25px
    font-family: "Museo-300", Arial, sans-serif
    font-weight: 500
    color: #3A393C
    margin-bottom: 30px
  .button
    margin: 0 auto
    width: 100%
  .input-text__section
    width: 100%
    box-sizing: border-box
    padding: 15px 20px
    margin-bottom: 10px
    border: 1px solid #DADADA
    border-radius: 2px
    cursor: pointer
    &:last-child
      margin-bottom: 20px
    input
      width: 100%
      border: none !important
      box-sizing: border-box
      margin: 0 !important
      height: auto!important
      &:focus
        border: none !important
        outline: none !important
        box-shadow: none!important
.popup__close
  position: absolute
  top: 25px
  right: 25px
  cursor: pointer
  img
    width: 40px
    height: 40px



.cst_btn
  background: #3A393C
  width: 160px
  height: 48px
  font-family: "Museo-300", Arial, sans-serif
  font-style: normal
  font-weight: normal
  font-size: 14px
  line-height: 48px
  text-align: center
  color: #FFFFFF
  margin: 0 auto
  cursor: pointer

.cst_icon
  width: 60px
  height: 60px
  margin: 0 auto 20px auto
  cursor: pointer


.cst_title
  font-family: "Museo-300", Arial, sans-serif
  font-style: normal
  font-weight: bold
  font-size: 18px
  line-height: 20px
  color: #3A393C
  margin-bottom: 20px
  text-align: center


.cst_mess
  font-family: "Museo-300", Arial, sans-serif
  font-style: normal
  font-size: 14px
  line-height: 18px
  color: #3A393C
  margin-bottom: 20px
  text-align: center


.choices
  .choices__inner
    padding: 15 20px !important
    box-sizing border-box !important
  .choices__list--single
    padding: 0 16px 0 4px


.tooltip
  position: fixed
  padding: 14px 20px
  border-radius: 3px
  font-size: 14px
  line-height: 17px
  color: #fff
  background: rgba(53, 53, 53, 0.9)
  font-family: "Museo-300", Arial, sans-serif
  max-width: 265px
  z-index: 100
  &__icon
    display: inline-block
    width: 16px
    min-width: 16px
    height: 16px
    border: 1px solid #DCDCDC
    border-radius 50%
    color: #353535
    font-size: 12px
    line-height: 17px
    text-align: center
    margin-left: 6px
    cursor: pointer


.pagination
  flex(center, flex-start, row)
  width: 100%
  margin: 0
  border-radius: 0
  &-list
    margin: 0
    flex()
    padding: 0
  &-item
    color: #A3A3A3
    list-style: none
    text-align: center
    font-size: 16px
    line-height: 26px
    cursor: pointer
    font-family: "Museo-300", Arial, sans-serif
    &:hover
      color: #3E9134
.layout__wrapper .link__back{
  color: #40A035
  font-family: "Museo-300", Arial, sans-serif
  font-size: 16px
  line-height: 19px
  margin-bottom: 20px
  cursor: pointer
  display: inline-block
}
.layout__wrapper .link__back:hover{
  text-decoration: none
}
.layout__wrapper .link__back:before{
  content: ''
  display: inline-block
  width: 10px
  height: 10px
  border: 1px solid #40A035
  border-right-color: transparent
  border-top-color: transparent
  transform: rotate(45deg)
  margin-right: 6px
}


.planing-item__type-finish
  color: rgba(0, 114, 199, 0.5)
  font-size: 12px
  line-height: 15px
  display: inline-block
  letter-spacing: 0.02em
  padding: 8px 12px
  text-align center
  background: rgba(0, 114, 199, 0.05);
  border-radius: 5px
  cursor: pointer
  margin-bottom: 10px

.tooltip
  position: fixed
  padding: 14px 20px
  border-radius: 3px
  font-size: 14px
  line-height: 17px
  color: #fff
  background: rgba(53, 53, 53, 0.9)
  font-family: "Museo-300", Arial, sans-serif
  max-width: 265px
  z-index: 100
  &__icon
    display: inline-block
    width: 16px
    min-width: 16px
    height: 16px
    border: 1px solid #DCDCDC
    border-radius 50%
    color: #353535
    font-size: 12px
    line-height: 17px
    text-align: center
    margin-left: 6px
    cursor: pointer