.filters__wrapper
    .filters__wrapper__title Подбор коммерческого помещения
    .button.show-filter
        .icon__wrapper
            img(src="./img/icons/filter.svg")
        .button__text Фильтр
    .filters__form
        .close__filters__form
            img(src="./img/icons/close.svg")
        .filters__wrapper__title Фильтр
        form(action="#").filters__form__content
            .filters__form__row
                .filters__form__cell
                    .filters__form__label Количество комнат
                    .checkbox__section-number-rooms
                        .checkbox__wrapper-btn
                            input(type='checkbox' id='room-1' name='room-1' value='room-1')
                            label(for='room-1') 1
                        .checkbox__wrapper-btn
                            input(type='checkbox' id='room-2' name='room-2' value='room-2')
                            label(for='room-2') 2
                        .checkbox__wrapper-btn
                            input(type='checkbox' id='room-3' name='room-3' value='room-3')
                            label(for='room-3') 3
                        .checkbox__wrapper-btn
                            input(type='checkbox' id='room-4' name='room-4' value='room-4')
                            label(for='room-4') 4
                .filters__form__cell
                    .filters__form__label Этаж
                    .checkbox__section
                        .checkbox__wrapper
                            input(type='checkbox' id='not-first-floor' name='not-first-floor' value='not-first-floor')
                            label(for='not-first-floor') Не первый
                        .checkbox__wrapper
                            input(type='checkbox' id='not-last-floor' name='not-last-floor' value='not-last-floor')
                            label(for='not-last-floor') Не последний
                .filters__form__cell
                    .filters__form__label Дополнительно
                    .checkbox__wrapper
                        input(type='checkbox' id='balcony-1' name='balcony' value='balcony')
                        label(for='balcony-1') С балконом
                .filters__form__cell
                    .filters__form__label Дополнительно
                    .checkbox__wrapper
                        input(type='checkbox' id='balcony-2' name='balcony' value='balcony')
                        label(for='balcony-2') С балконом
                .filters__form__cell
                    .filters__form__label Дополнительно
                    .checkbox__wrapper
                        input(type='checkbox' id='balcony-3' name='balcony' value='balcony')
                        label(for='balcony-3') С балконом
                .filters__form__cell
                    .filters__form__label Дополнительно
                    .checkbox__wrapper
                        input(type='checkbox' id='balcony-4' name='balcony' value='balcony')
                        label(for='balcony-4') С балконом
                .filters__form__cell
                    .filters__form__label Дополнительно
                    .checkbox__wrapper
                        input(type='checkbox' id='balcony-5' name='balcony' value='balcony')
                        label(for='balcony-5') С балконом
                .filters__form__cell
                    .filters__form__label Дополнительно
                    .checkbox__wrapper
                        input(type='checkbox' id='balcony-6' name='balcony' value='balcony')
                        label(for='balcony-6') С балконом
                .filters__form__cell
                    .filters__form__label Дополнительно
                    .checkbox__wrapper
                        input(type='checkbox' id='balcony-7' name='balcony' value='balcony')
                        label(for='balcony-7') С балконом
                .filters__form__cell
                    .filters__form__label Количество комнат
                    .checkbox__section-number-rooms
                        .checkbox__wrapper-btn
                            input(type='checkbox' id='room-11' name='room-1' value='room-1')
                            label(for='room-11') 1
                        .checkbox__wrapper-btn
                            input(type='checkbox' id='room-21' name='room-2' value='room-2')
                            label(for='room-21') 2
                        .checkbox__wrapper-btn
                            input(type='checkbox' id='room-31' name='room-3' value='room-3')
                            label(for='room-31') 3
                        .checkbox__wrapper-btn
                            input(type='checkbox' id='room-41' name='room-4' value='room-4')
                            label(for='room-41') 4
            .filters__actions__panel
                .all-parametrs__wrapper
                    label.all-parametrs__label
                        input(type="checkbox" name="all_parametrs")
                        .all-parametrs__text.all-parametrs__hide Больше параметров
                        .all-parametrs__text.all-parametrs__show Скрыть
                button(class="button button-no-bg" type="reset") Сбросить параметры
                button(class="button button-black" type="submit") Подобрать квартиру


