.result__serch
    .result__serch__title Результаты поиска
        .tooltip__icon(data-tooltip="Текст подсказки") ?
    select.js-choice
        option(value="1") Цена по возрастанию
        option(value="2") Цена по убыванию
        option(value="3") Площадь по возрастанию
        option(value="4") Площадь по убыванию
    .checkbox__wrapper
        input(type='checkbox' id='type-group' name='type-group' value='type-group')
        label(for='type-group') Группировать по типам
            .tooltip__icon(data-tooltip="У нас сотни планировок, поэтому сгруппируйте их по типам") ?
    .view-mode__wrapper
        input(type="radio" name="view-mode" id="view-mode-tile" value="view-mode-tile" checked)
        input(type="radio" name="view-mode" id="view-mode-simple" value="view-mode-simple")
        label(for="view-mode-tile")
            svg(width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg")
                rect(width="40" height="40" rx="2" stroke="#DADADA" fill="white")
                path(d="M11 11.8182C11 11.3663 11.3663 11 11.8182 11H18.3636C18.8155 11 19.1818 11.3663 19.1818 11.8182V18.3636C19.1818 18.8155 18.8155 19.1818 18.3636 19.1818H11.8182C11.3663 19.1818 11 18.8155 11 18.3636V11.8182Z" fill="#DADADA")
                path(d="M20.8188 11.8182C20.8188 11.3663 21.1852 11 21.637 11H28.1825C28.6344 11 29.0007 11.3663 29.0007 11.8182V18.3636C29.0007 18.8155 28.6344 19.1818 28.1825 19.1818H21.637C21.1852 19.1818 20.8188 18.8155 20.8188 18.3636V11.8182Z" fill="#DADADA")
                path(d="M20.8188 21.6365C20.8188 21.1846 21.1852 20.8183 21.637 20.8183H28.1825C28.6344 20.8183 29.0007 21.1846 29.0007 21.6365V28.1819C29.0007 28.6338 28.6344 29.0001 28.1825 29.0001H21.637C21.1852 29.0001 20.8188 28.6338 20.8188 28.1819V21.6365Z" fill="#DADADA")
                path(d="M11 21.6365C11 21.1846 11.3663 20.8183 11.8182 20.8183H18.3636C18.8155 20.8183 19.1818 21.1846 19.1818 21.6365V28.1819C19.1818 28.6338 18.8155 29.0001 18.3636 29.0001H11.8182C11.3663 29.0001 11 28.6338 11 28.1819V21.6365Z" fill="#DADADA")

        label(for="view-mode-simple")
            svg(width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg")
                rect(x="0.5" y="0.5" width="39" height="39" rx="1.5" stroke="#DADADA")
                g(clip-path="url(#clip0)")
                    path(d="M28.2969 20.7031H16.0718C15.6834 20.7031 15.3687 20.3883 15.3687 20C15.3687 19.6117 15.6834 19.2969 16.0718 19.2969H28.2969C28.6853 19.2969 29.0001 19.6117 29.0001 20C29.0001 20.3883 28.6853 20.7031 28.2969 20.7031Z" fill="#DADADA")
                    path(d="M28.2969 25.9766H16.0718C15.6834 25.9766 15.3687 25.6618 15.3687 25.2734C15.3687 24.8851 15.6834 24.5703 16.0718 24.5703H28.2969C28.6853 24.5703 29.0001 24.8851 29.0001 25.2734C29.0001 25.6618 28.6853 25.9766 28.2969 25.9766Z" fill="#DADADA")
                    path(d="M28.2969 15.4297H16.0718C15.6834 15.4297 15.3687 15.1149 15.3687 14.7266C15.3687 14.3382 15.6834 14.0234 16.0718 14.0234H28.2969C28.6853 14.0234 29.0001 14.3382 29.0001 14.7266C29.0001 15.1149 28.6853 15.4297 28.2969 15.4297Z" fill="#DADADA")
                    path(d="M11.9492 24.3242C12.4735 24.3242 12.8984 24.7492 12.8984 25.2734C12.8984 25.7977 12.4735 26.2227 11.9492 26.2227C11.425 26.2227 11 25.7977 11 25.2734C11 24.7492 11.425 24.3242 11.9492 24.3242Z" fill="#DADADA")
                    path(d="M11.9492 19.0508C12.4735 19.0508 12.8984 19.4758 12.8984 20C12.8984 20.5242 12.4735 20.9492 11.9492 20.9492C11.425 20.9492 11 20.5242 11 20C11 19.4758 11.425 19.0508 11.9492 19.0508Z" fill="#DADADA")
                    path(d="M11.9492 13.7773C12.4735 13.7773 12.8984 14.2023 12.8984 14.7266C12.8984 15.2508 12.4735 15.6758 11.9492 15.6758C11.425 15.6758 11 15.2508 11 14.7266C11 14.2023 11.425 13.7773 11.9492 13.7773Z" fill="#DADADA")
                defs
                    clipPath(id="clip0")
                        rect(width="18" height="18" fill="white" transform="matrix(1 0 0 -1 11 29)")